{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}
    <!-- TOP AREA -->
    <div class="top-area show-onload">
        <div class="bg-holder full">
            <div class="bg-front bg-front-mob-rel">
                <div class="container">
                    <div class="search-tabs search-tabs-bg search-tabs-abs mt50">
                        <div class="tabbable">
                            <ul class="nav nav-tabs" id="myTab">
                                {#<li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-building-o"></i> <span >Hoteles</span></a>#}
                                {#</li>#}
                                <!--<li><a href="#tab-2" data-toggle="tab"><i class="fa fa-plane"></i> <span >Vuelos</span></a>
                                </li>-->
                                <!--<li><a href="#tab-4" data-toggle="tab"><i class="fa fa-car"></i> <span >Autos</span></a>
                                </li>
                                <li><a href="#tab-5" data-toggle="tab"><i class="fa fa-suitcase"></i> <span >Paquetes</span></a>
                                </li>-->
                            </ul>
                            <div class="tab-content">
                                <!-- hoteles -->
                                <div class="tab-pane fade in active" id="tab-1">
                                    {% include 'VientoSurAppAppBundle:Hotel:searchHotels.html.twig' %}
                                </div>

                                <!-- vuelos -->
                                <div class="tab-pane fade" id="tab-2">
                                    {% include 'VientoSurAppAppBundle:Flight:searchFlight.html.twig' %}
                                </div>

                                <!-- autos -->
                                <div class="tab-pane fade" id="tab-4">
                                    {% include 'VientoSurAppAppBundle:Cars:searchCars.html.twig' %}
                                </div>

                                <!-- paquetes -->
                                <div class="tab-pane fade" id="tab-5">
                                    {% include 'VientoSurAppAppBundle:Packages:searchPackages.html.twig' %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="owl-carousel owl-slider owl-carousel-area visible-lg" id="owl-carousel-slider">

                <div class="bg-holder full">
                    <div class="bg-mask"></div>
                    <div class="bg-img" style="background-image:url({{ asset('bundles/vientosurappapp/images/foto.jpg') }});"></div>
                </div>

                <div class="bg-holder full">
                    <div class="bg-mask"></div>
                    <div class="bg-img" style="background-image:url({{ asset('bundles/vientosurappapp/images/foto2.jpg') }});"></div>
                </div>

                <div class="bg-holder full">
                    <div class="bg-mask"></div>
                    <div class="bg-img" style="background-image:url({{ asset('bundles/vientosurappapp/images/foto3.jpg') }});"></div>
                </div>
            </div>
            <div class="bg-img hidden-lg" style="background-image:url({{ asset('bundles/vientosurappapp/images/foto.jpg') }});"></div>
            <div class="bg-mask hidden-lg"></div>
        </div>
    </div>
    <!-- END TOP AREA  -->

    {#{% include 'VientoSurAppAppBundle:Index:promotions.html.twig' %}#}

    <div class="bg-darken garantias">
        <div class="container">
            <div class="row" data-gutter="60">

                <div class="col-md-6">
                    <div class="thumb"><i class="fa fa-dollar box-icon-left round box-icon-big animate-icon-top-to-bottom"></i>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Todas las ofertas en un solo lugar</h5>
                            <p class="thumb-desc">Nuestro algoritmo de búsqueda permite que usted encuentre aquí las mejores ofertas</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="thumb"><i class="fa fa-lock box-icon-left round box-icon-big animate-icon-top-to-bottom"></i>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Confianza y seguridad</h5>
                            <p class="thumb-desc"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function () {
        {#Código para el formulario de búsqueda de vuelos#}
        $('#childrens-value').val(0);
        $('#adults-value').val(1);
        $('input[type=radio][name=childrens]').change(function () {
            var childrens = $.trim($(this).parent().text());
            if (childrens > 0 || childrens == '3+') {
                if (childrens == '3+') {
                    childrens = 4;
                } else {
                    childrens = Number(childrens);
                }
                for (var i = 1; i < 8; i++) {
                    var selector = 'field-menor-' + i;
                    if (i <= childrens) {
                        {#Para selccionar la clase#}
                        $('.' + selector).show();
                        {#Para selccionar el elemento#}
                        $('#' + selector).prop('required', true);
                    } else {
                        {#Para selccionar la clase#}
                        $('.' + selector).hide();
                        {#Para selccionar el elemento#}
                        $('#' + selector).removeProp('required');
                    }
                }
                $('.MenoresNum').removeClass('hidden');
            } else {
                for (var i = 1; i < 8; i++) {
                    var selector = 'field-menor-' + i;
                    {#Para selccionar la clase#}
                    $('.' + selector).hide();
                    {#Para selccionar el elemento#}
                    $('#' + selector).removeProp('required');
                }
                $('.MenoresNum').addClass('hidden');
            }
            $('#childrens-value').val(childrens);
        });

        $('#childrens-plus').change(function () {
            for (var i = 1; i < 8; i++) {
                var selector = 'field-menor-' + i;
                if (i <= this.value) {
                    {#Para selccionar la clase#}
                    $('.' + selector).show();
                    {#Para selccionar el elemento#}
                    $('#' + selector).prop('required', true);
                } else {
                    {#Para selccionar la clase#}
                    $('.' + selector).hide();
                    {#Para selccionar el elemento#}
                    $('#' + selector).removeProp('required');
                }
            }
            if (this.value == 0) {
                $('.MenoresNum').addClass('hidden');
            } else {
                $('.MenoresNum').removeClass('hidden');
            }
            $('#childrens-value').val(this.value);
        });

        $('input[type=radio][name=adults]').change(function () {
            var adults = $.trim($(this).parent().text());
            $('#adults-value').val(adults);
        });
        $('#adults-plus').change(function () {
            $('#adults-value').val(this.value);
        });
    });
</script>
{% endblock %}