<div class="top-user-area clearfix">
    <ul class="top-user-area-list list list-horizontal list-border">
        <!--<li><a href="#">Iniciar Sesión</a></li>-->
        <!--<li><a href="#">Registrarse</a></li>-->
        {#<li class="nav-drop">#}
            {#<a href="#">#}
                {#AR $<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>#}
            {#</a>#}
            {#<ul class="list nav-drop-menu">#}
                {#{% for currency in currencies %}#}
                {#<li>#}

                    {#<a href="#">{{ currency.name }}</a>#}
                {#</li>#}
                {#{% endfor %}#}
            {#</ul>#}
        {#</li>#}
        <li class="top-user-area-lang nav-drop">
            {% if app.request.locale == 'en' %}
                <a title="English" href="{{ path('homepage', {'_locale': 'en'}) }}">
                    English<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i><img src="{{ asset('bundles/vientosurappapp/images/fl-en.png') }}" alt="English" title="English" />
                </a>
            {% elseif app.request.locale == 'pt' %}
                <a title="Portuguese" href="{{ path('homepage', {'_locale': 'pt'}) }}">
                    Portuguese<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i><img src="{{ asset('bundles/vientosurappapp/images/fl-br.png') }}" alt="Portuguese" title="Portuguese" />
                </a>
            {% else %}
                {% set country = app.session.get('country') %}
                <a href="{{ path('homepage', {'_locale': 'es'}) }}">
                    {% if country == '' %}
                        {% set country = 'ar' %}
                    {% endif %}
                    {% set textCountry = 'Argentina' %}
                    {% if country == 'ar' %}
                        {% set textCountry = 'Argentina' %}
                    {% elseif country == 'bo' %}
                        {% set textCountry = 'Bolivia' %}
                    {% elseif country == 'cl' %}
                        {% set textCountry = 'Chile' %}
                    {% elseif country == 'co' %}
                        {% set textCountry = 'Colombia' %}
                    {% elseif country == 'cr' %}
                        {% set textCountry = 'Costa Rica' %}
                    {% elseif country == 'cu' %}
                        {% set textCountry = 'Cuba' %}
                    {% elseif country == 'ec' %}
                        {% set textCountry = 'Ecuador' %}
                    {% elseif  country == 'sv' %}
                        {% set textCountry = 'El Salvador' %}
                    {% elseif  country == 'gt' %}
                        {% set textCountry = 'Guatemala' %}
                    {% elseif  country == 'ht' %}
                        {% set textCountry = 'Haití' %}
                    {% elseif  country == 'hn' %}
                        {% set textCountry = 'Honduras' %}
                    {% elseif  country == 'mx' %}
                        {% set textCountry = 'México' %}
                    {% elseif  country == 'ni' %}
                        {% set textCountry = 'Nicaragua' %}
                    {% elseif  country == 'pa' %}
                        {% set textCountry = 'Panamá' %}
                    {% elseif  country == 'py' %}
                        {% set textCountry = 'Paraguay' %}
                    {% elseif  country == 'pe' %}
                        {% set textCountry = 'Perú' %}
                    {% elseif  country == 'do' %}
                        {% set textCountry = 'R Dominicana' %}
                    {% elseif  country == 'uy' %}
                        {% set textCountry = 'Uruguay' %}
                    {% elseif  country == 've' %}
                        {% set textCountry = 'Venezuela' %}
                    {% endif %}
                    {% set src =  'bundles/vientosurappapp/images/fl-' ~ country ~ '.png' %}
                    {{ textCountry }}<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i><img
                            src="{{ asset(src) }}" alt="{{ textCountry }}"
                            title="{{ country }}"/>
                </a>
            {% endif %}

            <ul class="list nav-drop-menu">
                <li>
                    <a href="javascript:changePage('es', 'ar');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-ar.png') }}" alt="Argentina" title="Argentina" data-cc="ar" /><span class="right">Argentina</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'bo');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-bo.png') }}" alt="Bolivia" title="Bolivia" data-cc="bo" /><span class="right">Bolivia</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'cl');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-cl.png') }}" alt="Chile" title="Chile" data-cc="cl" /><span class="right">Chile</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'co');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-co.png') }}" alt="Colombia" title="Colombia" data-cc="co" /><span class="right">Colombia</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'cr');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-cr.png') }}" alt="Costa Rica" title="Costa Rica" data-cc="cr" /><span class="right">Costa Rica</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'cu');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-cu.png') }}" alt="Cuba" title="Cuba" data-cc="cu" /><span class="right">Cuba</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'ec');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-ec.png') }}" alt="Ecuador" title="Ecuador" data-cc="ec" /><span class="right">Ecuador</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'sv');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-sv.png') }}" alt="El Salvador" title="El Salvador" data-cc="sv" /><span class="right">El Salvador</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'gt');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-gt.png') }}" alt="Guatemala" title="Guatemala" data-cc="gt" /><span class="right">Guatemala</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'ht');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-ht.png') }}" alt="Haití" title="Haití" data-cc="ht" /><span class="right">Haití</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'hn');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-hn.png') }}" alt="Honduras" title="Honduras" data-cc="hn" /><span class="right">Honduras</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'mx');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-mx.png') }}" alt="México" title="México" data-cc="mx" /><span class="right">México</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'ni');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-ni.png') }}" alt="Nicaragua" title="Nicaragua" data-cc="ni" /><span class="right">Nicaragua</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'pa');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-pa.png') }}" alt="Panamá" title="Panamá" data-cc="pa" /><span class="right">Panamá</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'py');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-py.png') }}" alt="Paraguay" title="Paraguay" data-cc="py" /><span class="right">Paraguay</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'pe');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-pe.png') }}" alt="Perú" title="Perú" data-cc="pe" /><span class="right">Perú</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'do');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-do.png') }}" alt="R Dominicana" title="R Dominicana" data-cc="do" /><span class="right">R Dominicana</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 'uy');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-uy.png') }}" alt="Uruguay" title="Uruguay" data-cc="uy" /><span class="right">Uruguay</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:changePage('es', 've');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-ve.png') }}" alt="Venezuela" title="Venezuela" data-cc="ve" /><span class="right">Venezuela</span>
                    </a>
                </li>

                {% if app.request.locale != 'es' %}
                <li>
                    <a href="javascript:changePage('es', 'ar');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-ar.png') }}" alt="Español" title="Español" /><span class="right">Español </span>
                    </a>
                </li>
                {% endif %}
                {% if app.request.locale != 'en' %}
                <li>
                    <a title="English" href="javascript:changePage('en');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-en.png') }}" alt="English" title="English" /><span class="right">English </span>
                    </a>
                </li>
                {% endif %}
                {% if app.request.locale != 'pt' %}
                <li>
                    <a title="Portuguese" href="javascript:changePage('pt');" class="language">
                        <img src="{{ asset('bundles/vientosurappapp/images/fl-br.png') }}" alt="Portuguese" title="Portuguese" /><span class="right">Portuguese </span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </li>
    </ul>
</div>