{#<!-- hoteles -->#}
<div class="wrapper">
    <div class="promotions">
        <div class="container">
            {% for section in sections %}
            <h2>{{ section.title }}</h2>
            <h4 class="mb20">{{ section.subtitle }}</h4>
            <div class="row">
                {% for promotion in promotions %}
                    {% if promotion.section.id == section.id %}
                    <div class="col-xs-4">
                        <div class="thumbs">
                            <img style="width: 363px; height: 345px;" src="{{asset(vich_uploader_asset(promotion, 'image')) }}" alt="{{ promotion.name }}">
                            <div class="captionThumb">
                                <a href="{{ promotion.link }}">
                                    <h4>{{ promotion.name }}</h4>
                                    <h5>{{ promotion.description | truncate(10, true) | raw  }}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor
                %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>