{#<!-- hoteles - promotions -->#}
{#<pre>{{ dump(promotions) }}</pre>#}
<div class="wrapper">
    <div class="promotions">
        <div class="container">
            {% for section in sections %}
            <div class="row" style="padding-top: 20px">
                <div class="col-xs-12">
                    <h1>{{ section.title }}</h1>
                    {% if section.subtitle != '' %}
                        <h4 style="text-align: center;" class="mb20">{{ section.subtitle }}</h4>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% for promotion in promotions %}
                    {% if promotion.section.id == section.id %}
                    <div class="col-xs-4">
                        <div class="grid">
                            <figure class="effect-goliath">
                                <img style="width: 363px; height: 345px;" src="{{asset(vich_uploader_asset(promotion, 'image')) }}" alt="{{ promotion.name }}">
                                <figcaption>
                                    <h2>{{ promotion.name }}</h2>
                                    {% if promotion.description | length > 0 %}
                                        {{ promotion.description | truncate(60, true) | raw  }}
                                    {% endif %}
                                    <a href="{{ promotion.link }}"></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>