{% extends '::base.html.twig' %}

{% block title %}Viento Sur{% endblock %}

{% block stylesheets %}
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{#{ asset('bundles/vientosurappapp/css/datepicker.css') }#}" />-->

    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->

    <!-- bootstrap  -->
    <link href="{{ asset('bundles/vientosurappapp/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="{{ asset('bundles/vientosurappapp/css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="{{ asset('bundles/vientosurappapp/css/styles.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset('bundles/vientosurappapp/css/vs-global.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}

     <div class="global-wrap">
        <header id="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3">
                            <a class="logo" href="#">
                                <img src="{{ asset('bundles/vientosurappapp/images/vientosur-logo-color.png') }}" alt="Viento Sur" title="" />
                            </a>
                        </div>

                        <div class="col-md-9">
                            <div class="top-user-area clearfix">
                                <ul class="top-user-area-list list list-horizontal list-border">
                                    <li><a href="#">Iniciar Sesión</a></li>

                                    <li><a href="#">Registrarse</a></li>

                                    <li class="nav-drop"><a href="#">AR $<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                        <ul class="list nav-drop-menu">
                                            <li><a href="#">EUR<span class="right">€</span></a>
                                            </li>
                                            <li><a href="#">USD<span class="right">$</span></a>
                                            </li>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="top-user-area-lang nav-drop">
                                        <a href="#">
                                            Español<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i><img src="{{ asset('bundles/vientosurappapp/images/fl-ar.png') }}" alt="Español" title="Español" />
                                        </a>
                                        <ul class="list nav-drop-menu">
                                            <li>
                                                <a title="English" href="#">
                                                    <img src="{{ asset('bundles/vientosurappapp/images/fl-en.png') }}" alt="English" title="English" /><span class="right">English</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Portuguese" href="#">
                                                    <img src="{{ asset('bundles/vientosurappapp/images/flag_pt.png') }}" alt="Portuguese" title="Portuguese" /><span class="right">Portuguese</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="nav">
                    <ul class="slimmenu" id="slimmenu">
                        <li class="active"><a href="index-5.html">HOTELES</a></li>
                        <!--<li><a href="#">VUELOS</a></li>
                        <li><a href="#">AUTOS</a></li>
                        <li><a href="#">PAQUETES</a></li>
                        <li><a href="#">COMPRA SEGURA</a></li>-->
                    </ul>
                </div>
            </div>
        </header>

        <!-- end header -->


        <!-- TOP AREA -->
        <div class="top-area show-onload">
            <div class="bg-holder full">
                <div class="bg-front bg-front-mob-rel">
                    <div class="container">
                        <div class="search-tabs search-tabs-bg search-tabs-abs mt50">
                            <div class="tabbable">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-building-o"></i> <span >Hoteles</span></a>
                                    </li>
                                    <!--<li><a href="#tab-2" data-toggle="tab"><i class="fa fa-plane"></i> <span >Vuelos</span></a>
                                    </li>
                                    <li><a href="#tab-4" data-toggle="tab"><i class="fa fa-car"></i> <span >Autos</span></a>
                                    </li>
                                    <li><a href="#tab-5" data-toggle="tab"><i class="fa fa-suitcase"></i> <span >Paquetes</span></a>
                                    </li>-->
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab-1">
                                        {%include 'VientoSurAppAppBundle:Hotel:searchHotels.html.twig'%}
                                        <!--<h2>Buscá tu hotel</h2>-->
                                        <!--<form>
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                        <label>¿A dónde?</label>
                                                        <input class="typeahead form-control" placeholder="Destino, Código Postal" type="text" />
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div class="input-daterange" data-date-format="d M, D">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>Fecha de Entrada</label>
                                                                    <input id="field-hotel-checkin" class="form-control required" name="start" type="text" required="" placeholder="dd/mm/yyyy" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>Fecha de Salida</label>
                                                                    <input id="field-hotel-checkout required" class="form-control" name="end" type="text" required="" placeholder="dd/mm/yyyy" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-4">
                                                    <div class="form-group form-group-lg form-group-select-plus">
                                                        <label>Habitaciones</label>
                                                        <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                            <label class="btn btn-primary active">
                                                                <input type="radio" name="options" />1</label>
                                                            <label class="btn btn-primary">
                                                                <input type="radio" name="options" />2</label>
                                                            <label class="btn btn-primary">
                                                                <input type="radio" name="options" />3</label>
                                                            <label class="btn btn-primary">
                                                                <input type="radio" name="options" />3+</label>
                                                        </div>
                                                        <select class="form-control hidden">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option selected="selected">4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                            <option>13</option>
                                                            <option>14</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group form-group-lg form-group-select-plus">
                                                        <label>Adultos</label>
                                                        <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                            <label class="btn btn-primary active">
                                                                <input type="radio" name="options" />1</label>
                                                            <label class="btn btn-primary">
                                                                <input type="radio" name="options" />2</label>
                                                            <label class="btn btn-primary">
                                                                <input type="radio" name="options" />3</label>
                                                            <label class="btn btn-primary">
                                                                <input type="radio" name="options" />3+</label>
                                                        </div>
                                                        <select class="form-control hidden">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option selected="selected">4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                            <option>13</option>
                                                            <option>14</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group form-group-lg form-group-select-plus">
                                                        <label>Nińos</label>
                                                        <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                            <label class="btn btn-primary active">
                                                                <input type="radio" name="options" />1</label>
                                                            <label class="btn btn-primary">
                                                                <input type="radio" name="options" />2</label>
                                                            <label class="btn btn-primary">
                                                                <input type="radio" name="options" />3</label>
                                                            <label class="btn btn-primary">
                                                                <input type="radio" name="options" />3+</label>
                                                        </div>
                                                        <select class="form-control hidden">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option selected="selected">4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option>7</option>
                                                            <option>8</option>
                                                            <option>9</option>
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                            <option>13</option>
                                                            <option>14</option>
                                                        </select>
                                                    </div>
                                                </div>


                                            </div>
                                            <button class="btn btn-primary btn-lg" type="submit">Buscar hoteles</button>
                                        </form>-->
                                    </div>

                                    <!-- vuelos -->
                                    <div class="tab-pane fade" id="tab-2">
                                        <h2>Buscá tu vuelo</h2>
                                        <form>
                                            <div class="tabbable">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="flight-search-1">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                                            <label>Origen</label>
                                                                            <input class="typeahead form-control" placeholder="Destino, Codigo postal" type="text" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                                            <label>Destino</label>
                                                                            <input class="typeahead form-control" placeholder="Destino, Código postal" type="text" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="input-daterange" data-date-format="M d, D">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                                <label>Partida</label>
                                                                                <input class="form-control required" name="start" type="text" required="" placeholder="dd/mm/yyyy" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                                <label>Regreso</label>
                                                                                <input class="form-control required" name="end" type="text" required="" placeholder="dd/mm/yyyy" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-4">
                                                                <div class="form-group form-group-lg form-group-select-plus">
                                                                    <label>Adultos</label>
                                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                        <label class="btn btn-primary active">
                                                                            <input type="radio" name="options" />1</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />2</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />3</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />3+</label>
                                                                    </div>
                                                                    <select class="form-control hidden">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option selected="selected">4</option>
                                                                        <option>5</option>
                                                                        <option>6</option>
                                                                        <option>7</option>
                                                                        <option>8</option>
                                                                        <option>9</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group form-group-lg form-group-select-plus">
                                                                    <label>Nińos</label>
                                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                        <label class="btn btn-primary active">
                                                                            <input type="radio" name="options" />1</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />2</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />3</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />3+</label>
                                                                    </div>
                                                                    <select class="form-control hidden">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option selected="selected">4</option>
                                                                        <option>5</option>
                                                                        <option>6</option>
                                                                        <option>7</option>
                                                                        <option>8</option>
                                                                        <option>9</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <!--se abre si hay menores-->
                                                            <div class="col-md-12 MenoresNum mb10">
                                                                <div class="form-group form-group-lg form-group-select-plus">
                                                                    <label for="field-hotel-adult">Edad de los menores al finalizar el viaje</label>
                                                                </div>

                                                                <!--depende del numero de menores-->
                                                                <div class="col-md-3">
                                                                    <div class="form-group form-group-lg form-group-select-plus">
                                                                        <select id="field-rental-adult" class="form-control " name="adult_number">
                                                                            <option value="NA">Menor 1</option>
                                                                            <option value="M">0 a 24 meses (en brazos)</option>
                                                                            <option value="I">0 a 24 meses (en asiento)</option>
                                                                            <option value="C">2 a 11 años</option>
                                                                            <option value="A">12 años o más</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group form-group-lg form-group-select-plus">
                                                                        <select id="field-rental-adult" class="form-control " name="adult_number">
                                                                            <option value="NA">Menor 2</option>
                                                                            <option value="M">0 a 24 meses (en brazos)</option>
                                                                            <option value="I">0 a 24 meses (en asiento)</option>
                                                                            <option value="C">2 a 11 años</option>
                                                                            <option value="A">12 años o más</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group form-group-lg form-group-select-plus">
                                                                        <select id="field-rental-adult" class="form-control " name="adult_number">
                                                                            <option value="NA">Menor 3</option>
                                                                            <option value="M">0 a 24 meses (en brazos)</option>
                                                                            <option value="I">0 a 24 meses (en asiento)</option>
                                                                            <option value="C">2 a 11 años</option>
                                                                            <option value="A">12 años o más</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group form-group-lg form-group-select-plus">
                                                                        <select id="field-rental-adult" class="form-control " name="adult_number">
                                                                            <option value="NA">Menor 4</option>
                                                                            <option value="M">0 a 24 meses (en brazos)</option>
                                                                            <option value="I">0 a 24 meses (en asiento)</option>
                                                                            <option value="C">2 a 11 años</option>
                                                                            <option value="A">12 años o más</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-lg" type="submit">Buscar vuelos</button>
                                        </form>
                                    </div>

                                    <!-- autos -->
                                    <div class="tab-pane fade" id="tab-4">
                                        <h2>Alquiler de autos</h2>
                                        <form>
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                        <label>¿Dónde deseas retirarlo?</label>
                                                        <input class="typeahead form-control" placeholder="Destino, Código postal" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                        <label>¿Dónde deseas devolverlo?</label>
                                                        <input class="typeahead form-control" placeholder="Destino, Código postal" type="text" />
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="input-daterange" data-date-format="M d, D">
                                                        <div class="row">

                                                            <div class="col-md-3">
                                                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>Fecha de alquiler</label>
                                                                    <input id="field-car-pickup-date" class="form-control required" name="start" type="text" required="" placeholder="dd/mm/yyyy" />
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-clock-o input-icon input-icon-hightlight"></i>
                                                                    <label>Hora de alquiler</label>
                                                                    <input id="field-car-pickup-time" class="time-pick form-control required" value="12:00 AM" required="" type="text" />
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>Fecha de devolución</label>
                                                                    <input id="field-car-dropoff-date" class="form-control required" name="end" type="text" required="" placeholder="dd/mm/yyyy" />
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-clock-o input-icon input-icon-hightlight"></i>
                                                                    <label>Hora de devolución</label>
                                                                    <input id="field-car-dropoff-time" class="time-pick form-control required" value="12:00 AM" required="" type="text" />
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <button class="btn btn-primary btn-lg" type="submit">Buscar autos</button>
                                        </form>
                                    </div>

                                    <!-- paquetes -->
                                    <div class="tab-pane fade" id="tab-5">
                                        <h2>Busca paquetes</h2>
                                        <form>
                                            <div class="tabbable">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="flight-search-1">

                                                        <div class="row">

                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                                            <label>Origen</label>
                                                                            <input class="typeahead form-control" placeholder="Destino, Codigo postal" type="text" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                                            <label>Destino</label>
                                                                            <input class="typeahead form-control" placeholder="Destino, Código postal" type="text" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="input-daterange" data-date-format="M d, D">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                                <label>Partida</label>
                                                                                <input class="form-control required" name="start" type="text" required="" placeholder="dd/mm/yyyy" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                                <label>Regreso</label>
                                                                                <input class="form-control required" name="end" type="text" required="" placeholder="dd/mm/yyyy" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group form-group-lg form-group-select-plus">
                                                                    <label>Habitaciones</label>
                                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                        <label class="btn btn-primary active">
                                                                            <input type="radio" name="options" />1</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />2</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />3</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />3+</label>
                                                                    </div>
                                                                    <select class="form-control hidden">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option selected="selected">4</option>
                                                                        <option>5</option>
                                                                        <option>6</option>
                                                                        <option>7</option>
                                                                        <option>8</option>
                                                                        <option>9</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                    </select>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-4">
                                                                <div class="form-group form-group-lg form-group-select-plus">
                                                                    <label>Adultos</label>
                                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                        <label class="btn btn-primary active">
                                                                            <input type="radio" name="options" />1</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />2</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />3</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />3+</label>
                                                                    </div>
                                                                    <select class="form-control hidden">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option selected="selected">4</option>
                                                                        <option>5</option>
                                                                        <option>6</option>
                                                                        <option>7</option>
                                                                        <option>8</option>
                                                                        <option>9</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group form-group-lg form-group-select-plus">
                                                                    <label>Nińos</label>
                                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                        <label class="btn btn-primary active">
                                                                            <input type="radio" name="options" />1</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />2</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />3</label>
                                                                        <label class="btn btn-primary">
                                                                            <input type="radio" name="options" />3+</label>
                                                                    </div>
                                                                    <select class="form-control hidden">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option selected="selected">4</option>
                                                                        <option>5</option>
                                                                        <option>6</option>
                                                                        <option>7</option>
                                                                        <option>8</option>
                                                                        <option>9</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-lg" type="submit">Buscar paquetes</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="owl-carousel owl-slider owl-carousel-area visible-lg" id="owl-carousel-slider">

                    <div class="bg-holder full">
                        <div class="bg-mask"></div>
                        <div class="bg-img" style="background-image:url({{ asset('bundles/vientosurappapp/images/foto.jpg') }});"></div>
                    </div>

                    <div class="bg-holder full">
                        <div class="bg-mask"></div>
                        <div class="bg-img" style="background-image:url({{ asset('bundles/vientosurappapp/images/foto2.jpg') }});"></div>
                    </div>

                    <div class="bg-holder full">
                        <div class="bg-mask"></div>
                        <div class="bg-img" style="background-image:url({{ asset('bundles/vientosurappapp/images/foto3.jpg') }});"></div>
                    </div>
                </div>
                <div class="bg-img hidden-lg" style="background-image:url({{ asset('bundles/vientosurappapp/images/foto.jpg') }});"></div>
                <div class="bg-mask hidden-lg"></div>
            </div>
        </div>
        <!-- END TOP AREA  -->

        <!-- hoteles -->
        <div class="container">
            <div class="gap-small"></div>

            <h2 class="mb20">Hoteles en promoción</h2>

            <div class="row row-wrap">

                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="#">
                                <img src="{{ asset('bundles/vientosurappapp/images/img.jpg') }}" alt="Hotel Chavanel" title="Reserva" />
                                <h5 class="hover-title-center">Reserva</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title mb5"><a class="text-darken" href="#">Hotel Chavanel</a></h5>
                            <p class="mb5">Paris</small></p>
                            <p class="mb0"><span class="text-lg lh1em text-color">$354</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="#">
                                <img src="{{ asset('bundles/vientosurappapp/images/img.jpg') }}" alt="Hotel Chavanel" title="Reserva" />
                                <h5 class="hover-title-center">Reserva</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title mb5"><a class="text-darken" href="#">Hotel Chavanel</a></h5>
                            <p class="mb5">Paris</small></p>
                            <p class="mb0"><span class="text-lg lh1em text-color">$354</span></p>
                        </div>
                    </div>
                </div>

               <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="#">
                                <img src="{{ asset('bundles/vientosurappapp/images/img.jpg') }}" alt="Hotel Chavanel" title="Reserva" />
                                <h5 class="hover-title-center">Reserva</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title mb5"><a class="text-darken" href="#">Hotel Chavanel</a></h5>
                            <p class="mb5">Paris</small></p>
                            <p class="mb0"><span class="text-lg lh1em text-color">$354</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="#">
                                <img src="{{ asset('bundles/vientosurappapp/images/img.jpg') }}" alt="Hotel Chavanel" title="Reserva" />
                                <h5 class="hover-title-center">Reserva</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title mb5"><a class="text-darken" href="#">Hotel Chavanel</a></h5>
                            <p class="mb5">Paris</small></p>
                            <p class="mb0"><span class="text-lg lh1em text-color">$354</span></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="gap gap-small"></div>
        </div>

        <!-- paquetes -->
        <div class="container">
            <div class="gap-small"></div>

            <h2 class="mb20">Paquetes destacados</h2>

            <div class="row row-wrap">
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="#">
                                <img src="{{ asset('bundles/vientosurappapp/images/img.jpg') }}" alt="Florianopolis" title="Reserva" />
                                <h5 class="hover-title-center">Reserva</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="mb5 thumb-title"><a class="text-darken" href="#">Florianopolis</a></h5>
                            <p class="mb5"> 7 días / 6 noches</small></p>
                            <p class="mb5"><span class="text-lg lh1em text-color">18 cuotas de $1354</span></p>
                            <p>Tarifa final <strong>$13245</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="#">
                                <img src="{{ asset('bundles/vientosurappapp/images/img.jpg') }}" alt="Florianopolis" title="Reserva" />
                                <h5 class="hover-title-center">Reserva</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="mb5 thumb-title"><a class="text-darken" href="#">Florianopolis</a></h5>
                            <p class="mb5"> 7 días / 6 noches</small></p>
                            <p class="mb5"><span class="text-lg lh1em text-color">18 cuotas de $1354</span></p>
                            <p>Tarifa final <strong>$13245</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="#">
                                <img src="{{ asset('bundles/vientosurappapp/images/img.jpg') }}" alt="Florianopolis" title="Reserva" />
                                <h5 class="hover-title-center">Reserva</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="mb5 thumb-title"><a class="text-darken" href="#">Florianopolis</a></h5>
                            <p class="mb5"> 7 días / 6 noches</small></p>
                            <p class="mb5"><span class="text-lg lh1em text-color">18 cuotas de $1354</span></p>
                            <p>Tarifa final <strong>$13245</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="#">
                                <img src="{{ asset('bundles/vientosurappapp/images/img.jpg') }}" alt="Florianopolis" title="Reserva" />
                                <h5 class="hover-title-center">Reserva</h5>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="mb5 thumb-title"><a class="text-darken" href="#">Florianopolis</a></h5>
                            <p class="mb5"> 7 días / 6 noches</small></p>
                            <p class="mb5"><span class="text-lg lh1em text-color">18 cuotas de $1354</span></p>
                            <p>Tarifa final <strong>$13245</strong></p>
                        </div>
                    </div>
                </div>

        </div>
            <div class="gap gap-small"></div>
        </div>

        <div class="bg-darken garantias">
            <div class="container">
                <div class="row" data-gutter="60">

                    <div class="col-md-6">
                        <div class="thumb"><i class="fa fa-dollar box-icon-left round box-icon-big animate-icon-top-to-bottom"></i>
                            <div class="thumb-caption">
                                <h5 class="thumb-title">Mejor precio garantizado</h5>
                                <p class="thumb-desc">Nuestro algoritmo de búsqueda encuentra las mejores ofertas</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="thumb"><i class="fa fa-lock box-icon-left round box-icon-big animate-icon-top-to-bottom"></i>
                            <div class="thumb-caption">
                                <h5 class="thumb-title">Confianza y seguridad</h5>
                                <p class="thumb-desc">10 años de trayectoria y cumplimiento de nuestros servicios nos respaldan</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <footer id="main-footer">

            <div class="container">
                <div class="row row-wrap">

                    <div class="col-md-4">
                        <a class="logo" href="index.html">
                            <img src="{{ asset('bundles/vientosurappapp/images/vientosur-logo-invert.png') }}" alt="Viento Sur" title="" />
                        </a>
                        <p class="mb20">Reserva tu viaje a cualquier parte del <br> mundo al mejor precio garantizado</p>
                        <ul class="list list-horizontal list-space">
                            <li>
                                <a class="fa fa-facebook box-icon-md round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter box-icon-md round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus box-icon-md round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin box-icon-md round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest box-icon-md round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h4>Newsletter</h4>
                        <form>
                            <input type="text" class="form-control mb10" placeholder="ingresa tu e-mail">
                            <input type="submit" class="btn btn-primary" value="Suscribirse">
                        </form>
                    </div>

                    <div class="col-md-4">
                        <h4>¿Tenés consultas?</h4>
                        <p>Si querés enviarnos una consulta contactanos a través de nuestro formulario de contacto</p>
                        <input type="submit" class="btn btn-primary" value="Contacto">
                    </div>

                </div>
            </div>
        </footer>
     </div>

{% endblock %}

{% block javascripts %}


    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/Hotel/hotel.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/AutoComplete/jquery.mockjax.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/AutoComplete/jquery.autocomplete.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <!--<script type="text/javascript" src="{##}{ asset('bundles/vientosurappapp/js/bootstrap-datepicker.js') }#}"></script>-->

    <script src="{{ asset('bundles/vientosurappapp/js/modernizr.js') }}"></script>
    <!--<script src="{#{ asset('bundles/vientosurappapp/js/jquery.js') }#}" type="text/javascript"></script>-->
    <script src="{{ asset('bundles/vientosurappapp/js/bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/slimmenu.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/bootstrap-datepicker.es.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/bootstrap-timepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/nicescroll.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/dropit.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/ionrangeslider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/icheck.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/fotorama.js') }}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/typeahead.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/card-payment.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/magnific.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/owl-carousel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/fitvids.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/tweet.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/countdown.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/gridrotator.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/custom.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            var url = Routing.generate('hotel_autocomplete');
            $('#autocomplete').autocomplete({
                serviceUrl: url,
                onSelect: function (suggestion) {
                    $("#destinationCity").val(suggestion.data);
                }
            });
        });
    </script>


{% endblock %}