{% extends ':admin:base.html.twig' %}

{% block title %}{{ 'admin.promotions' | trans }}{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ 'admin.promotions' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> {{ 'admin.promotions_manager' | trans }}
            </div>
            <div class="card-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'admin.period' | trans }}</th>
                        <th>{{ 'admin.name' | trans }}</th>
                        <th>{{ 'admin.promotion_section' | trans }}</th>
                        <th>Link</th>
                        <th>{{ 'admin.image' | trans }}</th>
                        <th>Status</th>
                        <th>{{ 'admin.created_by' | trans }}</th>
                        <th>{{ 'admin.actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.created | ago }}</td>
                            <td>{{ entity.name }}</td>
                            <td>
                                {% if entity.section %}
                                    {{ entity.section.title }}
                                {% endif %}
                            </td>
                            <td><a href="{{ entity.link }}" target="_blank"><i class="fa fa-link"></i></a></td>
                            <td>
                                {% if entity.imageName %}
                                    <img src="{{asset(vich_uploader_asset(entity, 'image')) }}" style="width: 100px; height: 100px;" alt="" class="img-avatar">
                                {% endif %}
                            </td>
                            <td>{{ entity.status.name }}</td>
                            <td>{{ entity.createdBy.username }}</td>
                            <td>
                                <a data-target="#delete-modal" data-toggle="modal" data-whatever="{{ path('promotion_delete', {id: entity.id}) }}"><i class="fa fa-trash"></i></a>
                                <a href="{{ path('promotion_edit', {id: entity.id}) }}"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}