{% extends '@VientoSurAppApp/layoutFlight.html.twig' %}

{% block content %}
    <div class="container formBooking">
        <div class="row">
            <div class="gap"></div>

            <div class="col-md-9 col-md-push-3">
                {{ form_start(formNewPay, {'attr': {'class': 'booking-form'}}) }}

                <!--Pasajeros-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Pasajeros</div>
                    <div class="panel-body">
                        {% for passenger in formChoice.passengers.adults %}
                            {% if loop.index0 > 0 %}
                                <hr/>
                            {% endif %}
                            <h5>Adulto {{ loop.index }}</h5>

                            <div class="row">
                                <div class="col-md-6">
                                    {% set fieldName = 'adults-first_name' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': 'Nombre(s):', 'attr': {'placeholder': 'Como aparece en el documento de viaje', 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {% set fieldName = 'adults-last_name' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': 'Apellido(s):', 'attr': {'placeholder': 'Como aparece en el documento de viaje', 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {% set fieldName = 'adults-nationality' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': 'Residencia:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-3">
                                    {% set fieldName = 'adults-type' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': 'Tipo:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-3">
                                    {% set fieldName = 'adults-number' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': 'Número:', 'attr': {'placeholder': 'Como aparece en el documento', 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {% set fieldName = 'adults-birthdate' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': 'Fecha de nacimiento:', 'attr': {'placeholder': 'dd/mm/aaaa', 'class': 'form-control birth-input'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {% set fieldName = 'adults-gender' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': 'Sexo:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        {% endfor %}

                        {#{% for passenger in formChoice.passengers.adults %}#}
                        {#{% endfor %}#}
                    </div>
                </div>
                <!--/Pasajeros-->

                <!--Formas de pago-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Formas de pago</div>
                    <div class="panel-body">
                        <div class="list-group">
                            {% for cuotas, bank in paymentMethods %}
                            <a href="javascript:void(0)" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <input type="radio" name="paymentOption" value="{{ cuotas }}">
                                    <b style="font-weight: bold !important;">{{ cuotas }}</b> Cuota{% if cuotas > 1 %}s{% endif %}
                                </h4>
                                <p class="list-group-item-text">
                                    <div class="radio">
                                    <div class="card-list credit-cards">
                                    {% for key, cards in bank %}
                                            {% if key == 'generic' %}
                                                {% for card in cards  %}
                                                    <label class="card-selector vs-cs-label">
                                                        <div class="eva-card-container clickable-card"
                                                             data-card-id="{{ card.card_code }}">
                                                            <span class="eva-card-body {{ card.card_code }}"></span>
                                                        </div>
                                                    </label>
                                                {% endfor %}
                                            {% else %}
                                                <div class="eva-card-container clickable-bank" data-trigger="focus" tabindex="0" role="button" id="{{ loop.parent.loop.index }}-{{ key }}">
                                                    <span class="eva-card-body {{ key }}"></span>
                                                    <div class="card-content hide">
                                                        {% for card in cards  %}
                                                            <div class="eva-card-container clickable-card" data-card-id="{{ card.generic_card_code }}" data-bank-id="{{ key }}" data-parent-id="{{ loop.parent.loop.parent.loop.index }}-{{ key }}">
                                                                <span class="eva-card-body {{ card.generic_card_code }}"></span>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                    {% endfor %}
                                    </div>
                                    </div>
                                </p>
                            </a>
                            {% endfor %}
                        </div>

                        {% for credit_card in formChoice.payments.credit_cards %}
                            <div class="row">
                                <div class="col-md-4">
                                    {% set fieldName = 'card-type' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Tarjeta seleccionada:', 'attr': {'class': 'hidden'}}) }}
                                    <input type="text" value="" id="card-selected" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {% set fieldName = 'card-number' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Número de Tarjeta:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {% set fieldName = 'card-security_code' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Código de seguridad:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {% set fieldName = 'card-expiration' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Vencimiento:'}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {% set fieldName = 'card-card_holder_name' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Titular de la tarjeta:', 'attr': {'placeholder': 'Como aparece en la tarjeta', 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {% set fieldName = 'card_holder_identification-type' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Tipo:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {% set fieldName = 'card_holder_identification-number' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Número de documento:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {% set fieldName = 'card_holder_identification-number' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Número de documento:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ dump(credit_card) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--/Formas de pago-->

                <!--Facturación-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos para facturación</div>
                    <div class="panel-body">
                        {% for invoice in formChoice.payments.credit_cards %}
                            <div class="row">
                                <div class="col-md-4">
                                    {% set fieldName = 'invoice-fiscal_status' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Situación fiscal:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {% set fieldName = 'invoice-fiscal_id' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'CUIL:', 'attr': {'placeholder': 'Ej: 20-00000000-3', 'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {% set fieldName = 'invoice-state' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Provincia:', 'attr': {'placeholder': 'Escriba para completar', 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {% set fieldName = 'invoice-city_id' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'CUIL:', 'attr': {'placeholder': 'Escriba para completar', 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {% set fieldName = 'invoice-street' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Calle:', 'attr': {'placeholder': '', 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-2">
                                    {% set fieldName = 'invoice-number' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Número:', 'attr': {'placeholder': '', 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-2">
                                    {% set fieldName = 'invoice-floor' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Piso:', 'attr': {'placeholder': '', 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-2">
                                    {% set fieldName = 'invoice-department' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.payments, fieldName), {'label': 'Depto:', 'attr': {'placeholder': '', 'class': 'form-control'}}) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--/Facturación-->

                <!--Contacto-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos de Contacto</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(attribute(formNewPay.contact_info, 'email-'), {'label': 'Email:', 'attr': {'placeholder': 'Ingrese su email', 'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="form_contact_info_email-" class="required">Confirme su Email:</label>
                                    <input type="email" id="form_contact_info_email-1" name="form[contact_info][email-1]" required="required" placeholder="Confirme su email" class="form-control">
                                </div>
                            </div>
                        </div>
                        {% for phone in formChoice.contact_info.phones %}
                            <div class="row">
                                <div class="col-md-3">
                                    {% set fieldName = 'phones-type' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.contact_info, fieldName), {'label': 'Teléfono:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-3">
                                    {% set fieldName = 'phones-country_code' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.contact_info, fieldName), {'label': 'País:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-2">
                                    {% set fieldName = 'phones-number' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.contact_info, fieldName), {'label': 'Área:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-2">
                                    {% set fieldName = 'phones-area_code' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.contact_info, fieldName), {'label': 'Número:', 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        {% endfor %}
                        {{ dump(formNewPay) }}
                        {{ dump(formChoice) }}
                    </div>
                </div>
                <!--/Contacto-->

                <div class="gap"></div>
                <div class="mod-searchbutton">
                    <button class="btn btn-primary btn-lg" type="submit">Comprar</button>
                    <span>Por favor, antes de finalizar, revise los datos ingresados.</span>
                </div>
                <div class="gap"></div>
                {#{{ form_rest(formNewPay) }}#}
                {{ form_end(formNewPay) }}
                {{ dump(paymentMethods) }}
            </div>

            <div class="col-md-3 col-md-pull-9">
                <div class="content-sidebar">
                    <div style="height: 800px;">LEFT</div>
                </div>
            </div>

            <div class="gap"></div>
            <div class="errors">
                {#{{ dump(errors) }}#}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/flight-payment-form.js') }}"></script>
    <script src="{{ asset('assets/vendor/intl-tel-input/build/js/intlTelInput.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .credit-card-div span {
            padding-top: 10px;
        }

        .credit-card-div img {
            padding-top: 30px;
        }

        .credit-card-div .small-font {
            font-size: 9px;
        }

        .credit-card-div .pad-adjust {
            padding-top: 10px;
        }

        .selected-p-card {
            border: 1px solid #1beab2 !important;
        }

        .eva-card-container:hover {
            border: 1px solid #1beab2 !important;
        }

        .card-list {
            font-size: 0;
            position: relative;
            text-align: right;
        }

        .installment-data {
            width: 50%;
            position: relative;
            float: left;
        }

        .card-list .eva-card-container {
            margin-left: 3px;
            /*margin-bottom: 5px;*/
        }

        .credit-cards {
            width: 50%;
            /* float: right; */
            margin-left: 50%;
        }

    </style>
    <link href="{{ asset('css/cards-vertical.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/vendor/intl-tel-input/build/css/intlTelInput.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}