{% extends 'VientoSurAppAppBundle::layoutFlight.html.twig' %}
{% block title %}{{ 'index.error' | trans }} {{ 'index.flight' | trans }} {% endblock %}

{% block content %}

    <div class="container bs-docs-container">
        <table class="table">
            <tr>
                <th>
                    <b>
                        <h3>{{ 'index.reservation_error' | trans }}.</h3>
                    </b>
                </th>
            </tr>
            <tr>
                <td>
                    <b>
                        {{ 'index.error_code' | trans }}: {{ status }}
                    </b>
                    {% if detail.causes is defined %}
                        <div class="row">
                            <div class="col-md-8">
                                <ul>
                                    {% for cause in detail.causes %}
                                        <li>{{ cause }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

{% endblock %}