{% extends '@VientoSurAppApp/layoutFlight.html.twig' %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Viento Sur</a></li>
            <li><a href="#">Vuelos</a></li>
            {% if app.session.get('origin_flight').text is defined %}
                {% set origin = app.session.get('origin_flight').text|split(',') %}
            {% else %}
                {% set origin = "" %}
            {% endif %}
            {% if app.session.get('destination_flight').text is defined %}
                {% set destination = app.session.get('destination_flight').text|split(',') %}
            {% else %}
                {% set destination = "" %}
            {% endif %}
            <li><a href="#">{{ items.paging.total }} Vuelos de {{ origin[0] }} a {{ destination[0] }}</a></li>
        </ul>

        <br />

        <div class="row">

            <div class="col-md-3">
                {% include '@VientoSurAppApp/Flight/searchMenuLeft.html.twig' %}
            </div>

            <div class="col-md-9">
                <div class="flight-filter">

                </div>

                <ul class="flight-list">
                    {% include 'VientoSurAppAppBundle:Flight:listDetailFlights.html.twig' %}
                </ul>

                {#{{ dump(items) }}#}

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="pagination" id="pagination">
                </ul>
            </div>
        </div>

        {#Div row solo para pruebas#}
        {#<div class="row">#}
            {#<div class="col-md-12">#}
                {#{{ dump(items) }}#}
            {#</div>#}
        {#</div>#}
        {#Div row solo para pruebas#}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {#$(function () {#}
            {#$("#pagination").bootpag({#}
                {#total: {{ (items.paging.total / 10) }},#}
                {#maxVisible: 15,#}
                {#page: {{ limit }} ,#}
                {#firstLastUse: true,#}
                {#first: '←',#}
                {#last: '→'#}

            {#}).on("page", function (event, num) {#}
                {#var offset = (num * 10) - 1;#}
                {#var limit = num;#}
                {#var URLdomain = window.location.host;#}
                {#var url2 = Routing.generate('viento_sur_send_flights');#}
                {#var URLsearch = window.location.search;#}

                {#window.location.replace("http://" + URLdomain + url2 + "/" + offset + "/" + limit + URLsearch);#}
            {#});#}
//            $("#field-hotel-checkin").datepicker({
//                "setDate": new Date()
//            });
//        });
        $('.flight-list').on('click', '.booking-prices', function (event) {
            event.stopPropagation();
            var itemId = $(this).data('item');
            $('#flight-form-' + itemId).submit();
        });
    </script>
{% endblock %}
