{% if items.message is defined %}
    <li class="mfont">{{ 'flights.not_found' | trans }}</li>
{% elseif items.items|length > 0 %}
    {% set targetCurrency = app.session.get('targetCurrency') %}
    {% if targetCurrency == 'USD' %}
        {% set symbol = 'US$' %}
    {% elseif targetCurrency == 'ARS' %}
        {% set symbol = 'AR$' %}
    {% endif %}
    {% set decimal =false %}
    {#<pre>{{ dump(items) }}</pre>#}
    {% for item in items.items  %}
        <li>
            <form target="_blank" name="flight-form-{{ loop.index }}" id="flight-form-{{ loop.index }}" action="{{ path('viento_sur_send_flight_booking') }}" method="post">

                <div id="thumbsFlights">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10">
                            {# nuevo ida#}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-2">
                                            <h3>{{ 'flights.going' | trans }}</h3>
                                        </div>
                                        <div class="col-xs-4 col-sm-5 noPadding">
                                            <h6>{{ item.outbound_choices[0].segments[0].from }}<span>{{ airportNames[item.outbound_choices[0].segments[0].from] }}</span></h6>
                                            <h6 class="no-margin-top"><span class="no-margin-left">{{ item.outbound_choices[0].segments[0].departure_datetime|date("D d F Y") }}</span></h6>
                                        </div>
                                        <div class="col-xs-4 col-sm-5 noPadding">
                                            {% set last = item.outbound_choices[0].segments|last %}
                                            <h6>{{ last.to }} <span>{{ airportNames[last.to] }}</span></h6>
                                        </div>
                                    </div>
                                </div>{# nuevo ida #}
                                <div id="collapse" class="panel-collapse">
                                    <div class="panel-body">
                                        {% for outbound in item.outbound_choices %}
                                            <div class="col-xs-2">
                                                <div class="radioButton">
                                                    <label for="optionsRadios{{ loop.parent.loop.index }}-{{ loop.index }}" class="radio-inline">
                                                        <input type="radio"
                                                               name="optionsRadiosOut{{ loop.parent.loop.index }}"
                                                               id="optionsRadios{{ loop.parent.loop.index }}-{{ loop.index }}"
                                                               value="{{ outbound.choice }}" {% if loop.index == 1 %}checked{% endif %} />
                                                        <span>
                                                            {% set airlines = [] %}
                                                            {% for segment in outbound.segments  %}
                                                                {% if segment.airline not in airlines %}
                                                                    {% if loop.index == 1 %}
                                                                        <img class="" src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ segment.airline }}.png" title="{{ airlineNames[segment.airline] }}" data-loop="{{ loop.length }}" width="25" height="25"/>
                                                                        {% set airlines = airlines|merge([segment.airline]) %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <p>
                                                    {{ outbound.segments[0].departure_datetime|date("H:i") }} &nbsp;
                                                    {% set totalSeg = outbound.segments|length - 1 %}
                                                    {% if totalSeg == 0 %}
                                                        &nbsp;{{ 'flights.direct' | trans }} &nbsp;
                                                    {% elseif totalSeg == 1 %}
                                                        &nbsp; {{ totalSeg }} {{ 'flights.scale' | trans }} &nbsp;
                                                    {% else %}
                                                        &nbsp; {{ totalSeg }} {{ 'flights.scales' | trans }} &nbsp;
                                                    {% endif %}

                                                    {% set lastSeg = outbound.segments|last %}
                                                    &nbsp; {{ lastSeg.arrival_datetime|date("H:i") }} &nbsp;

                                                    &nbsp; {{ outbound.duration|split(':')[0] }}h {{ outbound.duration|split(':')[1] }}m &nbsp;
                                                </p>
                                            </div>
                                            <div class="col-xs-4 center" style="margin-bottom: 5px">
                                                <span class="btn btn-primary btn-detail" data-toggle="collapse" data-target="#detail-out-{{ loop.parent.loop.index }}-{{ loop.index }}">{{ 'flights.detail' | trans }}</span>
                                            </div><br clear="all"/>
                                            <div id="detail-out-{{ loop.parent.loop.index }}-{{ loop.index }}" class="collapse col-xs-12">
                                                <div class="table-responsive" style=" overflow-x: visible;">
                                                    <table class="table table-condensed">
                                                        <tr class="active">
                                                            <td>
                                                                <div class="col-xs-12 col-sm-6 noPadding" style="color: #003580;">
                                                                    {% if app.session.get('origin_flight').text is defined %}{{ app.session.get('origin_flight').text|split(',')[0] }}{% endif %} -
                                                                    {% if app.session.get('destination_flight').text is defined %}{{ app.session.get('destination_flight').text|split(',')[0] }}{% endif %}
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 text-right duration-time noPadding"  style=" color: #003580;">
                                                                    {{ 'flights.total_duration' | trans }}: {{ outbound.duration|split(':')[0] }}h {{ outbound.duration|split(':')[1] }}m
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    {% for segment in outbound.segments %}
                                                        <div class="inline-detail-airline">
                                                            <div class="inline-detail-airline-wrapper">
                                                        <span class="inline-detail-airline-logo">
                                                            <img src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ segment.airline }}.png" width="25" height="25" />
                                                        </span>
                                                                <span class="inline-detail-airline-description review-text">
                                                            <span>
                                                                <b>{{ airlineNames[segment.airline] }}</b>
                                                            </span>
                                                        </span>
                                                            </div>
                                                        </div>

                                                        <div class="inline-detail-data">
                                                <span class="inline-detail-route-data">
                                                    <span class="inline-detail-airport">
                                                        <span class="inline-detail-airport-date">
                                                            <span>
                                                                <span class="inline-detail-airport-date-text">{{ 'flights.departure' | trans }}:</span>
                                                                <span>{{ segment.departure_datetime|date("d/m/Y", false) }}</span>
                                                            </span>
                                                        </span>
                                                        <span class="inline-detail-airport-code-wrapper">
                                                            <span class="inline-detail-airport-code">{{ segment.from }}</span>
                                                            <span class="inline-detail-airport-hour">{{ segment.departure_datetime|date("H:i", false) }}</span>
                                                            <span class="night-flight ux-common-icon-night" tooltip="" tooltip-content="Vuelo nocturno" tooltip-id="night-flight-tooltip"></span>
                                                        </span>
                                                        <span class="inline-detail-airport-description">
                                                            {{ airportCities[segment.from] }} - {{ airportNames[segment.from] }}
                                                        </span>
                                                    </span>

                                                    <span class="inline-detail-airport-separator">
                                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    </span>

                                                    <span class="inline-detail-airport">
                                                        <span class="inline-detail-airport-date">
                                                            <span>
                                                                <span class="inline-detail-airport-date-text">{{ 'flights.arrival' | trans }}:</span>
                                                                <span class="inline-detail-airport-date-text">{{ segment.arrival_datetime|date("d/m/Y", false) }}</span>
                                                            </span>
                                                        </span>
                                                        <span class="inline-detail-airport-code-wrapper">
                                                            <span class="inline-detail-airport-code">{{ segment.to }}</span>
                                                            <span class="inline-detail-airport-hour">{{ segment.arrival_datetime|date("H:i", false) }}</span>
                                                        </span>
                                                        <span class="inline-detail-airport-description">
                                                            {{ airportCities[segment.to] }} - {{ airportNames[segment.to] }}
                                                        </span>
                                                    </span>
                                                </span>

                                                            <span class="inline-detail-flight">
                                                    <span>
                                                        <span class="inline-detail-flight-data">
                                                            <span>
                                                                <span class="inline-detail-flight-data-title">{{ 'flights.duration' | trans }}</span>
                                                                <span class="inline-detail-flight-data-description">{{ segment.duration|split(':')[0] }}h {{ segment.duration|split(':')[1] }}m</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="inline-detail-flight-data">
                                                        <span>
                                                            <span class="inline-detail-flight-data-title">{{ 'flights.flight' | trans }} N°</span>
                                                            <span class="inline-detail-flight-data-description">{{ segment.flight_id }}</span>
                                                        </span>
                                                    </span>
                                                    <span class="inline-detail-flight-data inline-detail-flight-cabinType">
                                                        <span class="inline-detail-flight-data-title">{{ 'flights.class' | trans }}</span>
                                                        <span class="inline-detail-flight-data-description">{{ segment.cabin_type }}</span>
                                                    </span>
                                                </span>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                             {# nuevo vuelta #}
                            {% if item.inbound_choices is defined  and item.inbound_choices is not empty %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-2">
                                                <h3>{{ 'flights.return' | trans }}</h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-5 noPadding">
                                                <h6>{{ item.inbound_choices[0].segments[0].from }}<span>{{ airportNames[item.inbound_choices[0].segments[0].from] }}</span></h6>
                                                <h6 class="no-margin-top"><span class="no-margin-left">{{ item.inbound_choices[0].segments[0].departure_datetime|date("D d F Y") }}</span></h6>
                                            </div>
                                            <div class="col-xs-4 col-sm-5 noPadding">
                                                {% set last = item.inbound_choices[0].segments|last %}
                                                <h6>{{ last.to }}<span>{{ airportNames[last.to] }}</span></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapse" class="panel-collapse">
                                    <div class="panel-body">
                                        {% for inbound in item.inbound_choices %}
                                        <div class="col-xs-2">
                                            <div class="radioButton">
                                                <label for="optionsRadios{{ loop.parent.loop.index }}-{{ loop.index }}" class="radio-inline">
                                                    <input type="radio" name="optionsRadiosIn{{ loop.parent.loop.index }}" id="optionsRadios{{ loop.parent.loop.index }}-{{ loop.index }}" value="{{ inbound.choice }}" {% if loop.index == 1 %}checked{% endif %} >
                                                    {#<input type="radio" name="optionsRadiosIn{{ loop.parent.loop.index }}" id="optionsRadios{{ loop.parent.loop.index }}-{{ loop.index }}" value="{{ inbound.choice }}" {% if loop.index == 1 %}checked{% endif %} />#}
                                                    <span>
                                                            {% set airlines = [] %}
                                                        {% for segment in inbound.segments %}
                                                            {% if segment.airline not in airlines %}
                                                                <img style="margin-right: 10xp" src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ segment.airline }}.png" title="{{ airlineNames[segment.airline] }}" data-loop="{{ loop.length }}" width="25" height="25"/>
                                                                {% set airlines = airlines|merge([segment.airline]) %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        </span>
                                                </label>
                                            </div>
                                        </div>
                                            <div class="col-xs-6">
                                                <p>
                                                    {{ inbound.segments[0].departure_datetime|date("H:i") }} &nbsp;
                                                    {% set totalSeg = inbound.segments|length - 1 %}
                                                    {% if totalSeg == 0 %}
                                                        &nbsp;{{ 'flights.direct' | trans }} &nbsp;
                                                    {% elseif totalSeg == 1 %}
                                                        &nbsp; {{ totalSeg }} {{ 'flights.scale' | trans }} &nbsp;
                                                    {% else %}
                                                        &nbsp; {{ totalSeg }} {{ 'flights.scales' | trans }} &nbsp;
                                                    {% endif %}

                                                    {% set lastSeg = inbound.segments|last %}
                                                    &nbsp; {{ lastSeg.arrival_datetime|date("H:i") }} &nbsp;

                                                    &nbsp; {{ inbound.duration|split(':')[0] }}h {{ inbound.duration|split(':')[1] }}m &nbsp;
                                                </p>
                                            </div>
                                        <div class="col-xs-4 center" style="margin-bottom: 5px">
                                            <span class="btn btn-primary btn-detail" data-toggle="collapse" data-target="#detail-in-{{ loop.parent.loop.index }}-{{ loop.index }}">{{ 'flights.detail' | trans }}</span>
                                        </div><br clear="all"/>
                                            <div id="detail-in-{{ loop.parent.loop.index }}-{{ loop.index }}" class="collapse col-xs-12">
                                                <div class="table-responsive" style=" overflow-x: visible;">
                                                    <table class="table table-condensed">
                                                        <tr class="active">
                                                            <td>
                                                                <div class="col-xs-12 col-sm-6 noPadding" style="color: #003580;">
                                                                    {% if app.session.get('origin_flight').text is defined %}{{ app.session.get('origin_flight').text|split(',')[0] }}{% endif %} -
                                                                    {% if app.session.get('destination_flight').text is defined %}{{ app.session.get('destination_flight').text|split(',')[0] }}{% endif %}
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 text-right duration-time noPadding"  style=" color: #003580;">
                                                                    {{ 'flights.total_duration' | trans }}: {{ inbound.duration|split(':')[0] }}h {{ inbound.duration|split(':')[1] }}m
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    {% for segment in inbound.segments %}
                                                        <div class="inline-detail-airline">
                                                            <div class="inline-detail-airline-wrapper">
                                                        <span class="inline-detail-airline-logo">
                                                            <img src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ segment.airline }}.png" width="25" height="25"/>
                                                        </span>
                                                                <span class="inline-detail-airline-description review-text">
                                                            <span>
                                                                <b>{{ airlineNames[segment.airline] }}</b>
                                                            </span>
                                                        </span>
                                                            </div>
                                                        </div>

                                                        <div class="inline-detail-data">
                                                <span class="inline-detail-route-data">
                                                    <span class="inline-detail-airport">
                                                        <span class="inline-detail-airport-date">
                                                            <span>
                                                                <span class="inline-detail-airport-date-text">{{ 'flights.departure' | trans }}:</span>
                                                                <span>{{ segment.departure_datetime|date("d/m/Y", false) }}</span>
                                                            </span>
                                                        </span>
                                                        <span class="inline-detail-airport-code-wrapper">
                                                            <span class="inline-detail-airport-code">{{ segment.from }}</span>
                                                            <span class="inline-detail-airport-hour">{{ segment.departure_datetime|date("H:i", false) }}</span>
                                                            <span class="night-flight ux-common-icon-night" tooltip="" tooltip-content="Vuelo nocturno" tooltip-id="night-flight-tooltip"></span>
                                                        </span>
                                                        <span class="inline-detail-airport-description">
                                                            {{ airportCities[segment.from] }} - {{ airportNames[segment.from] }}
                                                        </span>
                                                    </span>

                                                    <span class="inline-detail-airport-separator">
                                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    </span>

                                                    <span class="inline-detail-airport">
                                                        <span class="inline-detail-airport-date">
                                                            <span>
                                                                <span class="inline-detail-airport-date-text">{{ 'flights.arrival' | trans }}:</span>
                                                                <span>{{ segment.arrival_datetime|date("d/m/Y", false) }}</span>
                                                            </span>
                                                        </span>
                                                        <span class="inline-detail-airport-code-wrapper">
                                                            <span class="inline-detail-airport-code">{{ segment.to }}</span>
                                                            <span class="inline-detail-airport-hour">{{ segment.arrival_datetime|date("H:i", false) }}</span>
                                                        </span>
                                                        <span class="inline-detail-airport-description">
                                                            {{ airportCities[segment.to] }} - {{ airportNames[segment.to] }}
                                                        </span>
                                                    </span>
                                                </span>

                                                            <span class="inline-detail-flight">
                                                    <span>
                                                        <span class="inline-detail-flight-data">
                                                            <span>
                                                                <span class="inline-detail-flight-data-title">{{ 'flights.duration' | trans }}</span>
                                                                <span class="inline-detail-flight-data-description">{{ segment.duration|split(':')[0] }}h {{ segment.duration|split(':')[1] }}m</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="inline-detail-flight-data">
                                                        <span>
                                                            <span class="inline-detail-flight-data-title">{{ 'flights.flight' | trans }} N°</span>
                                                            <span class="inline-detail-flight-data-description">{{ segment.flight_id }}</span>
                                                        </span>
                                                    </span>
                                                    <span class="inline-detail-flight-data inline-detail-flight-cabinType">
                                                        <span class="inline-detail-flight-data-title">{{ 'flights.class' | trans }}</span>
                                                        <span class="inline-detail-flight-data-description">{{ segment.cabin_type }}</span>
                                                    </span>
                                                </span>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="paymentFlight col-xs-12 col-sm-2" data-item="{{ loop.index }}">
                            <p>{{ 'flights.final_total_price' | trans }}</p>
                            <h5>
                                {% if item.price_detail.total is defined %}
                                    {{ symbol }} {{ item.price_detail.total|round| currency_convert_format(targetCurrency,decimal,false)| number_format(0, ',', '.') }}
                                {% endif %}
                            </h5>
                            <span class="btn btn-primary">{{ 'hotels.buy' | trans }}</span>
                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                            {% for b_info in item.booking_info %}
                                {% if b_info.inbound_choice is defined %}
                                    <input type="hidden" name="combination_{{ b_info.outbound_choice }}_{{ b_info.inbound_choice }}"  value="{{ b_info.itinerary_id }}" />
                                {% else %}
                                    <input type="hidden" name="combination_{{ b_info.outbound_choice }}"  value="{{ b_info.itinerary_id }}" />
                                {% endif %}
                            {% endfor %}
                            <input type="hidden" name="option_id" value="{{ loop.index }}" />
                        </div>
                    </div>

                </div>
            </form>
        </li>
    {%endfor%}
{% else %}
    <li class="mfont">{{ 'flights.not_found' | trans }}</li>
{% endif %}