<div class="content-sidebar">
    <form class="booking-item-dates-change mb5" name="searchFlight" id="search-flights" action ="{{ path('viento_sur_process_search_flights') }}" method="POST">

        <div class="form-group form-group-icon-left form-icon-lg">
            <i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
            <label class="mfont">Origen</label>
            <input class="form-control" id="from-flight" name="from-flight" type="text" data-provide="typeahead" placeholder="Desde dónde viajas" value="{% if app.session.get('origin_flight').text is defined %}{{ app.session.get('origin_flight').text }}{% endif %}" />
            <input id="originFlight" name="originFlight" type="hidden" value="{% if app.session.get('origin_flight').id is defined %}{{ app.session.get('origin_flight').id }}{% endif %}" />
        </div>

        <div class="form-group form-group-icon-left form-icon-lg">
            <i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
            <label class="mfont">Destino</label>
            <input id="to-flight" name="to-flight" type="text" class="form-control" data-provide="typeahead" placeholder="Hacia dónde viajas" value="{% if app.session.get('destination_flight').text is defined %}{{ app.session.get('destination_flight').text }}{% endif %}" />
            <input id="destinationFlight" name="destinationFlight" type="hidden" value="{% if app.session.get('destination_flight').id is defined %}{{ app.session.get('destination_flight').id }}{% endif %}" />
        </div>

        <div> <!--class="input-daterange" data-date-format="d M, D"-->
            <div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                <label class="sfont">Partida</label>
                <input id="start-flight" class="form-control required" name="start" type="text" required="" placeholder="dd/mm/yyyy" value="{{app.session.get('departure_date')}}"/>
            </div>
            <div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                <label class="sfont">Regeso</label>
                <input id="end-flight" class="form-control required" name="end" type="text" required="" placeholder="dd/mm/yyyy" value="{{app.session.get('return_date')}}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="adultsPassengers">Adultos</label>
                    <select id="adultsPassengers" class="form-control coupled" name="adultsPassengers" data-couple="childrenPassengers.0">
                        <option value="1" selected="selected">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="childrenPassengers">Menores</label>
                    <select id="childrenPassengers" class="form-control coupled" name="childrenPassengers" data-couple="adultsPassengers.1">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
            </div>
        </div>

        <!--se abre si hay menores-->
        <div class="col-md-12 hidden" id="menorGroup">
            <div class="form-group">
                <label for="field-hotel-adult">Edad de los menores al finalizar el viaje</label>
                <div class="row">
                    <div class="col-md-6 field-menor-1">
                        <div class="form-group form-group-sm form-group-select-plus">
                            <select id="field-menor-1" class="form-control " name="field-menor-1">
                                <option value="">Menor 1</option>
                                <option value="M">0 a 24 meses (en brazos)</option>
                                <option value="I">0 a 24 meses (en asiento)</option>
                                <option value="C">2 a 11 años</option>
                                <option value="A">12 años o más</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 field-menor-2">
                        <div class="form-group form-group-sm form-group-select-plus">
                            <select id="field-menor-2" class="form-control " name="field-menor-2">
                                <option value="">Menor 2</option>
                                <option value="M">0 a 24 meses (en brazos)</option>
                                <option value="I">0 a 24 meses (en asiento)</option>
                                <option value="C">2 a 11 años</option>
                                <option value="A">12 años o más</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 field-menor-3">
                        <div class="form-group form-group-sm form-group-select-plus">
                            <select id="field-menor-3" class="form-control " name="field-menor-3">
                                <option value="">Menor 3</option>
                                <option value="M">0 a 24 meses (en brazos)</option>
                                <option value="I">0 a 24 meses (en asiento)</option>
                                <option value="C">2 a 11 años</option>
                                <option value="A">12 años o más</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 field-menor-4">
                        <div class="form-group form-group-sm form-group-select-plus">
                            <select id="field-menor-4" class="form-control " name="field-menor-4">
                                <option value="">Menor 4</option>
                                <option value="M">0 a 24 meses (en brazos)</option>
                                <option value="I">0 a 24 meses (en asiento)</option>
                                <option value="C">2 a 11 años</option>
                                <option value="A">12 años o más</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 field-menor-5">
                        <div class="form-group form-group-sm form-group-select-plus">
                            <select id="field-menor-5" class="form-control " name="field-menor-5">
                                <option value="">Menor 5</option>
                                <option value="M">0 a 24 meses (en brazos)</option>
                                <option value="I">0 a 24 meses (en asiento)</option>
                                <option value="C">2 a 11 años</option>
                                <option value="A">12 años o más</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 field-menor-6">
                        <div class="form-group form-group-sm form-group-select-plus">
                            <select id="field-menor-6" class="form-control " name="field-menor-6">
                                <option value="">Menor 6</option>
                                <option value="M">0 a 24 meses (en brazos)</option>
                                <option value="I">0 a 24 meses (en asiento)</option>
                                <option value="C">2 a 11 años</option>
                                <option value="A">12 años o más</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 field-menor-7">
                        <div class="form-group form-group-sm form-group-select-plus">
                            <select id="field-menor-7" class="form-control " name="field-menor-7">
                                <option value="">Menor 7</option>
                                <option value="M">0 a 24 meses (en brazos)</option>
                                <option value="I">0 a 24 meses (en asiento)</option>
                                <option value="C">2 a 11 años</option>
                                <option value="A">12 años o más</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input class="btn btn-primary btn-search" type="submit" value="Buscar" />
    </form>
    {% if items.facets is defined %}
        <aside class="booking-filters">
            <h3 title="Vuelos - Filtros - VientoSur.net">Filtrar por:</h3>
            <ul class="list booking-filters-list">
                {% for facet in items.facets %}
                    {% if facet.criteria == 'stops' %}
                        <li class="stops hidden" data-type="stops">
                            <h5 class="booking-filters-title" title="Vuelos - Filtro Escalas - VientoSur.net">Escalas</h5>
                            {% for type in facet.values %}
                                {% set names = {
                                    none: 'Directo',
                                    one: '1 Escala',
                                    more_than_one: '2 o más escalas'
                                } %}
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" {% if type.selected %}checked="checked"{% endif %} value="{{ type.value }}" />
                                        {{ attribute(names, type.value) }}
                                        <span class="pull-right">({{ type.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </li>
                    {% endif %}
                    {% if facet.criteria == 'airlines' %}
                        <li class="airlines hidden" data-type="airlines">
                            <h5 class="booking-filters-title" title="Vuelos - Filtro Aerolíneas - VientoSur.net">Aerolíneas</h5>
                            {% for type in facet.values %}
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" {% if type.selected %}checked="checked"{% endif %} value="{{ type.value }}" />
                                        <span class="filter-img-wrapper">
                                            <img src="//ar.staticontent.com/flights-images/latest/dist/common/airlines/25x25/{{ type.value }}.png" alt="{{ attribute(airlineNames, type.value) }}">
                                        </span>
                                        {{ attribute(airlineNames, type.value) }}
                                        <span class="pull-right">({{ type.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </li>
                    {% endif %}
                    {% if facet.criteria == 'alliances' %}
                        <li class="alliances hidden" data-type="alliances">
                            <h5 class="booking-filters-title" title="Vuelos - Filtro Alianzas - VientoSur.net">Alianzas</h5>
                            {% for type in facet.values %}
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" {% if type.selected %}checked="checked"{% endif %} value="{{ type.value }}" />
                                        {% set allianceNames = {
                                            OW : 'One World',
                                            ST : 'Sky Team',
                                            SA : 'Star Alliance'
                                        } %}
                                        <span class="filter-img-wrapper">
                                            <img src="//ar.staticontent.com/flights-images/latest/dist/common/airlines-alliances/25x25/{{ type.value }}.png" alt="{{ attribute(allianceNames, type.value) }}">
                                        </span>
                                        {{ attribute(allianceNames, type.value) }}
                                        <span class="pull-right">({{ type.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </li>
                    {% endif %}
                    {% if facet.criteria == 'outbound_airports' %}
                        <li class="outbound_airports hidden" data-type="outbound_airports">
                            <h5 class="booking-filters-title" title="Vuelos - Filtro Aeropuertos, Ida - VientoSur.net">Aeropuertos - Ida</h5>
                            {% for type in facet.values %}
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" {% if type.selected %}checked="checked"{% endif %} value="{{ type.value }}" />
                                        <span title="{{ type.value }}" style="font-size: 14px !important;">{{ airportNames[type.value] }}</span>
                                        <span class="pull-right">({{ type.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </li>
                    {% endif %}
                    {% if facet.criteria == 'inbound_airports' %}
                        <li class="inbound_airports hidden" data-type="inbound_airports">
                            <h5 class="booking-filters-title" title="Vuelos - Filtro Alianzas - VientoSur.net">Aeropuertos - Vuelta</h5>
                            {% for type in facet.values %}
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" {% if type.selected %}checked="checked"{% endif %} value="{{ type.value }}" />
                                        <span title="{{ type.value }}" style="font-size: 14px !important;">{{ airportNames[type.value] }}</span>
                                        <span class="pull-right">({{ type.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'outbound_duration_range' %}
                        <li class="outbound_duration_range hidden" data-type="outbound_duration_range">
                            <h5 class="booking-filters-title" title="Vuelos - Filtro Duración - VientoSur.net">Duración - Ida</h5>
                            {% if app.request.get('outbound_duration_range') is empty %}
                                <input type="text" id="outbound_duration_range-slider" data-min="{{ facet.min|round }}"
                                       data-max="{{ facet.max|round }}" data-from="{{ facet.max|round }}" />
                            {% else %}
                                {% set fromTo = app.request.get('outbound_duration_range')|split('-') %}
                                <input type="text" id="outbound_duration_range-slider" data-min="{{ facet.min|round }}"
                                       data-max="{{ facet.max|round }}" data-from="{{ fromTo[0] }}" />
                            {% endif %}
                            <br/>
                            <span class="btn btn-primary btn-sm disabled" id="outbound_duration_range-btn">Aplicar</span>
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'inbound_duration_range' %}
                        <li class="inbound_duration_range hidden" data-type="inbound_duration_range">
                            <h5 class="booking-filters-title" title="Vuelos - Filtro Duración - VientoSur.net">Duración - Vuelta</h5>
                            {% if app.request.get('inbound_duration_range') is empty %}
                                <input type="text" id="inbound_duration_range-slider" data-min="{{ facet.min|round }}"
                                       data-max="{{ facet.max|round }}" data-from="{{ facet.max|round }}" />
                            {% else %}
                                {% set fromTo = app.request.get('inbound_duration_range')|split('-') %}
                                <input type="text" id="inbound_duration_range-slider" data-min="{{ facet.min|round }}"
                                       data-max="{{ facet.max|round }}" data-from="{{ fromTo[0] }}" />
                            {% endif %}
                            <br/>
                            <span class="btn btn-primary btn-sm disabled" id="inbound_duration_range-btn">Aplicar</span>
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'outbound_time_range' %}
                        <li class="outbound_time_range hidden" data-type="outbound_time_range">
                            <h5 class="booking-filters-title" title="Vuelos - Filtro Horario - VientoSur.net">Horario - Ida</h5>
                            {% if app.request.get('outbound_time_range') is empty %}
                                {% set temp = facet.min|split(':') %}
                                {% set min = (temp[0] * 60) + temp[1] %}
                                {% set temp = facet.max|split(':') %}
                                {% set max = (temp[0] * 60) + temp[1] %}
                                <input type="text" id="outbound_time_range-slider" data-min="0"
                                       data-max="1439" data-from="{{ min|round }}" data-to="{{ max|round }}" />
                            {% else %}
                                {% set fromTo = app.request.get('outbound_time_range')|split('-') %}
                                <input type="text" id="outbound_time_range-slider" data-min="{{ facet.min|round }}"
                                       data-max="{{ facet.max|round }}" data-from="{{ fromTo[0] }}" data-to="{{ fromTo[1] }}" />
                            {% endif %}
                            <br/>
                            <span class="btn btn-primary btn-sm disabled" id="outbound_time_range-btn">Aplicar</span>
                        </li>
                    {% endif %}
                    {% if facet.criteria == 'inbound_time_range' %}
                        <li class="inbound_time_range hidden" data-type="inbound_time_range">
                            <h5 class="booking-filters-title" title="Vuelos - Filtro Horario - VientoSur.net">Horario - Vuelta</h5>
                            {% if app.request.get('inbound_time_range') is empty %}
                                {% set temp = facet.min|split(':') %}
                                {% set min = (temp[0] * 60) + temp[1] %}
                                {% set temp = facet.max|split(':') %}
                                {% set max = (temp[0] * 60) + temp[1] %}
                                <input type="text" id="inbound_time_range-slider" data-min="{{ min }}"
                                       data-max="{{ max }}" data-from="{{ min }}" data-to="{{ max }}" />
                            {% else %}
                                {% set fromTo = app.request.get('inbound_time_range')|split('-') %}
                                <input type="text" id="inbound_time_range-slider" data-min="{{ facet.min|round }}"
                                       data-max="{{ facet.max|round }}" data-from="{{ min }}" data-to="{{ max }}" />
                            {% endif %}
                            <br/>
                            <span class="btn btn-primary btn-sm disabled" id="inbound_time_range-btn">Aplicar</span>
                        </li>
                    {% endif %}
                {% endfor %}

                {% set facet = items.facets[0] %}
                {% if facet.criteria == 'total_price_range' %}
                    <li class="total_price_range hidden" data-type="total_price_range">
                        <h5 class="booking-filters-title" title="Vuelos - Filtro Precio - VientoSur.net">Precio</h5>
                        {% if app.request.get('total_price_range') is empty %}
                            <input type="text" id="total_price_range-slider" data-min="{{ facet.min|round }}"
                                   data-max="{{ facet.max|round }}"/>
                        {% else %}
                            {% set fromTo = app.request.get('total_price_range')|split('-') %}
                            <input type="text" id="total_price_range-slider" data-min="{{ facet.min|round }}"
                                   data-max="{{ facet.max|round }}" data-from="{{ fromTo[0] }}"
                                   data-to="{{ fromTo[1] }}"/>
                        {% endif %}
                        <br/>
                        <span class="btn btn-primary btn-sm disabled" id="total_price_range-btn">Aplicar</span>
                    </li>
                {% endif %}
                {#{{ dump(items.facets) }}#}
            </ul>
        </aside>
    {% endif %}
</div>
<div class="gap-small"></div>

