{% set data_passengers = app.session.get('data_passengers') %}

    <div class="" id="sidebar">
        <div id="formSearch">
            <form class="booking-item-dates-change mb5" name="searchFlight" id="search-flights" action ="{{ path('viento_sur_process_search_flights') }}" method="POST">
                {% if app.session.get('multipledestinations') is defined  and  app.session.get('multipledestinations') is not null  %}
                    {% set destinations = app.session.get('multipledestinations') %}
                    {#{{ dump(app.session.get('multipledestinations')) }}#}

                    <input type="text"  id="multipledestination-multiple" name="multipledestination" style="display: none" value="true">

                    <div class="multi-flight">
                        {% for destiny in destinations %}
                            <div class="wrapper-lateral">
                                <label class="menu-left-label">{{ 'index.search.flight.stretch' | trans }} {{ loop.index }}</label>
                                <label class="menu-left-label" id="label-stretch" style="display: none">{{ 'index.search.flight.stretch' | trans }}</label>
                                {% if loop.index0 < 1 %}

                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label id="label-from" >{{ 'index.search.flight.from' | trans }}</label>
                                            <i class="fa fa-map-marker input-icon"></i>
                                            <input class="city-input form-control" id="multidestination-from-flight{{ loop.index0 }}" name="multidestination[{{ loop.index0 }}][fromFlight]" type="text" data-provide="typeahead" placeholder="{{ 'index.search.flight.from_placeholder' | trans }}"  value="{{ app.session.get('multipledestinations')[loop.index0].fromFlight }}" />
                                            <input id="multidestination-originFlight{{ loop.index0 }}" name="multidestination[{{ loop.index0 }}][originFlight]" type="hidden" value="{{ app.session.get('multipledestinations')[loop.index0].originFlight }}" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label id="label-to" class="mfont">{{ 'index.search.flight.to' | trans }}</label>
                                            <i class="fa fa-map-marker input-icon"></i>

                                            <input id="to-flight" name="to-flight" type="hidden" class="form-control" data-provide="typeahead" value="{{ app.session.get('multipledestinations')[loop.index0].destinationFlight }}"/>
                                            <input id="multidestination-to-flight{{ loop.index0 }}" name="multidestination[{{ loop.index0 }}][toFlight]" type="text" class="form-control city-input" data-provide="typeahead" placeholder="{{ 'index.search.flight.to_placeholder' | trans }}" value="{{ app.session.get('multipledestinations')[loop.index0].toFlight }}" />
                                            <input id="multidestination-destinationFlight{{ loop.index0 }}" name="multidestination[{{ loop.index0 }}][destinationFlight]" type="hidden" value="{{ app.session.get('multipledestinations')[loop.index0].destinationFlight }}" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class='form-group date col-xs-7' id='datetimepicker5'>
                                            <label id="label-start" class="sfont">{{ 'index.search.flight.start' | trans }}</label>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            <input id="start-flight" class="form-control required" name="multidestination[{{ loop.index0 }}][start]" type="text" required="" placeholder="dd/mm/yyyy" value="{{app.session.get('multipledestinations')[loop.index0].start}}"/>
                                        </div>
                                    </div>

                                {% else %}
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label class="mfont">{{ 'index.search.flight.from' | trans }}</label>
                                            <i class="fa fa-map-marker input-icon"></i>
                                            <input class="city-input form-control" id="multidestination-from-flight{{ loop.index0 }}" name="multidestination[{{ loop.index0 }}][fromFlight]" type="text" data-provide="typeahead" placeholder="{{ 'index.search.flight.from_placeholder' | trans }}"  value="{{ app.session.get('multipledestinations')[loop.index0].fromFlight }}" />
                                            <input id="multidestination-originFlight{{ loop.index0 }}" name="multidestination[{{ loop.index0 }}][originFlight]" type="hidden" value="{{ app.session.get('multipledestinations')[loop.index0].originFlight }}" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label class="mfont">{{ 'index.search.flight.to' | trans }}</label>
                                            <i class="fa fa-map-marker input-icon"></i>
                                            <input id="multidestination-to-flight{{ loop.index0 }}" name="multidestination[{{ loop.index0 }}][toFlight]" type="text" class="city-input form-control" data-provide="typeahead" placeholder="{{ 'index.search.flight.to_placeholder' | trans }}" value="{{ app.session.get('multipledestinations')[loop.index0].toFlight }}" />
                                            <input id="multidestination-destinationFlight{{ loop.index0 }}" name="multidestination[{{ loop.index0 }}][destinationFlight]" type="hidden" value="{{ app.session.get('multipledestinations')[loop.index0].destinationFlight }}" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class='form-group date col-xs-7' id='datetimepicker5'>
                                            <label class="sfont">{{ 'index.search.flight.start' | trans }}</label>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>

                                            <input id="start-flight{{ loop.index0 }}" class="form-control required" name="multidestination[{{ loop.index0 }}][start]" type="text" required="" placeholder="dd/mm/yyyy" value="{{app.session.get('multipledestinations')[loop.index0].start}}"/>
                                        </div>
                                    </div>

                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <a id="multidestination-lateral" style="display: none;">{{ 'index.search.flight.multiple_destinations' | trans }}</a>
                    <a id="remove-stretch-lateral" class="menu-lateral btn btn-danger" style="display: inline-block;width: 48%;">{{ 'index.search.flight.remove_stretch' | trans }}</a>
                    <a id="add-stretch-lateral" class="menu-lateral btn btn-success" style="display: inline-block;width: 48%;">{{ 'index.search.flight.add_stretch' | trans }}</a>
                    <div class="normal-flight" style="display: none">
                        <div class="form-group form-group-icon-left form-icon-lg">
                            <i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                            <label id="label-from" class="mfont">{{ 'index.search.flight.from' | trans }}</label>
                            <input class="form-control" id="from-flight" name="from-flight" type="text" data-provide="typeahead" placeholder="{{ 'index.search.flight.from_placeholder' | trans }}" />
                            <input id="originFlight" name="originFlight" type="hidden" />
                        </div>

                        <div class="form-group form-group-icon-left form-icon-lg">
                            <i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                            <label id="label-to" class="mfont">{{ 'index.search.flight.to' | trans }}</label>
                            <input id="to-flight-test" name="to-flight" type="text" class="form-control test-to-flight" data-provide="typeahead" placeholder="{{ 'index.search.flight.to_placeholder' | trans }}"/>
                            <input id="destinationFlight" name="destinationFlight" type="hidden" />
                        </div>
                        <div>
                            <div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                <label id="label-start" class="sfont">{{ 'index.search.flight.start' | trans }}</label>
                                <input id="start-flight-test" class="form-control required" name="start" type="text" placeholder="dd/mm/yyyy"  value="{{app.session.get('departure_date')}}" />
                            </div>
                            <div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                <label id="label-end" class="sfont">{{ 'index.search.flight.end' | trans }}</label>
                                <input id="end-flight-test" class="form-control required" name="end" type="text" placeholder="dd/mm/yyyy"/>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a id="multidestination-lateral" class="multidestination-lateral-btn" style="display: block;">{{ 'index.search.flight.multiple_destinations' | trans }}</a>
                    <label id="label-stretch" style="display: none;">{{ 'index.search.flight.stretch' | trans }}</label>
                    <a id="remove-stretch-lateral" class="menu-lateral btn btn-danger" style="display: none;width: 48%;">{{ 'index.search.flight.remove_stretch' | trans }}</a>
                    <a id="add-stretch-lateral" class="menu-lateral btn btn-success" style="display: none;width: 48%;">{{ 'index.search.flight.add_stretch' | trans }}</a>
                    <div class="normal-flight">
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label id="label-from" >{{ 'index.search.flight.from' | trans }}</label>
                                <i class="fa fa-map-marker input-icon"></i>
                                <input class="city-input form-control" id="from-flight" name="from-flight" type="text" data-provide="typeahead" placeholder="{{ 'index.search.flight.from_placeholder' | trans }}" value="{% if app.session.get('origin_flight').text is defined %}{{ app.session.get('origin_flight').text }}{% endif %}">
                                <input id="originFlight" name="originFlight" type="hidden" value="{% if app.session.get('origin_flight').id is defined %}{{ app.session.get('origin_flight').id }}{% endif %}" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label id="label-to" >{{ 'index.search.flight.to' | trans }}</label>
                                <i class="fa fa-map-marker input-icon"></i>
                                <input id="to-flight" class="city-input form-control" name="to-flight" type="text" data-provide="typeahead" placeholder="{{ 'index.search.flight.to_placeholder' | trans }}" value="{% if app.session.get('destination_flight').text is defined %}{{ app.session.get('destination_flight').text }}{% endif %}" (>
                                <input id="destinationFlight" name="destinationFlight" type="hidden" value="{% if app.session.get('destination_flight').id is defined %}{{ app.session.get('destination_flight').id }}{% endif %}" />
                            </div>
                        </div>

                        <div class="row">
                            <div class='form-group date col-xs-7' id='datetimepicker5'>
                                <label  id="label-start" class="sfont">{{ 'index.search.flight.start' | trans }}</label>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <input id="start-flight" class="form-control required test" name="start" type="text" required="" placeholder="dd/mm/yyyy" value="{{app.session.get('departure_date')}}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class='form-group date col-xs-7' id='datetimepicker5'>
                                <label class="sfont">{{ 'index.search.flight.end' | trans }}</label>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <input id="end-flight" class="form-control required" name="end" type="text" required="" placeholder="dd/mm/yyyy" value="{{app.session.get('return_date')}}"/>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adultsPassengers">{{ 'index.search.hotel.adults' | trans }}</label>
                            <select id="adultsPassengers" class="form-control coupled" name="adultsPassengers" data-couple="childrenPassengers.0">
                                <option value="1" {% if adults is defined and adults == 1 %}selected="selected"{% endif %}>1</option>
                                <option value="2" {% if adults is defined and  adults == 2 %}selected="selected"{% endif %}>2</option>
                                <option value="3" {% if adults is defined and  adults == 3 %}selected="selected"{% endif %}>3</option>
                                <option value="4" {% if adults is defined and  adults == 4 %}selected="selected"{% endif %}>4</option>
                                <option value="5" {% if adults is defined and  adults == 5 %}selected="selected"{% endif %}>5</option>
                                <option value="6" {% if adults is defined and  adults == 6 %}selected="selected"{% endif %}>6</option>
                                <option value="7" {% if adults is defined and  adults == 7 %}selected="selected"{% endif %}>7</option>
                                <option value="8" {% if adults is defined and  adults == 8 %}selected="selected"{% endif %}>8</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="childrenPassengers">{{ 'index.search.hotel.childs' | trans }}</label>
                            <select id="childrenPassengers" class="form-control coupled" name="childrenPassengers" data-couple="adultsPassengers.1">
                                {% for i in 1..8 %}
                                    <option value="{{ loop.index0 }}" {% if data_passengers.children is defined and data_passengers.children | length == loop.index0 %}selected="selected"{% endif %}>{{ loop.index0 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!--se abre si hay menores-->
                <div class="col-md-12 {% if data_passengers.children is not defined %}hidden{% endif %}" id="menorGroup">
                    <div class="form-group">
                        <label for="field-hotel-adult">{{ 'index.search.flight.childs_ages' | trans }}</label>
                        <div class="row">
                            {% for i in 1..7 %}
                                <div class="col-md-6 field-menor-{{ i }}" {% if data_passengers.children[i] is not defined %}style="display:none;"{% endif %}>
                                    <div class="form-group form-group-sm form-group-select-plus">
                                        <select id="field-menor-{{ i }}" class="form-control " name="field-menor-{{ i }}">
                                            <option value="">{{ 'index.search.flight.children' | trans }} {{ i }}</option>
                                            <option value="M" {% if data_passengers.children[i] is defined and  data_passengers.children[i] == 'M' %}selected="selected"{% endif %}>{{ 'index.search.flight.0_24_arm' | trans }}</option>
                                            <option value="I" {% if data_passengers.children[i] is defined and data_passengers.children[i] == 'I' %}selected="selected"{% endif %}>{{ 'index.search.flight.0_24:seat' | trans }}</option>
                                            <option value="C" {% if data_passengers.children[i] is defined and data_passengers.children[i] == 'C' %}selected="selected"{% endif %}>{{ 'index.search.flight.2_11' | trans }}</option>
                                            <option value="A" {% if data_passengers.children[i] is defined and data_passengers.children[i] == 'A' %}selected="selected"{% endif %}>{{ 'index.search.flight.12_more' | trans }}</option>
                                        </select>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="bottonSearch col-xs-12">
                        <button >{{ 'index.search_text' | trans }}</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
