{% extends "admin/base.html.twig" %}

{% block title %} {{ 'admin.new_activities_agency' | trans }} {% endblock %}

{% block top_content %}
    {% if app.request.attributes.get('_route') == 'activity_agency_new' %}
        {% set title = 'admin.new_activities_agency' %}
    {% else %}
        {% set title = 'admin,edit_activities_agency' %}
    {% endif %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ title | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-header">
                <strong>{{ 'admin.activity_agency' | trans }}</strong>
            </div>
            {{ form_start(form, {'attr':{ 'id': 'form', 'class': 'form-horizontal'}}) }}
            <div class="card-block">
                <div class="col-md-6">
                    <fieldset class="fieldset-custom">
                        <label class="label-fieldset">{{ 'admin.data_from_agency' | trans }}</label>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="first-name">{{ 'admin.name' | trans }}*</label>
                            <div class="col-md-7">
                                {{ form_widget(form.name, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        {{ form_errors(form.name) }}  
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="file-number">Legajo</label>
                            <div class="col-md-7">
                                {{ form_widget(form.file_number, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.file_number) }}</em>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="address">{{ 'admin.address' | trans }} *</label>
                            <div class="col-md-7">
                                {{ form_widget(form.address, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.address) }}</em> 
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="phone">{{ 'admin.phone' | trans }} *</label>
                            <div class="col-md-7">
                                {{ form_widget(form.phone, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.phone) }}</em>  
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="logo">Logo</label>
                            <div class="col-md-8">
                                {{ form_widget(form.image, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.image) }}</em> 
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="enabled">{{ 'admin.enabled' | trans }}</label>
                            <div class="col-md-7">
                                {{ form_widget(form.enabled, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.enabled) }}</em> 
                    </fieldset>    
                </div>
                <div class="col-md-6">
                    <fieldset class="fieldset-custom">
                        <label class="label-fieldset">{{ 'admin.contact_user' | trans }}</label>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="first-name">{{ 'admin.name' | trans }} *</label>
                            <div class="col-md-7">
                                {{ form_widget(form.user.first_name, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.user.first_name) }}</em>  
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="last-name">{{ 'admin.last_name' | trans }} *</label>
                            <div class="col-md-7">
                                {{ form_widget(form.user.last_name, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.user.last_name) }}</em> 
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="email">{{ 'admin.email' | trans }} *</label>
                            <div class="col-md-7">
                                {{ form_widget(form.user.email, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.user.email) }}</em>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="username">{{ 'admin.user' | trans }} *</label>
                            <div class="col-md-7">
                                {{ form_widget(form.user.username, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.user.username) }}</em>
                    </fieldset> 
                    <br/>
                    <br/>
                    <fieldset class="fieldset-custom">
                        <label class="label-fieldset">{{ 'admin.contract' | trans }}</label>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="logo">{{ 'admin.contract' | trans }}</label>
                            <div class="col-md-8">
                                {{ form_widget(form.file_pdf, { 'attr': { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.file_pdf) }}</em>
                    </fieldset> 
                </div>    
                <div class="col-md-12" style="margin-top: 15px">
                    <fieldset class="fieldset-custom">
                        <label class="label-fieldset">{{ 'admin.commissions' | trans }}</label>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="file-number">{{ 'admin.percentage_vs' | trans }}</label>
                            <div class="col-md-2">
                                {{ form_widget(form.percentage_vs, { 'attr': { 'class': 'form-control', 'placeholder':'%'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.percentage_vs) }}</em>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="file-number">{{ 'admin.percentage_agency' | trans }}</label>
                            <div class="col-md-2">
                                {{ form_widget(form.percentage_others, { 'attr': { 'class': 'form-control', 'placeholder':'%'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.percentage_others) }}</em>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="file-number">{{ 'admin.commercial_discounts' | trans }}</label>
                            <div class="col-md-2">
                                {{ form_widget(form.commercial_discounts, { 'attr': { 'class': 'form-control', 'placeholder':'%'}}) }}
                            </div>
                        </div>
                        <em>{{ form_errors(form.commercial_discounts) }}</em>
                    </fieldset>   
                </div>  
                {{ form_rest(form) }}    
            </div>
            <div class="card-footer">
                <a href="{{ path('activity_agency_list') }}" class="btn btn-sm btn-success"><i class="fa fa-mail-reply"></i> {{ 'admin.back' | trans }}</a>
                <button id="send" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ 'admin.send' | trans }}</button>
            </div>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}


{% block extra_css %}
    {{ parent() }}
    
{% endblock %}

{% block extra_js %}
    
{% endblock %}