<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8" />
        {% block meta_open_graph %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        <title>vientosur.net | {% block title %}{% endblock %}</title>
        <!-- GOOGLE FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
        <!-- bootstrap  -->
        {#<link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />#}
        <!-- font Awesome -->
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="{{ asset('css/icomoon.css') }}" rel="stylesheet" type="text/css" />
        {#<link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css" />#}
        <link href="{{ asset('css/vs-global.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/base/jquery-ui-1.10.4.custom.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- favicon -->
        <link href="{{ asset('rpascal/css/font-face.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('rpascal/bootstrap/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('rpascal/bootstrap/css/datepicker.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('rpascal/css/style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('rpascal/css/responsive.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('rpascal/css/tabs.css') }}" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block gplus_script %} {% endblock %}
        {% block shorter_script %}{% endblock %}
        {% block stylesheets %}
        {% endblock %}

</head>
<body>
{% block analytics %}
    <script>

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
                        Date();a=s.createElement(o),

                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-87992227-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endblock %}
    {% block body %}
        {% if (app.session.get('targetCurrency') is not defined) or (app.session.get('targetCurrency') == null) %}
            {{ app.session.set('targetCurrency', 'ARS') }}
        {% endif %}
        {% set targetCurrency = app.session.get('targetCurrency') %}

        {% if targetCurrency == 'USD' %}
            {% set symbol = 'US$' %}
        {% elseif targetCurrency == 'ARS' %}
            {% set symbol = 'AR$' %}
        {% endif %}
        {% set decimal =false %}
        <header class="new-header" {% if app.request.get('_route') != 'homepage' %} style="position: relative;" {% endif %}>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-2 logo">
                        <a class="logo" href="{{ path('homepage')}}">
                            <img src="{{ asset('rpascal/images/logo.png') }}" alt="Viento Sur" title="" />
                        </a>
                    </div>
                    {% set country = app.request.locale('country') %}
                    <div class="col-xs-12 col-sm-10">
                        <div class="language">
                            <select id="langOption" class="form-control" style="color: #fff;" onchange="optionChangePage(this.value)">
                                <option value="en" style="color:#000;" {% if country == 'en' %}selected="selected"{% endif %}>English</option>
                                <option value="es" style="color:#000;" {% if country == 'es' %}selected="selected"{% endif %}>Español</option>
                                <option value="pt" style="color:#000;" {% if country == 'pt' %}selected="selected"{% endif %}>Português</option>
                            </select>
                        </div>
                        <div class="socialMedia">
                            <ul>
                                <li><a class="bgFacebook" href="https://www.facebook.com/vientosur.net/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a class="bgTwitter" href="https://twitter.com/vientosurnet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a class="bgGooglePlus" href="https://plus.google.com/u/0/b/105288426610495873036/105288426610495873036/posts" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a class="bgLinkedin" href="https://ar.linkedin.com/in/viento-sur-81b159a5" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a class="bgInstagram" href="https://www.instagram.com/vientosurnet/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a class="bgWeibo" href="http://weibo.com/6035165052/profile?topnav=1&wvr=6&is_all=1" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="global-wrap">
            {% block content %}
            {% endblock %}

            <!-- GO FOOTER -->
            <footer id="main-footer">
                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <h3>{{ 'index.contact_us2' | trans }}</h3>
                                <p>{{ 'index.answer_text' | trans }} <a href="tel:08002200843">0-800-220-0843</a></p>
                                <a href="#" title="{{ 'index.consult' | trans }}" class="btnContact" data-path="{{ path('viento_sur_app_consult') }}" data-toggle="modal" data-target="#submitConsult" data-title="{{ 'index.consult' | trans }}">{{ 'index.contact' | trans }}</a>

                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <h3>{{ 'index.follow_us' | trans }}</h3>
                                <p>{{ 'index.slogan' | trans }} <br> {{ 'index.slogan_2' | trans }}</p>
                                <div class="socialMediaFooter">
                                    <ul>
                                        <li><a class="bgFacebook" href="https://www.facebook.com/vientosur.net/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="bgTwitter" href="https://twitter.com/vientosurnet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a class="bgGooglePlus" href="https://plus.google.com/u/0/b/105288426610495873036/105288426610495873036/posts" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a class="bgLinkedin" href="https://ar.linkedin.com/in/viento-sur-81b159a5" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a class="bgInstagram" href="https://www.instagram.com/vientosurnet/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a class="bgWeibo" href="http://weibo.com/6035165052/profile?topnav=1&wvr=6&is_all=1" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 logoFooter">
                                <a href="{{ path('homepage') }}">
                                    <img src="{{ asset('rpascal/images/logo.png') }}" alt="" style="padding-top: 0px; margin-top: -10px">
                                </a>
                                <div style="clear: both"></div>
                                <a href="https://play.google.com/store/apps/details?id=com.vientosurapp.vientosur&hl=es" target="_blanck">
                                    <img src="{{ asset('img/google-play-'~app.request.locale~'.png') }}" alt="" style="padding-top: 50px; width: 40%">
                                </a>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="associations">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                <ul>
                                    <li><a href="http://servicios.turismo.gob.ar/agencias/constancia/legajo/10380"  target="_turar"><img src="http://sara.turismo.gov.ar/regtur/publicweb/qr72481.png" alt="" style="height: 44px"></a></li>
                                    <li><a href="#"><img src="{{ asset('rpascal/images/logo2.png') }}" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('rpascal/images/logo3.png') }}" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('rpascal/images/logo4.png') }}" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('rpascal/images/logo5.png') }}" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('rpascal/images/logo6.png') }}" alt=""></a></li>
                                </ul>
                            </div>  
                            <div class="col-xs-12 col-md-3">
                                <a href="#" class="linkConditions" style="color: #00224f !important;">{{ 'index.terms_conditions' | trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>{{ 'index.footer_copy.responsible' | trans }} <span>Viento Sur</span> {{ 'index.footer_copy.tour' | trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            {#<!-- END FOOTER -->#}
            </div>
        </div>

        <div id="fb-root"></div>
        <div id="content-app" class="contend-app">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 div-contend-app">
                        <span id="close-div-app"><b>X</b></span>
                        <p><b>{{ 'index.title_modal_app' | trans }}</b></p>
                        <p style="margin-bottom: 5px">{{ 'index.text_modal_app' | trans }}</p>
                        <a href="https://play.google.com/store/apps/details?id=com.vientosurapp.vientosur&hl=es" target="_blanck" title="{{ 'index.consult' | trans }}" class="contend-app-download">{{ 'index.download' | trans }}</a>
                    </div>
                </div>    
            </div>    
        </div>    
        <div class="modal fade" id="submitConsult" role="dialog" aria-labelledby="submitConsultLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" title="{{ 'index.consult.text' | trans }} - VientoSur.net"></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="formConsult" role="form">
                            <!--<h4>¿ Está seguro de ejecutar la acción ?</h4></br>-->
                            <div class="form-group">
                                <!--<label for="nombre_apellido" class="col-sm-2 control-label">Nombre y Apellido</label>-->
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="nombre_apellido" id="fullnameField" placeholder="{{ 'index.popup.name' | trans }}"/>
                                    <!--<textarea class="form-control" id="observacion" rows="5" style="resize: none;" required ></textarea>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label for="nombre_apellido" class="col-sm-2 control-label">Nombre y Apellido</label>-->
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="email" id="emailField" placeholder="Email"/>
                                    <!--<textarea class="form-control" id="observacion" rows="5" style="resize: none;" required ></textarea>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label for="nombre_apellido" class="col-sm-2 control-label">Nombre y Apellido</label>-->
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <!--<input type="text" class="form-control" name="email" placeholder="Email"/>-->
                                    <textarea class="form-control" id="messageField" rows="5" style="resize: none;" required placeholder="{{ 'index.popup.text' | trans }}"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label for="nombre_apellido" class="col-sm-2 control-label">Nombre y Apellido</label>-->
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <!--<input type="text" class="form-control" name="email" placeholder="Email"/>-->
                                    <div class="g-recaptcha" data-sitekey="6LcF7noUAAAAAApm1gLyucKIouLcUBwM7WJi1yxS"></div>    
                                </div>
                            </div>    
                            <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response" />   
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'index.popup.cancel' | trans }}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmConsult">{{ 'index.popup.send' | trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <script src="{{ asset('rpascal/js/jquery-1.10.2.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/modernizr.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/slimmenu.js') }}"></script>
    {#<script src="{{ asset('assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>#}
    <script src="{{ asset('js/jquery-ui-1.10.4.custom.js') }}"></script>
    {#<script src="{{ asset('assets/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js') }}"></script>#}
    <script src="{{ asset('assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-waitingfor/src/waitingfor.js') }}"></script>
    <script src="{{ asset('bundles/vientosurappapp/js/nicescroll.js') }}"></script>
    <script src="{{ asset('js/jquery.query-object.js') }}"></script>
    {% block last_jquery %} {% endblock %}
    {#<script src="{{ asset('rpascal/bootstrap/js/bootstrap.min.js') }}"></script>#}
    {#<script src="{{ asset('rpascal/bootstrap/js/bootstrap-datepicker.js') }}"></script>#}
    <script src="{{ asset('rpascal/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('rpascal/js/script.js') }}"></script>
    <script>
        /*$('#flag_modal').click(function() {
            $('#roomModal').modal('show')
        });*/

        $('#close-div-app').click(function(){
            $('#content-app').hide();
        });
        
        jQuery(document).ready(function () {
            var os = getMobileOperatingSystem();
            if(os === 'Android'){
              $('#content-app').show();  
            }
        });
        
        function getMobileOperatingSystem() {
            var userAgent = navigator.userAgent || navigator.vendor || window.opera;

                // Windows Phone must come first because its UA also contains "Android"
              if (/windows phone/i.test(userAgent)) {
                  return "Windows Phone";
              }

              if (/android/i.test(userAgent)) {
                  return "Android";
              }

              // iOS detection from: http://stackoverflow.com/a/9039885/177710
              if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                  return "iOS";
              }

              return "unknown";
        }
        
        
        var dateFormat = "dd/mm/yy";
        {% if app.request.locale == 'en' %}
            var dayNamesMin = ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"];
            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var monthNamesShort = [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ];
        {% elseif app.request.locale == 'pt' %}
            var dayNamesMin = ["Do", "Se", "Te", "Qu", "Qa", "Se", "Sa"];
            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var monthNamesShort = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        {% else %}
            var dayNamesMin = ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"];
            var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
            var monthNamesShort = [ "Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Aug", "Sep", "Out", "Nov", "Dez" ];
        {% endif %}
        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                console.log('error',error);
                date = null;
            }
            return date;
        }

        var country = '{{ app.session.get('country') }}';

        if(country === '' || !country) {
            country = 'ar';
        }

        function updateCountry(newCountry, callback) {
            $.get(Routing.generate('home_set_country') + '?country=' + newCountry, function (data, status) {
                console.log('Updated country', data, status);
                callback();
            });
        }

        function optionChangePage(lang){
            var country = '';
            if (lang == 'en'){
                country = 'us'
            }
            if(lang == 'es'){
                country = 'ar'
            }
            if(lang == 'pt'){
                country = 'br'
            }
            changePage(lang, country);
        }
        function changePage(lang, newCountry) {
            var path = window.location.pathname;
            if (typeof path === 'string') {
                path = path.replace(/^\/|\/$/g, '');
                var res = path.split("/");
                if (res.length > 0 && res[0] !== '') {
                    if (res[0] === 'app_dev.php' || res[0] === 'app.php') {
                        res[1] = lang;
                    } else {
                        if (res[0] !== lang) {
                            res[0] = lang;
                        } else {
                            return true;
                        }
                    }
                    updateCountry(newCountry, function () {
                        window.location = '/' + res.join("/");
                    })
                } else {
                    updateCountry(newCountry, function () {
                        window.location = '/' + lang;
                    })
                }
            }
        }
        function change(currency){
            var url = Routing.generate('change_currency', { 'currency': currency });
            console.log('url', url);
            $.ajax({
                type: "GET",
                url: url
            }).done(function( result ) {
                if (result == 'true'){
                    window.location.reload();
                }
                console.log(result)
            });
        }
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1460459000648181');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=1460459000648181&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Google Code for Informe Viento Sur Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 853372126;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "GRTCCOyZ7HAQ3tn1lgM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript"
            src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/853372126/?label=GRTCCOyZ7HAQ3tn1lgM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
<script async
        src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8756334353144365",
        enable_page_level_ads: true
    });
</script>
<!-- Twitter universal website tag code -->
<script>
    !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
    },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
            a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init','nxd42');
    twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
<script src='https://www.google.com/recaptcha/api.js?render=6LcF7noUAAAAAApm1gLyucKIouLcUBwM7WJi1yxS'></script>
<script>
    grecaptcha.ready(function(){
        getReCatcha()
    });
    
    function getReCatcha(){
        grecaptcha.execute('6LcF7noUAAAAAApm1gLyucKIouLcUBwM7WJi1yxS', {action: 'homepage'})
        .then(function(token) {
            $('#g-recaptcha-response').val(token);
        });
    }
</script>
{% block javascripts %}
{% endblock %}

</body>
</html>
