{% extends ':admin:base.html.twig' %}

{% block title %}{{ 'index.reservations' | trans }}{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ 'index.reservations' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> {{ 'admin.reservation_manager' | trans }}
            </div>
            <div class="card-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'hotels.holder_name' | trans }}</th>
                        <th>{{ 'index.search.hotel.checkin_date' | trans }}</th>
                        <th>{{ 'index.search.hotel.checkout_date' | trans }}</th>
                        <th>{{ 'index.hotel' | trans }}</th>
                        <th>{{ 'hotels.reservation_number' | trans }}</th>
                        <th>{{ 'hotels.total_price' | trans }}</th>
                        {#<th>{{ 'hotels.card' | trans }}</th>#}
                        {#<th>{{ 'hotels.phone' | trans }}</th>#}
                        {#<th>{{ 'admin.email' | trans }}</th>#}
                        {% if is_granted('ROLE_ADMIN') %}
                        <th>{{ 'admin.origin' | trans }}</th>
                        {% endif %}
                        <th>{{ 'admin.actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.holderName }}</td>
                            <td>{{ entity.checkin | localizeddate('medium', 'none', app.request.locale) }}</td>
                            <td>{{ entity.checkout | localizeddate('medium', 'none', app.request.locale) }}</td>
                            <td>
                            {% if entity.hotelId %}
                            {{ entity.hotelId }}
                            {% endif %}
                            </td>
                            <td>{{ entity.reservationId }}</td>
                            <td>
                            {{ entity.totalPrice }}
                            </td>
                            {#<td>{{ entity.cardType }}</td>#}
                            {#<td>{{ entity.phoneNumber }}</td>#}
                            {#<td>{{ entity.email }}</td>#}
                            {% if is_granted('ROLE_ADMIN') %}
                            <td>{{ entity.origin }}</td>
                            {% endif %}
                            <td>
                                <a href="{{ path('reservation_show', {id: entity.id}) }}"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}