{% extends ':admin:base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}Dashboard{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {{ 'List of last created' | trans }}
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="callout callout-danger">
                                        <small class="text-muted">{{ 'Lasted 10 news created' | trans }}</small>
                                        <br>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                            <ul class="icons-list">
                                {% for new in news %}
                                    <li>
                                        <i class="fa fa-newspaper-o"></i>
                                        <div class="desc">
                                            <div class="title">{{ new.title }}</div>
                                            <div class="small text-muted">{{ new.subtitle }}</div>
                                        </div>
                                        <div class="value">
                                            <div class="small text-muted">{{ 'Modified' | trans }}</div>
                                            <p>{{ new.modified | date }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-12 col-lg-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="callout callout-primary">
                                        <small class="text-muted">{{ 'Lasted 10 medias created' | trans }}</small>
                                        <br>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                            <ul class="icons-list">
                                {% for media in medias %}
                                    <li>
                                        <i class="fa fa-file"></i>
                                        <div class="desc">
                                            <div class="title"><a href="{{ asset(vich_uploader_asset(media, 'file')) }}" download="{{ media.fileName }}">{{ media.name }}</a></div>
                                            {% if media.news %}
                                            <div class="small text-muted">{{ media.news.title }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="value">
                                            <div class="small text-muted">{{ 'Created' | trans }}</div>
                                            <p>{{ media.created | date }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
{% endblock %}
