Construyendo el formulario......
<br>
precio detalles:
{{price_detail.taxes}}<br>
detalle impuestos: <br>
{%for taxes_detail in price_detail.taxes_detail %}
    codigo/ {{taxes_detail.code}}
    cantidad/{{taxes_detail.amount}}<br>
    {%endfor%}
cuota(fee): {{price_detail.fee}}<br>
Descuentos : {{price_detail.discounts}}<br>
subtotal :{{price_detail.subtotal}}<br>
total: {{price_detail.total}}<br>

{%for passenger in formBooking.dictionary.form_choices[1].passengers%}
        <br>habitacion{{loop.index}}
        Primner Nombre: 
        <input type="{{passenger.first_name.type}}" name="{{passenger.qualified_name}}" value=""/>
 
    {%endfor%}
    <br>
    Tarjeta :<br>
     {#{{formBooking.dictionary.form_choices[1].payment.credit_card|yaml_dump}}#}
     
    {% set numberCard = formBooking.dictionary.form_choices[1].payment.credit_card.number%}
    {% set expirationCard = formBooking.dictionary.form_choices[1].payment.credit_card.expiration%}
    {% set securityCodeCard = formBooking.dictionary.form_choices[1].payment.credit_card.security_code%}
    {% set ownerNameCard = formBooking.dictionary.form_choices[1].payment.credit_card.owner_name%}
<br>
Nuemero:
<input type="{{numberCard.type}}" name="{{numberCard.qualified_name}}" value=""/>
<br>
Expiration:
<input type="{{expirationCard.type}}" name="{{expirationCard.qualified_name}}" value=""/>
<br>
codigo de seguridad:
<input type="{{securityCodeCard.type}}" name="{{securityCodeCard.qualified_name}}" value=""/>
<br>
Titular de la tarjeta:
<input type="{{ownerNameCard.type}}" name="{{ownerNameCard.qualified_name}}" value=""/>
 {% set contactEmail =formBooking.dictionary.form_choices[1].contact.email%}
 {% set contactPhone =formBooking.dictionary.form_choices[1].contact.phones%}
    <br>
    {#{{contactPhone|yaml_dump}}#}
    <br>
    Contacto :<br>
    Email:
    <input type="{{contactEmail.type}}" name="{{contactEmail.qualified_name}}" value=""/>
    <br>
    Email Confirmacion:
    <input type="{{contactEmail.type}}" name="{{contactEmail.qualified_name}}" value=""/>
    <br>
    Telefono:
    <select name="{{ contactPhone[0].type.qualified_name}}" value="">
        {%for tipo in contactPhone[0].type.options%}
            {{loop.index}}
        <option value="{{tipo.key}}">{{tipo.description}}</option>
        {%endfor%}
    </select>
    <br>
    Pais:
    <input type="{{contactPhone[0].country_code.type}}" name="{{contactPhone[0].country_code.qualified_name}}" value=""/>
    <br>
    <br>
    Area:
    <input type="{{contactPhone[0].area_code.type}}" name="{{contactPhone[0].area_code.qualified_name}}" value=""/>
    <br>
    <br>
    Número:
    <input type="{{contactPhone[0].number.type}}" name="{{contactPhone[0].number.qualified_name}}" value=""/>
    <br>