{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}
    <div class="container formBooking">
        <div class="row">
            <div class="gap"></div>
            <div class="col-md-3">
                <div class="content-sidebar">
                    <div class="booking-item-dates-change mb5">
                        <h3>Detalle de su pago</h3>
                        {{ reservationDays }} noche{% if reservationDays > 1 %}s{% endif %} - {{ roomNumbers }} {% if roomNumbers == 1 %}habitación{% else %} habitaciones{% endif %}<br/>
                        Habitación por noche: {{ price_detail.nightly.subtotal|number_format(2, ',', '.') }}<br/>
                        Impuestos y tasas: {{ (price_detail.taxes + price_detail.fee)|number_format(2, ',', '.') }}<br/>
                        <b>Total: {{ price_detail.total|number_format(2, ',', '.') }}</b><br/>
                    </div>
                    {% include 'VientoSurAppAppBundle:Hotel:searchMenuLeft.html.twig' %}

                </div>
            </div>
            <div class="col-md-9">
                {{ form_start(formNewPay) }}

                <!--Pasajeros-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Titular de habitación</div>
                    <div class="panel-body">
                        {#{{ form_row(formNewPay.passengers) }}#}
                        {% for passenger in formChoice.passengers %}
                            {% if loop.index0 > 0 %}
                                <hr/>
                            {% endif %}
                            {% set temp = attribute(rooms, loop.index0) %}
                            <h5>Habitación {{ loop.index }}: {{ temp.name }}</h5>

                            <div class="row">
                                <div class="col-md-4">
                                    {% set fieldName = 'first_name' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': 'Nombre(s):', 'attr': {'placeholder': 'Como aparece en el documento'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {% set fieldName = 'last_name' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': 'Apellido(s):', 'attr': {'placeholder': 'Como aparece en el documento'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {% set fieldName = 'document_number' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': 'Documento de Identidad:'}) }}
                                </div>
                            </div>
                            {% set fieldName = 'room_reference' ~ loop.index0 %}
                            {{ form_widget(attribute(formNewPay.passengers, fieldName), { 'attr': {'class': 'hidden-row'} }) }}
                        {% endfor %}
                        {{ form_widget(formNewPay.passengers.idspecial_requests, { 'attr': {'class': 'hidden-row'} }) }}
                        {{ form_widget(formNewPay.passengers.paramsspecial_requests, { 'attr': {'class': 'hidden-row'} }) }}
                    </div>
                </div>
                <!--/Pasajeros-->
                {#{{ dump(paymentMethods) }}#}
                {#{{ dump(paymentMethods2) }}#}
                {#{{ dump(formNewPay.payment.paymentMethod) }}#}
                <!--Formas de pago-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Formas de pago</div>
                    <div class="panel-body">
                        <div class="list-group">
                            {% for paymentMethod in paymentMethods %}
                            <a href="javascript:void(0)" class="list-group-item">
                                {% set type = paymentMethod.type %}
                                <h4 class="list-group-item-heading">
                                    {{ form_widget(attribute(formNewPay.payment.paymentMethod, loop.index0)) }}
                                    {% if paymentMethod.installment_quantity is defined %}
                                        {% if paymentMethod.installment_quantity == 1 %}
                                            <b style="font-weight: bold !important;">1</b> Pago
                                        {% elseif paymentMethod.installment_quantity > 1 and type == 'credit_card' %}
                                            <b style="font-weight: bold !important;">{{ paymentMethod.installment_quantity }}</b> Cuotas de $ {{ paymentMethod.amounts.installment }}
                                            {% if paymentMethod.with_bank_interest %}
                                                <span class="b-interest">$ {{ paymentMethod.amounts.total_interest_amount }}
                                                    (interés)</span>
                                            {% else %}
                                                <span class="b-interest">Sin interés</span>
                                            {% endif %}
                                        {% else %}
                                            Pago
                                        {% endif %}
                                    {% elseif type == 'at_destination' %}
                                        Pago en destino
                                    {% endif %}
                                </h4>
                                <p class="list-group-item-text">
                                    <div class="radio">
                                        <div class="card-list">
                                            {% if type == 'cash' %}
                                                <label class="card-selector vs-cs-label">
                                                    <div class="eva-card-container" data-card-id="">
                                                        <span class="eva-card-body EFE"></span>
                                                    </div>
                                                </label>
                                            {% else %}
                                                {% set cardsList = attribute(cardsGroup, paymentMethod.choice) %}
                                                {% set cardI = attribute(cardsList, '*') %}
                                                {% for card in cardI %}
                                                    <label class="card-selector vs-cs-label">
                                                        {% set cardData = card|split('-') %}
                                                        <div class="eva-card-container" data-card-id="{{ card }}">
                                                            <span class="eva-card-body {{ cardData[1] }}"></span>
                                                        </div>
                                                    </label>
                                                {% endfor %}
                                            {% endif %}
                                            {#{% for cardId in paymentMethod.card_ids %}#}
                                                {#<label class="card-selector vs-cs-label">#}
                                                    {#{% set cardData = cardId|split('-') %}#}
                                                    {#<div class="eva-card-container" data-card-id="{{ cardId }}">#}
                                                        {#<span class="eva-card-body {{ cardData[1] }}"></span>#}
                                                    {#</div>#}
                                                {#</label>#}
                                            {#{% endfor %}#}
                                        </div>
                                    </div>
                                </p>
                            </a>
                            {% endfor %}
                        </div>

                        {% if formChoice.payment.credit_card is defined %}
                            <hr/>
                            <h3>Medio de pago:</h3>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Tarjeta:</label>
                                    <input type="text" value="" id="card-selected" readonly>
                                </div>
                                {% if formNewPay.payment.number is defined %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.number, {'label': 'Número de tarjeta:'}) }}
                                    </div>
                                {% endif %}
                                {% if formNewPay.payment.expiration is defined %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.expiration, {'label': 'Vencimiento:'}) }}
                                    </div>
                                {% endif %}
                                {% if formNewPay.payment.security_code is defined %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.security_code, {'label': 'Código de seguridad:'}) }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="row">
                                {% if formNewPay.payment.owner_name is defined %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.owner_name, {'label': 'Titular de la tarjeta:', 'attr': {'placeholder': 'Como aparece en la tarjeta'}}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.payment.owner_document is defined %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.owner_document, {'label': 'Documento de Identidad del titular:'}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.payment.owner_documenttype is defined %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.owner_documenttype, {'label': 'Tipo de documento:'}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.payment.owner_documentnumber is defined %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.owner_documentnumber, {'label': 'Nro. de documento:'}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.payment.owner_gender is defined %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.owner_gender, {'label': 'Género:'}) }}
                                    </div>
                                {% endif %}
                            </div>

                            {% if formNewPay.payment.bank_code is defined %}
                                {{ form_widget(formNewPay.payment.bank_code, { 'attr': {'class': 'hidden-row'} }) }}
                            {% endif %}
                            {% if formNewPay.payment.card_code is defined %}
                                {{ form_widget(formNewPay.payment.card_code, { 'attr': {'class': 'hidden-row'} }) }}
                            {% endif %}
                            {% if formNewPay.payment.card_type is defined %}
                                {{ form_widget(formNewPay.payment.card_type, { 'attr': {'class': 'hidden-row'} }) }}
                            {% endif %}
                            {% if formChoice.payment.invoice is defined %}
                                {% include 'VientoSurAppAppBundle:Hotel:bookingHotelPayInvoice.html.twig' %}
                            {% endif %}

                        {% endif %}
                    </div>
                </div>
                <!--/Formas de pago-->

                <!--Contacto-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos de Contacto</div>
                    <div class="panel-body">
                        {#{{ form_row(formNewPay.contact) }}#}
                        <div class="row">
                            {% for phone in formChoice.contact.phones %}
                                <div class="col-md-2">
                                    {% set fieldName = 'country_code' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.contact, fieldName), {'label': 'Código de país:', 'attr': {'size': 4}}) }}
                                </div>

                                {% set fieldName = 'area_code' ~ loop.index0 %}
                                {% if attribute(formNewPay.contact, fieldName) is defined %}
                                    <div class="col-md-2">
                                        {{ form_row(attribute(formNewPay.contact, fieldName), {'label': 'Código de área:'}) }}
                                    </div>
                                {% endif %}

                                <div class="col-md-2">
                                    {% set fieldName = 'number' ~ loop.index0 %}
                                    {{ form_row(attribute(formNewPay.contact, fieldName), {'label': 'Número:'}) }}
                                </div>

                                {% set fieldName = 'type' ~ loop.index0 %}
                                {% if attribute(formNewPay.contact, fieldName) is defined %}
                                    <div class="col-md-2">
                                        {{ form_row(attribute(formNewPay.contact, fieldName), {'label': 'Tipo:'}) }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-md-2">
                                {{ form_row(formNewPay.contact.email, {'label': 'Email:'}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Contacto-->

                <!--Vouchers-->
                {% if formNewPay.vouchers is defined %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">Cupones</div>
                        <div class="panel-body">
                            {#{{ form_row(formNewPay.vouchers) }}#}
                            <div class="row">
                                {% for voucher in formChoice.vouchers %}
                                    <div class="col-md-2">
                                        {% set fieldName = loop.index0 %}
                                        {{ form_row(attribute(formNewPay.vouchers, fieldName), {'label': 'Cupón:'}) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!--/Vouchers-->

                <!--Datos adicionales-->
                {% if formNewPay.additionalData is defined %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">Datos adicionales</div>
                        <div class="panel-body">
                            {#{{ form_row(formNewPay.additionalData) }}#}
                            <div class="row">
                                {% if formNewPay.additionalData.comment is defined %}
                                    <div class="col-md-2">
                                        {{ form_row(formNewPay.additionalData.comment, {'label': 'Comentarios:'}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.additionalData.subscribe_newsletter is defined %}
                                    <div class="col-md-2">
                                        {{ form_row(formNewPay.additionalData.subscribe_newsletter, {'label': 'Subscribir a noticias:'}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.additionalData.travel_assistance is defined %}
                                    <div class="col-md-2">
                                        {{ form_row(formNewPay.additionalData.travel_assistance, {'label': 'Asistencia en viaje:'}) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!--/Datos adicionales-->

                <div class="gap"></div>
                <div class="mod-searchbutton">
                    <button class="btn btn-primary btn-lg" type="submit">Comprar</button>
                    <span>Por favor, antes de finalizar, revise los datos ingresados.</span>
                </div>
                <input type="hidden" name="roompack_choice" value="{{ roompack_choice }}">
                {{ form_rest(formNewPay) }}
                {{ form_end(formNewPay) }}
            </div>
            <div class="gap"></div>
            <div class="errors">
                {#{{ dump(errors) }}#}
            </div>
            {#{{ dump(formNewPay) }}#}
            {#{{ dump(formChoice) }}#}
            {#{{ dump(paymentMethods) }}#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/hotel-form.js') }}"></script>
    <script src="{{ asset('assets/vendor/intl-tel-input/build/js/intlTelInput.js') }}"></script>
    <script>
        $("#form_contact_country_code0").intlTelInput({
            autoHideDialCode: false,
            nationalMode: false,
            initialCountry: 'AR'
        });
        $("#form_contact_country_code0").on('keydown', function (e) {
            e.preventDefault();
            return false;
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .credit-card-div span {
            padding-top: 10px;
        }

        .credit-card-div img {
            padding-top: 30px;
        }

        .credit-card-div .small-font {
            font-size: 9px;
        }

        .credit-card-div .pad-adjust {
            padding-top: 10px;
        }

        .hidden-row {
            display: none;
        }

        .selected-p-card {
            border: 1px solid #1beab2 !important;
        }

        .eva-card-container:hover {
            border: 1px solid #1beab2 !important;
        }

        .card-list {
            font-size: 0;
            position: relative;
            text-align: right;
        }

        .installment-data {
            width: 50%;
            position: relative;
            float: left;
        }

        .card-list .eva-card-container {
            margin-left: 3px;
            margin-bottom: 5px;
        }

    </style>
    <link href="{{ asset('css/cards-horizontal.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/vendor/intl-tel-input/build/css/intlTelInput.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}