{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}
    <div class="container formBooking">
        <div class="row">
            <div class="gap"></div>
            <div class="col-md-3">
                <div class="content-sidebar">
                    <div class="booking-item-dates-change mb5">
                        <h2>Detalle de su pago</h2>
                        Habitación por noche:
                        {#{{price_detail.taxes}}#} {{price_detail.nightly.subtotal}}<br>
                        detalle impuestos: <br>
                        {%for taxes_detail in price_detail.taxes_detail %}
                            codigo/ {{taxes_detail.code}}
                            cantidad/{{taxes_detail.amount}}<br>
                        {%endfor%}
                        cuota(fee): {{price_detail.fee}}<br>
                        Descuentos : {{price_detail.discounts}}<br>
                        subtotal :{{price_detail.subtotal}}<br>
                        total: {{price_detail.total}}<br>
                    </div>
                    {% include 'VientoSurAppAppBundle:Hotel:searchMenuLeft.html.twig' %}

                </div>
            </div>
            <div class="col-md-9">
                {{ form_start(formNewPay) }}

                <!--Pasajeros-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Pasajeros</div>
                    <div class="panel-body">
                        {{ form_row(formNewPay.passengers) }}
                    </div>
                </div>
                <!--/Pasajeros-->

                <!--Formas de pago-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Formas de pago</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for paymentMethod in paymentMethods %}
                                <li class="list-group-item">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="paymentMethodChoice" value="{{ paymentMethod.choice }}">
                                        </label>
                                        {{ paymentMethod.type }}

                                        {% for cardId in paymentMethod.card_ids %}
                                            <label class="card-selector">
                                                {% set cardData = cardId|split('-') %}
                                                <div class="eva-card-container">
                                                    <span class="eva-card-body {{ cardData[1] }}"></span>
                                                </div>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endfor %}

                            <hr />

                            {{ form_row(formNewPay.payment) }}

                        </ul>
                    </div>
                </div>
                <!--/Formas de pago-->

                <!--Contacto-->
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos de Contacto</div>
                    <div class="panel-body">
                        {{ form_row(formNewPay.contact) }}
                    </div>
                </div>
                <!--/Contacto-->

                <!--Recibo-->
                {% if formNewPay.vouchers is defined %}
                <div class="panel panel-primary">
                    <div class="panel-heading">Recibos</div>
                    <div class="panel-body">
                        {{ form_row(formNewPay.vouchers) }}
                    </div>
                </div>
                {% endif %}
                <!--/Recibo-->

                <!--Datos adicionales-->
                {% if formNewPay.additionalData is defined %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">Datos adicionales</div>
                        <div class="panel-body">
                            {{ form_row(formNewPay.additionalData) }}
                        </div>
                    </div>
                {% endif %}
                <!--/Datos adicionales-->

                <div class="gap"></div>
                <div class="mod-searchbutton">
                    <button class="btn btn-primary btn-lg" type="submit">Pagar</button>
                </div>
                <input type="hidden" name="roompack_choice" value="{{ roompack_choice }}">
                {{ form_rest(formNewPay) }}
            {{ form_end(formNewPay) }}
            </div>
            <div class="gap"></div>
            {{ dump(formNewPay) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#form_payment_expiration_day').hide();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style type="text/css">
    .credit-card-div  span { padding-top:10px; }
    .credit-card-div img { padding-top:30px; }
    .credit-card-div .small-font { font-size:9px; }
    .credit-card-div .pad-adjust { padding-top:10px; }
</style>
    <link href="{{ asset('bundles/vientosurappapp/css/cards-horizontal.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}