{% if formChoice.payment.invoice is defined %}
    <div class="datesPayment">
        <h2>{{ 'hotels.invoice' | trans }}:</h2>
        <div class="row">
            {% if formNewPay.payment.billing_address is defined %}
                <div class="col-sm-3">
                    <div class="form-group">
                        {% set label = 'hotels.labels.billing_address' | trans %}
                        <label class="label-lef" for="">{{ label }}</label>
                        {{ form_widget(formNewPay.payment.billing_address, {'attr': {'class': 'form-control input-width'}}) }}
                    </div>
                </div>
            {% endif %}

            {% if formNewPay.payment.invoice_name is defined %}
                <div class="col-sm-4">
                    <div class="form-group">
                        {% set label = 'hotels.labels.invoice_name' | trans %}
                        <label class="label-lef" for="">{{ label }}</label>
                        {{ form_widget(formNewPay.payment.invoice_name, {'attr': {'class': 'form-control input-width'}}) }}
                    </div>
                </div>
            {% endif %}

            {% if formNewPay.payment.fiscal_document is defined %}
                <div class="col-sm-4">
                    <div class="form-group">
                        {% set label = 'hotels.labels.fiscal_document' | trans %}
                        <label class="label-lef" for="">{{ label }}</label>
                        {{ form_widget(formNewPay.payment.fiscal_document, {'attr': {'class': 'form-control input-width', 'placeholder': 'cuil / cuit'}}) }}
                    </div>
                </div>
            {% endif %}

            {% if formNewPay.payment.tax_status is defined %}
                <div class="col-sm-4">
                    <div class="form-group">
                        {% set label = 'hotels.labels.tax_status' | trans %}
                        <label class="label-lef" for="">{{ label }}</label>
                        {{ form_widget(formNewPay.payment.tax_status , {'attr': {'class': 'form-control input-width-50'}}) }}
                    </div>
                </div>
            {% endif %}
            {% if formNewPay.payment.fiscal_document is defined %}
                <div class="col-md-8 top-buffer" id="errorCuit" style="display: none;">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ 'hotels.labels.invalid_fiscal_document' | trans }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% if formNewPay.payment.fiscal_document_type is defined  or formNewPay.payment.fiscal_document_prefix_verification_code is defined or formNewPay.payment.entity_type is defined %}
    <div class="datesPayment">
        <div class="row">
            {% if formNewPay.payment.fiscal_document_type is defined %}
                <div class="col-sm-3">
                    <div class="form-group">
                        {% set label = 'hotels.labels.fiscal_document_type' | trans %}
                        <label for="">{{ label }}</label>
                        {{ form_widget(formNewPay.payment.fiscal_document_type, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            {% endif %}

            {% if formNewPay.payment.fiscal_document_prefix_verification_code is defined %}
                <div class="col-sm-3">
                    <div class="form-group">
                        {% set label = 'hotels.labels.fiscal_document_prefix_verification_code' | trans %}
                        <label for="">{{ label }}</label>
                        {{ form_widget(formNewPay.payment.fiscal_document_prefix_verification_code , {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            {% endif %}

            {% if formNewPay.payment.entity_type is defined %}
                <div class="col-sm-3">
                    <div class="form-group">
                        {% set label = 'hotels.labels.entity_type' | trans %}
                        <label for="">{{ label }}</label>
                        {{ form_widget(formNewPay.payment.entity_type , {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}


    <div class="row">
        {% if formNewPay.payment.document_issuing_country_code is defined %}
            <div class="col-sm-3">
                <div class="form-group">
                    {% set label = 'hotels.labels.document_issuing_country_code' | trans %}
                    <label for="">{{ label }}</label>
                    {{ form_widget(formNewPay.payment.document_issuing_country_code , {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        {% endif %}

        {% if formNewPay.payment.business_type is defined %}
            <div class="col-sm-3">
                <div class="form-group">
                    {% set label = 'hotels.labels.business_type' | trans %}
                    <label for="">{{ label }}</label>
                    {{ form_widget(formNewPay.payment.business_type , {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        {% endif %}

        {% if formNewPay.payment.economical_activity is defined %}
            <div class="col-sm-3">
                <div class="form-group">
                    {% set label = 'hotels.labels.economical_activity' | trans %}
                    <label for="">{{ label }}</label>
                    {{ form_widget(formNewPay.payment.economical_activity , {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}

{% if formChoice.payment.invoice.billing_address is defined %}
    <div class="datesPayment">
        <h2>{{ 'hotels.labels.billing_address' | trans }}</h2>
        <div class="row">
            {% if formNewPay.payment.billing_addresscountry is defined %}
            <div class="col-sm-3">
                <div class="form-group">
                    {% set label = 'hotels.labels.country' | trans %}
                    <label class="label-lef" for="">{{ label }}</label>
                    {{ form_widget(formNewPay.payment.billing_addresscountry , {'attr': {'class': 'form-control input-width'}}) }}
                </div>
            </div>
            {% endif %}

            {% if formNewPay.payment.billing_addressstreet is defined %}
                <div class="col-sm-3">
                    <div class="form-group">
                        {% set label = 'hotels.labels.street' | trans %}
                        <label class="label-lef" for="">{{ label }}</label>
                        {{ form_widget(formNewPay.payment.billing_addressstreet , {'attr': {'class': 'form-control input-width'}}) }}
                    </div>
                </div>
            {% endif %}

            {% if formNewPay.payment.billing_addressnumber is defined %}
            <div class="col-sm-3">
                <div class="form-group">
                    {% set label = 'hotels.labels.billing_addressnumber' | trans %}
                    <label class="label-lef" for="">{{ label }}</label>
                    {{ form_widget(formNewPay.payment.billing_addressnumber , {'attr': {'class': 'form-control input-width'}}) }}
                </div>
            </div>
            {% endif %}

            {% if formNewPay.payment.billing_addressfloor is defined %}
            <div class="col-sm-3">
                <div class="form-group">
                    {% set label = 'hotels.labels.floor' | trans %}
                    <label class="label-lef" for="">{{ label }}</label>
                    {{ form_widget(formNewPay.payment.billing_addressfloor , {'attr': {'class': 'form-control input-width'}}) }}
                </div>
            </div>
            {% endif %}
            {% if formNewPay.payment.billing_addresspostal_code is defined %}
                {% set label = 'hotels.labels.postal_code' | trans %}
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_row(formNewPay.payment.billing_addresspostal_code , {'label': label, 'label_attr': {'class': 'label-lef'}, 'attr': {'class': 'form-control input-width', 'style':'width: 45%;'}}) }}
                    </div>
                </div>
            {% endif %}    
        </div>
    </div>

    <div class="row">
        {% if formNewPay.payment.billing_addressdepartment is defined %}
        <div class="col-md-3">
            <div class="form-group">
                {% set label = 'hotels.labels.department' | trans %}
                <label class="label-lef" for="">{{ label }}</label>
                {{ form_widget(formNewPay.payment.billing_addressdepartment , {'attr': {'class': 'form-control input-width'}}) }}
            </div>
        </div>
        {% endif %}

        {% if formNewPay.payment.billing_addressstate_id is defined %}
            <div class="col-md-4">
                <div class="form-group">
                    {% set label = 'hotels.labels.state' | trans %}
                    {{ form_label(formNewPay.payment.billing_addressstate_id, label, {'label_attr': {'class': 'label-lef'}}) }}
                    {% set label = 'hotels.labels.find_state' | trans %}
                    <input type="text" id="autocomplete-state" data-provide="typeahead" placeholder="{{ label }}" required autocomplete="off" class="form-control input-width" />
                    {{ form_widget(formNewPay.payment.billing_addressstate_id , {'attr': {'class': 'hide'}}) }}
                    {{ form_errors(formNewPay.payment.billing_addressstate_id) }}
                </div>
            </div>
        {% endif %}

        {% if formNewPay.payment.billing_addresscity_id is defined %}
            <div class="col-md-3">
                <div class="form-group">
                    {% set label = 'hotels.labels.city' | trans %}
                    {{ form_label(formNewPay.payment.billing_addresscity_id, label, {'label_attr': {'class': 'label-lef'}}) }}
                    {% set label = 'hotels.labels.fill_state' | trans %}
                    <input type="text" id="autocomplete-city" data-provide="typeahead" placeholder="{{ label }}" readonly required autocomplete="off" class="form-control input-width" />
                    {{ form_widget(formNewPay.payment.billing_addresscity_id , {'attr': {'class' : 'hide'}}) }}
                    {{ form_errors(formNewPay.payment.billing_addresscity_id) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}