{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="gap"></div>
            <div class="col-md-3">
                <div class="content-sidebar">
                    <div class="booking-item-dates-change mb5">
                        <h2>Detalle de su pago</h2>
                        Habitación por noche:
                       {#{{price_detail.taxes}}#} {{price_detail.nightly.subtotal}}<br>
                        detalle impuestos: <br>
                        {%for taxes_detail in price_detail.taxes_detail %}
                            codigo/ {{taxes_detail.code}}
                            cantidad/{{taxes_detail.amount}}<br>
                        {%endfor%}
                        cuota(fee): {{price_detail.fee}}<br>
                        Descuentos : {{price_detail.discounts}}<br>
                        subtotal :{{price_detail.subtotal}}<br>
                        total: {{price_detail.total}}<br>
                    </div>
                    {% include 'VientoSurAppAppBundle:Hotel:searchMenuLeft.html.twig' %}

                </div>
            </div>

            <div class="col-md-9">
                <form name="payHotel" id="pay-hotels" action ="{{ path('viento_sur_app_boking_hotel_pay')}}" method="POST">
                    <input type="hidden" name="passengers" value="{{formBooking.dictionary.form_choices[1].passengers|length}}">

                    {%for passenger in formBooking.dictionary.form_choices[1].passengers%}
                        <div class="row">
                            <div class="col-md-12"><div class="form-group form-group-lg"><label class="room-label roomLabel">Habitación: {{loop.index}}</label></div></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-group-lg">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" name="{{passenger.first_name.qualified_name}}" value="" placeholder="Como figura en el documento"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-group-lg">
                                    <label>Apellido</label>
                                    <input type="{{passenger.last_name.type}}" class="form-control" name="{{passenger.last_name.qualified_name}}" value="" placeholder="Como figura en el documento"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-group-lg">
                                    <label>DNI</label>
                                    <input type="{{passenger.room_reference.type}}" class="form-control" name="{{passenger.room_reference.qualified_name}}" value="" placeholder="Como figura en el documento"/>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                    <div class="row">
                        <div class="col-md-12"><div class="form-group form-group-lg"><label class="room-label roomLabel">Tarjeta</label></div></div>
                    </div>
                    {% set numberCard = formBooking.dictionary.form_choices[1].payment.credit_card.number%}
                    {% set expirationCard = formBooking.dictionary.form_choices[1].payment.credit_card.expiration%}
                    {% set securityCodeCard = formBooking.dictionary.form_choices[1].payment.credit_card.security_code%}
                    {% set ownerNameCard = formBooking.dictionary.form_choices[1].payment.credit_card.owner_name%}

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-group-lg">
                                <label>Número</label>
                                <input type="{{numberCard.type}}" class="form-control" name="{{numberCard.qualified_name}}" value=""/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-group-lg">
                                <label>Vencimiento</label>
                                <select type="{{expirationCard.type}}" class="form-control" name="expiration_month" style="width: 100px;" >
                                    {% for month in expiration_month %}
                                        <option value="{{ month }}">{{ month }}</option>
                                    {% endfor %}
                                </select> 
                            </div> 
                        </div>
                        <div class="col-md-2">        
                            <div class="form-group form-group-lg"> 
                                <label>&nbsp;</label>
                                <select type="{{expirationCard.type}}" class="form-control" name="expiration_years" style="width: 100px;">
                                    {% for year in expiration_years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>    
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-lg">
                                <label>Código de Seguridad</label>
                                <input type="{{securityCodeCard.type}}" class="form-control" name="{{securityCodeCard.qualified_name}}" value=""/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-lg">
                                <label>Titular de la tarjeta</label>
                                <input type="{{ownerNameCard.type}}" class="form-control" name="{{ownerNameCard.qualified_name}}" value="" placeholder="Como figura en la tarjeta"/>
                            </div>
                        </div>
                    </div>

                    {% set contactEmail =formBooking.dictionary.form_choices[1].contact.email%}
                    {% set contactPhone =formBooking.dictionary.form_choices[1].contact.phones%}

                    <div class="row">
                        <div class="col-md-12"><div class="form-group form-group-lg"><label class="room-label roomLabel">Información de contacto</label></div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-lg">
                                <label>Email</label>
                                <input type="{{contactEmail.type}}" class="form-control" name="{{contactEmail.qualified_name}}" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-lg">
                                <label>Confirme su e-mail</label>
                                <input type="{{contactEmail.type}}" class="form-control" name="{{contactEmail.qualified_name}}" value=""/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group form-group-lg">
                                <label>Teléfono</label>
                                <select name="{{ contactPhone[0].type.qualified_name}}" class="form-control" value="">
                                    {%for tipo in contactPhone[0].type.options%}
                                        {{loop.index}}
                                        <option value="{{tipo.key}}">{{tipo.description}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-lg">
                                <label>País</label>
                                <input type="{{contactPhone[0].country_code.type}}" class="form-control" name="{{contactPhone[0].country_code.qualified_name}}" value=""/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-group-lg">
                                <label>Área</label>
                                <input type="{{contactPhone[0].area_code.type}}" class="form-control" name="{{contactPhone[0].area_code.qualified_name}}" value=""/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-lg">
                                <label>Número</label>
                                <input type="{{contactPhone[0].number.type}}" class="form-control" name="{{contactPhone[0].number.qualified_name}}" value=""/>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="tokenize_key" value="{{ formBooking.tokenize_key }}">
                    <input type="hidden" name="form_id" value="{{ formBooking.items.2.id }}">
                    <div class="mod-searchbutton">
                        <button class="btn btn-primary btn-lg" type="submit">Pagar</button>
                    </div>
                </form>
            </div>
            <div class="gap"></div>
        </div>
    </div>
{% endblock %}