{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}
    <div class="container formBooking">
        <div class="row">
            <div class="gap"></div>
            <div class="col-md-3">
                <div class="content-sidebar">
                    <div class="booking-item-dates-change mb5">
                        <h2>Detalle de su pago</h2>
                        Habitación por noche:
                        {#{{price_detail.taxes}}#} {{price_detail.nightly.subtotal}}<br>
                        detalle impuestos: <br>
                        {%for taxes_detail in price_detail.taxes_detail %}
                            codigo/ {{taxes_detail.code}}
                            cantidad/{{taxes_detail.amount}}<br>
                        {%endfor%}
                        cuota(fee): {{price_detail.fee}}<br>
                        Descuentos : {{price_detail.discounts}}<br>
                        subtotal :{{price_detail.subtotal}}<br>
                        total: {{price_detail.total}}<br>
                    </div>
                    {% include 'VientoSurAppAppBundle:Hotel:searchMenuLeft.html.twig' %}

                </div>
            </div>
            <div class="col-md-9">
            {{ form_start(formNewPay) }}
                {{ form_widget(formNewPay) }}
                <div class="gap"></div>
                <div class="mod-searchbutton">
                    <button class="btn btn-primary btn-lg" type="submit">Pagar</button>
                </div>
                {{ form_rest(formNewPay) }}
            {{ form_end(formNewPay) }}
            </div>
            <div class="gap"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#form_expiration_day').hide();
    </script>
{% endblock %}