{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}
    <div class="container formBooking">
        <div class="row">
            <div class="gap"></div>

            <div class="col-md-9 col-md-push-3">
                {{ form_start(formNewPay, {'attr': {'class': 'booking-form'}}) }}

                <!--Pasajeros-->
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ 'hotels.room_holder' | trans }}</div>
                    <div class="panel-body">
                        {#{{ form_row(formNewPay.passengers) }}#}
                        {% for passenger in formChoice.passengers %}
                            {% if loop.index0 > 0 %}
                                <hr/>
                            {% endif %}
                            {% set temp = attribute(rooms, loop.index0) %}
                            <h5>{{ 'index.search.hotel.room' | trans }} {{ loop.index }}: {{ temp.name }}</h5>

                            <div class="row">
                                <div class="col-md-4">
                                    {% set fieldName = 'first_name' ~ loop.index0 %}
                                    {% set label = 'hotels.labels.name' | trans %}
                                    {% set placeholder = 'hotels.labels.name_placeholder' | trans %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': label, 'attr': {'placeholder': placeholder, 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {% set fieldName = 'last_name' ~ loop.index0 %}
                                    {% set label = 'hotels.labels.lastname' | trans %}
                                    {% set placeholder = 'hotels.labels.name_placeholder' | trans %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': label, 'attr': {'placeholder': placeholder, 'class': 'form-control'}}) }}
                                </div>
                                <div class="col-md-4">
                                    {% set fieldName = 'document_number' ~ loop.index0 %}
                                    {% set label = 'hotels.labels.document' | trans %}
                                    {{ form_row(attribute(formNewPay.passengers, fieldName), {'label': label, 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            {% set fieldName = 'room_reference' ~ loop.index0 %}
                            {{ form_widget(attribute(formNewPay.passengers, fieldName), { 'attr': {'class': 'hidden'} }) }}
                        {% endfor %}
                        {{ form_widget(formNewPay.passengers.idspecial_requests, { 'attr': {'class': 'hidden'} }) }}
                        {{ form_widget(formNewPay.passengers.paramsspecial_requests, { 'attr': {'class': 'hidden'} }) }}
                    </div>
                </div>
                <!--/Pasajeros-->

                <!--Formas de pago-->
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ 'hotels.payment_methods' | trans }}</div>
                    <div class="panel-body">
                        <div class="list-group">
                            {% for paymentMethod in paymentMethods %}
                            <a href="javascript:void(0)" class="list-group-item">
                                {% set type = paymentMethod.type %}
                                <h4 class="list-group-item-heading">
                                    {{ form_widget(attribute(formNewPay.payment.paymentMethod, loop.index0)) }}
                                    {% if paymentMethod.installment_quantity is defined %}
                                        {% if paymentMethod.installment_quantity == 1 %}
                                            <b style="font-weight: bold !important;">1</b> Pago
                                        {% elseif paymentMethod.installment_quantity > 1 and type == 'credit_card' %}
                                            <b style="font-weight: bold !important;">{{ paymentMethod.installment_quantity }}</b> Cuotas de $ {{ paymentMethod.amounts.installment|number_format(2, ',', '.') }}
                                            {% if paymentMethod.amounts.total_interest_amount > 0 %}
                                                <span class="b-interest">$ {{ paymentMethod.amounts.total_interest_amount|number_format(2, ',', '.') }}
                                                    ({{ 'hotels.interest' | trans }})</span>
                                            {% else %}
                                                <span class="b-interest">{{ 'hotels.whitout_interest' | trans }}</span>
                                            {% endif %}
                                        {% else %}
                                            {{ 'hotels.pay' | trans }}
                                        {% endif %}
                                    {% elseif type == 'at_destination' %}
                                        {{ 'hotels.pay_in_destiny' | trans }}
                                    {% endif %}
                                </h4>
                                <p class="list-group-item-text">
                                    <div class="radio">
                                        <div class="card-list credit-cards">
                                            {% if type == 'cash' %}
                                                <label class="card-selector vs-cs-label">
                                                    <div class="eva-card-container" data-card-id="">
                                                        <span class="eva-card-body EFE"></span>
                                                    </div>
                                                </label>
                                            {% else %}
                                            {% set cardsList = attribute(cardsGroup, paymentMethod.choice) %}
                                            {% if cardsList['*'] is defined %}
                                                {% set cardI = attribute(cardsList, '*') %}
                                                {% for card in cardI %}
                                                    <label class="card-selector vs-cs-label">
                                                        {% set cardData = card|split('-') %}
                                                        <div class="eva-card-container clickable-card"
                                                             data-card-id="{{ card }}">
                                                            <span class="eva-card-body {{ cardData[1] }}"></span>
                                                        </div>
                                                    </label>
                                                {% endfor %}
                                            {% endif %}
                                                {#Agrupación por banco#}
                                                {% set countBank = 1 %}
                                                {% set moreBank = null %}
                                                {% for key, list in cardsList %}
                                                    {% if key != '*' %}
                                                        {#limito la cantidad de bancos a 4 elementos#}
                                                        {% if countBank < 5 %}
                                                            <div class="eva-card-container clickable-bank" data-trigger="focus" tabindex="0" role="button" id="{{ loop.parent.loop.index }}-{{ key }}">
                                                                <span class="eva-card-body {{ key }}"></span>
                                                                <div class="card-content hide">
                                                                    {% for card in list  %}
                                                                        {% set cardData = card|split('-') %}
                                                                        <div class="eva-card-container clickable-card" data-card-id="{{ card }}" data-bank-id="{{ key }}" data-parent-id="{{ loop.parent.loop.parent.loop.index }}-{{ key }}">
                                                                            <span class="eva-card-body {{ cardData[1] }}"></span>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% elseif countBank == 5 %}
                                                            {% set moreBank = 1 %}
                                                            <div class="eva-card-container clickable-group-bank viewMore" data-trigger="focus" tabindex="0" role="button" id="{{ loop.parent.loop.index }}-group">
                                                                <span class="eva-card-body"></span>
                                                                <p class="textViewMore"> Más<br />Bancos </p>
                                                                <span class="arrowViewMore">&gt;</span>
                                                            </div>
                                                        {% endif %}
                                                        {% set countBank = countBank + 1 %}
                                                    {% endif %}
                                                {% endfor %}

                                                {#si hay bancos en grupos para dibujar#}
                                                {% if moreBank is not null %}
                                                    <div class="{{ loop.index }}-group hidden">
                                                        {% set countBank = 1 %}
                                                        <table class="table table-bordered">
                                                            <tr>
                                                                <th class="text-center">{{ 'hotels.bank' | trans }}</th>
                                                                <th class="text-center">{{ 'hotels.card' | trans }}</th>
                                                            </tr>
                                                        {% for key, list in cardsList %}
                                                            {% if key != '*' %}
                                                                {% if countBank > 4 %}
                                                                    <tr>
                                                                        <th>
                                                                            <div class="eva-card-container notClickableCard">
                                                                                <span class="eva-card-body {{ key }} notClickableCard"></span>
                                                                            </div>
                                                                        </th>
                                                                        <td>
                                                                            {% for card in list  %}
                                                                                {% set cardData = card|split('-') %}
                                                                                <div class="eva-card-container clickable-card" data-card-id="{{ card }}" data-bank-id="{{ key }}" data-parent-id="{{ loop.parent.loop.parent.loop.index }}-group">
                                                                                    <span class="eva-card-body {{ cardData[1] }}"></span>
                                                                                </div>
                                                                            {% endfor %}
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% set countBank = countBank + 1 %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        </table>
                                                    </div>
                                                {% endif %}

                                            {% endif %}
                                        </div>
                                    </div>
                                </p>
                            </a>
                            {% endfor %}
                        </div>

                        {% if formChoice.payment.credit_card is defined %}
                            <hr/>
                            <h3>{{ 'hotels.payment_methods' | trans }}:</h3>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>{{ 'hotels.selected_card' | trans }}:</label>
                                    <input type="text" value="" id="card-selected" class="form-control" readonly>
                                </div>
                                {% if formNewPay.payment.number is defined %}
                                    {% set label = 'hotels.labels.card_number' | trans %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.number, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endif %}
                                {% if formNewPay.payment.expiration is defined %}
                                    {% set label = 'hotels.labels.expiration' | trans %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.expiration, {'label': label}) }}
                                    </div>
                                {% endif %}
                                {% if formNewPay.payment.security_code is defined %}
                                    {% set label = 'hotels.labels.security_code' | trans %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.security_code, {'label': label, 'attr': {'class': 'form-control input-ccv' , 'size': '5'}}) }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="alert alert-danger hidden" style="margin-top: 10px;" role="alert" id="card-error"></div>
                                </div>
                            </div>

                            <div class="row">
                                {% if formNewPay.payment.owner_name is defined %}
                                    {% set label = 'hotels.labels.cardholder' | trans %}
                                    {% set placeholder = 'hotels.labels.such_as_card' | trans %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.owner_name, {'label': label, 'attr': {'placeholder': placeholder, 'class': 'form-control'}}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.payment.owner_document is defined %}
                                    {% set label = 'hotels.labels.owner_doc' | trans %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.owner_document, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.payment.owner_documenttype is defined %}
                                    {% set label = 'hotels.labels.owner_documenttype' | trans %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.owner_documenttype, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.payment.owner_documentnumber is defined %}
                                    {% set label = 'hotels.labels.owner_documentnumber' | trans %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.owner_documentnumber, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.payment.owner_gender is defined %}
                                    {% set label = 'hotels.labels.owner_gender' | trans %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.payment.owner_gender, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endif %}
                            </div>

                            {{ form_widget(attribute(formNewPay.payment, 'id0'), { 'attr': {'class': 'hidden'} }) }}
                            {{ form_widget(attribute(formNewPay.payment, 'amount0'), { 'attr': {'class': 'hidden'} }) }}

                            {% if formNewPay.payment.country is defined %}
                                <hr/>
                                <div class="row">
                                    {% if formNewPay.payment.country is defined %}
                                        {% set label = 'hotels.labels.country' | trans %}
                                        <div class="col-md-3">
                                            {{ form_row(formNewPay.payment.country, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    {% endif %}

                                    {% if formNewPay.payment.state is defined %}
                                        {% set label = 'hotels.labels.state' | trans %}
                                        <div class="col-md-3">
                                            {{ form_row(formNewPay.payment.state, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    {% endif %}

                                    {% if formNewPay.payment.city is defined %}
                                        {% set label = 'hotels.labels.city' | trans %}
                                        <div class="col-md-3">
                                            {{ form_row(formNewPay.payment.city, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    {% endif %}

                                    {% if formNewPay.payment.street is defined %}
                                        {% set label = 'hotels.labels.street' | trans %}
                                        <div class="col-md-3">
                                            {{ form_row(formNewPay.payment.street, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    {% endif %}

                                    {% if formNewPay.payment.floor is defined %}
                                        {% set label = 'hotels.labels.floor' | trans %}
                                        <div class="col-md-3">
                                            {{ form_row(formNewPay.payment.floor, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    {% endif %}

                                    {% if formNewPay.payment.department is defined %}
                                        {% set label = 'hotels.labels.department' | trans %}
                                        <div class="col-md-3">
                                            {{ form_row(formNewPay.payment.department, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    {% endif %}

                                    {% if formNewPay.payment.postal_code is defined %}
                                        {% set label = 'hotels.labels.postal_code' | trans %}
                                        <div class="col-md-3">
                                            {{ form_row(formNewPay.payment.postal_code, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {##}

                            {% if formNewPay.payment.bank_code is defined %}
                                {{ form_widget(formNewPay.payment.bank_code, { 'attr': {'class': 'hidden'} }) }}
                            {% endif %}
                            {% if formNewPay.payment.card_code is defined %}
                                {{ form_widget(formNewPay.payment.card_code, { 'attr': {'class': 'hidden'} }) }}
                            {% endif %}
                            {% if formNewPay.payment.card_type is defined %}
                                {{ form_widget(formNewPay.payment.card_type, { 'attr': {'class': 'hidden'} }) }}
                            {% endif %}
                            {% if formChoice.payment.invoice is defined %}
                                {% include 'VientoSurAppAppBundle:Hotel:bookingHotelPayInvoice.html.twig' %}
                            {% endif %}

                            {% for flashMessage in app.session.flashbag.get('card_msg') %}
                                <div class="row">
                                    <div class="col-md-10 top-buffer">
                                        <div class="alert alert-danger" role="alert">
                                            <span>{{ 'index.invalid_cc' | trans }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        {% endif %}
                    </div>
                </div>
                <!--/Formas de pago-->

                <!--Contacto-->
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ 'hotels.contact_info' | trans }}</div>
                    <div class="panel-body">
                        {#{{ form_row(formNewPay.contact) }}#}
                        <div class="row">
                            {% for phone in formChoice.contact.phones %}
                                <div class="col-md-2">
                                    {% set fieldName = 'country_code' ~ loop.index0 %}
                                    {% set label = 'hotels.labels.country_code' | trans %}
                                    {{ form_row(attribute(formNewPay.contact, fieldName), {'label': label, 'attr': {'size': 4, 'class': 'form-control'}}) }}
                                </div>

                                {% set fieldName = 'type' ~ loop.index0 %}
                                {% if attribute(formNewPay.contact, fieldName) is defined %}
                                    {% set label = 'hotels.labels.type' | trans %}
                                    <div class="col-md-2">
                                        {{ form_row(attribute(formNewPay.contact, fieldName), {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endif %}

                                {% set fieldName = 'area_code' ~ loop.index0 %}
                                {% if attribute(formNewPay.contact, fieldName) is defined %}
                                    {% set label = 'hotels.labels.area_code' | trans %}
                                    <div class="col-md-2">
                                        {{ form_row(attribute(formNewPay.contact, fieldName), {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endif %}

                                <div class="col-md-4">
                                    {% set fieldName = 'number' ~ loop.index0 %}
                                    {% set label = 'hotels.labels.number' | trans %}
                                    {{ form_row(attribute(formNewPay.contact, fieldName), {'label': label, 'attr': {'class': 'form-control'}}) }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-10 top-buffer"><div class="alert alert-success" role="alert">{{ 'hotels.contact_msg' | trans }}.</div></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(formNewPay.contact.email, {'label': 'Email:', 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <label for="form_contact_info_email-" class="required">Confirme su Email:</label>
                                    <input type="email" id="form_contact_info_email-1" name="form[contact_info][email-1]" required="required" placeholder="Confirme su email" class="form-control" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-8 top-buffer hide" id="errorEmail">
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    Las direcciones de email no coinciden.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 top-buffer"><div class="alert alert-success" role="alert">{{ 'hotels.contact_confirm' | trans }}.</div></div>
                        </div>
                    </div>
                </div>
                <!--/Contacto-->

                <!--Vouchers-->
                {% if formNewPay.vouchers is defined %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ 'hotels.vouchers' | trans }}</div>
                        <div class="panel-body">
                            {#{{ form_row(formNewPay.vouchers) }}#}
                            <div class="row">
                                {% for voucher in formChoice.vouchers %}
                                    <div class="col-md-2">
                                        {% set fieldName = loop.index0 %}
                                        {% set label = 'hotels.vouchers' | trans %}
                                        {{ form_row(attribute(formNewPay.vouchers, fieldName), {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!--/Vouchers-->

                <!--Datos adicionales-->
                {% if formNewPay.additionalData is defined %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ 'hotels.additional_data' | trans }}</div>
                        <div class="panel-body">
                            {#{{ form_row(formNewPay.additionalData) }}#}
                            <div class="row">
                                {% if formNewPay.additionalData.comment is defined %}
                                    <div class="col-md-6">
                                        {% set label = 'hotels.labels.comment' | trans %}
                                        {{ form_row(formNewPay.additionalData.comment, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-md-6">
                                        <div class="alert alert-success" role="alert">{{ 'hotels.additional_msg' | trans }}.</div>
                                    </div>
                                {% endif %}

                                {% if formNewPay.additionalData.subscribe_newsletter is defined %}
                                    {% set label = 'hotels.labels.subscribe_newsletter' | trans %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.additionalData.subscribe_newsletter, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endif %}

                                {% if formNewPay.additionalData.travel_assistance is defined %}
                                    {% set label = 'hotels.labels.travel_assistance' | trans %}
                                    <div class="col-md-3">
                                        {{ form_row(formNewPay.additionalData.travel_assistance, {'label': label, 'attr': {'class': 'form-control'}}) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!--/Datos adicionales-->

                <div class="gap"></div>
                <div class="mod-searchbutton">
                    <button class="btn btn-primary btn-lg" type="submit">{{ 'hotels.buy' | trans }}</button>
                    <span>{{ 'hotels.buy_alert' | trans }}.</span>
                </div>
                <input type="hidden" name="roompack_choice" value="{{ roompack_choice }}">
                <div class="gap"></div>
                {#{{ form_rest(formNewPay) }}#}
                {{ form_end(formNewPay) }}
            </div>

            <div class="col-md-3 col-md-pull-9">
        <div class="content-sidebar">
            <div class="booking-item-dates-change mb5">
                <h5><b>{{ 'hotels.your_accommodation' | trans }}</b></h5>
                <img src="{{ hotelBrief.img }}/95x95" alt="Hotel" style="width: 95px; height: 95px !important;"/>
                <span>
                            {% for i in 1..5 %}
                                {% if i <= hotelBrief.stars %}
                                    <span><i class="fa fa-star"></i></span>
                                {% endif %}
                            {% endfor %}
                        </span>
                <div>{{ hotelBrief.address }}</div>
                <div><b>{{ hotelBrief.name }}</b></div>
                {{ travellers|raw }}
            </div>

            <div class="booking-item-dates-change">
                <h5><b>{{ 'hotels.paying' | trans }}:</b></h5>
                {{ reservationDays }} {{ 'hotels.night' | trans }}{% if reservationDays > 1 %}s{% endif %} - {{ roomNumbers }} {% if roomNumbers == 1 %}{{ 'index.search.hotel.room' | trans }}{% else %} {{ 'index.search.hotel.rooms' | trans }}{% endif %}<br/>
                <p>
                    {% for room in rooms %}
                        {% set temp = attribute(rooms, loop.index0) %}
                        <b>* {{ temp.name }}<br/></b>

                    {% endfor %}
                </p>
            </div>
            <div class="" style="padding: 0 5px 0 5px">
                <div class="alert alert-warning" role="alert" style="margin-bottom: 0px;">{{ hotelBrief.room_cancellation }}</div>
            </div>
            <div class="booking-item-dates-change">

                {{ 'hotels.room_per_night' | trans }}: $ {{ price_detail.nightly_subtotal|number_format(0, ',', '.') }}<br/>
                {{ 'hotels.taxes_and_rates' | trans }}: $ {{ (price_detail.taxes + price_detail.fee)|number_format(0, ',', '.') }}<br/>
                <b>Total: $ {{ price_detail.total|number_format(0, ',', '.') }}</b><br/>
            </div>

            <div class="" style="padding: 0 5px 0 5px">
                <div class="alert alert-success text-justify" role="alert">{{ 'hotels.paying_msg' | trans }}.</div>
            </div>
            {% include 'VientoSurAppAppBundle:Hotel:searchMenuLeft.html.twig' %}

        </div>
    </div>

            <div class="gap"></div>
            <div class="errors">
                {#{{ dump(errors) }}#}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/vientosurappapp/js/card-payment.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/creditcard.js') }}" type="text/javascript"></script>
    <script src="https://cdn.ywxi.net/js/1.js" async></script>
    <script src="{{ asset('js/hotel-form.js') }}"></script>
    <script src="{{ asset('assets/vendor/intl-tel-input/build/js/intlTelInput.js') }}"></script>
    <script>
        $("#form_contact_country_code0").intlTelInput({
            autoHideDialCode: false,
            nationalMode: false,
            initialCountry: 'AR'
        });
        $("#form_contact_country_code0").on('keydown', function (e) {
            e.preventDefault();
            return false;
        });
        $('#form_payment_number').on('blur', function () {
            var cardBrand = $('#card-selected').val();

            if (checkCreditCard(this.value, cardBrand)) {
                $('#card-error').addClass('hidden')
            } else {
                var cardArray = ['Visa', 'MasterCard', 'American Express', 'Diners Club'];
                if (cardArray.indexOf(cardBrand) != -1) {
                    $('#card-error').text(ccErrors[ccErrorNo]).removeClass('hidden')
                }
            }
        });

        $('#card-selected').on('change', function () {
            var cardNumber = $('#form_payment_number').val();
            if (cardNumber.length < 1) {
                return;
            }
            if (checkCreditCard(cardNumber, this.value)) {
                $('#card-error').addClass('hidden')
            } else {
                var cardArray = ['Visa', 'MasterCard', 'American Express', 'Diners Club'];
                if (cardArray.indexOf(this.value) != -1) {
                    $('#card-error').text(ccErrors[ccErrorNo]).removeClass('hidden')
                }
            }
        });

        $('#form_payment_number').payment('formatCardNumber');
        $('#form_payment_security_code').payment('formatCardCVC');
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form-payment.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/cards-vertical.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/vendor/intl-tel-input/build/css/intlTelInput.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}