<div class="filterThumb">
    {% if sortArray.price is not empty %}
        <div class="btn-group booking-sort col-xs-3 noPadding">
            <button type="button" class="btnDropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  title="{{ 'hotels.hotels_in' | trans }} {{ app.session.get('destination').text }} {{ 'hotels.by_price' | trans }} - VientoSur.net">
                <span class="sort_name" id="sort_price">{% if sortArray.selected.category == 'price' %} {{ sortArray.selected.name }}
                {% else %}{{ 'hotels.price' | trans }}{% endif %}
                </span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {{ sortArray.price|raw }}
            </ul>
        </div>
    {% endif %}
    <div class="btn-group booking-sort col-xs-3 noPadding">
        <button type="button" class="btnDropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                title="{{ 'hotels.hotels_in' | trans }} {{ app.session.get('destination').text }} {{ 'hotels.by_stars' | trans }} - VientoSur.net">
            <span class="sort_name" id="sort_star">{% if sortArray.selected.category == 'star' %} {{ sortArray.selected.name }}
                {% else %} {{ 'hotels.stars' | trans }} {% endif %}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {{ sortArray.star|raw }}
        </ul>
    </div>
    <div class="btn-group booking-sort col-xs-3 noPadding">
        <button type="button" class="btnDropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  title="{{ 'hotels.hotels_in' | trans }} {{ app.session.get('destination').text }} {{ 'hotels.by_features' | trans }} - VientoSur.net">
            <span id="sort_best" class="sort_name">{% if sortArray.selected.category == 'best' %} {{ sortArray.selected.name }}
                {% else %} {{ 'hotels.best' | trans }} {% endif %}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {{ sortArray.best|raw }}
        </ul>
    </div>
    <div class="btn-group booking-sort col-xs-3 noPadding">
        <button type="button" class="btnDropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  title="{{ 'hotels.hotels_in' | trans }} {{ app.session.get('destination').text }} {{ 'hotels.by_others' | trans }} - VientoSur.net">
            <span id="sort_other" class="sort_name">{% if sortArray.selected.category == 'other' %} {{ sortArray.selected.name }}
                {% else %} {{ 'hotels.search_menu.others' | trans }} {% endif %}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {{ sortArray.other|raw }}
        </ul>
    </div>
</div>