{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
        $(function() {
            $("#pagination").bootpag({
                total: {{ total }},
                maxVisible:10,
                page: {{ page }} ,
                firstLastUse: true,
                first: '←',
                last: '→'
            }).on("page", function(event, num){
                var url = Routing.generate('viento_sur_send_hotels');
                var URLsearch = window.location.search;

                waitingDialog.show('Viento Sur, Cargando...');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $(".booking-list").load(url + "/" + num + URLsearch, function (response, status, xhr) {
                    waitingDialog.hide();
                    if (status == "error") {
                        var msg = "Sorry but there was an error: ";
                        alert(msg + xhr.status + " " + xhr.statusText);
                    }
                });
            });
            $("#field-hotel-checkin").datepicker({
                "setDate": new Date()
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Viento Sur</a></li>
            <li><a href="#">Hoteles en {{ app.session.get('destination').text }} ({{ items.paging.total }})</a></li>
        </ul>

        <h4 class="booking  s-title">{{ items.paging.limit }} de {{ items.paging.total }} hoteles disponibles para estas fechas en {{ app.session.get('destination').text }} con mejor precio</h4>

        <div class="row">

            <div class="col-md-3">
                {% include 'VientoSurAppAppBundle:Hotel:searchMenuLeft.html.twig' %}
            </div>

            <div class="col-md-9">
                {#<div class="nav-drop booking-sort">#}
                    {#<h5 class="booking-sort-title"><a href="#">Sort: Aviability<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>#}
                    {#<ul class="nav-drop-menu">#}
                        {#<li><a href="#">Price (low to high)</a>#}
                        {#</li>#}
                        {#<li><a href="#">Price (hight to low)</a>#}
                        {#</li>#}
                        {#<li><a href="#">Ranking</a>#}
                        {#</li>#}
                        {#<li><a href="#">Distance</a>#}
                        {#</li>#}
                        {#<li><a href="#">Number of Reviews</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
                <ul class="booking-list">
                    {% include 'VientoSurAppAppBundle:Hotel:listDetailHotels.html.twig' %}
                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <p class="sfont mb20">{{ items.paging.total }} hoteles encontrados.</p>
                        <ul class="pagination" id="pagination">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}
