{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Viento Sur</a></li>
            <li><a href="index.html">Hoteles</a></li>
            <li><a href="#">Hoteles en Republica Checa</a></li>
            <li class="active">Hoteles en Praga (610)</li>
        </ul>

        <h3 class="booking-title">458 de 604 hoteles disponibles para estas fechas en Praga con mejor precio</h3>

        <div class="row">

            <div class="col-md-3">
                {% include 'VientoSurAppAppBundle:Hotel:searchMenuLeft.html.twig' %}
            </div>

            <div class="col-md-9">
                <div class="nav-drop booking-sort">
                    <h5 class="booking-sort-title"><a href="#">Sort: Aviability<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                    <ul class="nav-drop-menu">
                        <li><a href="#">Price (low to high)</a>
                        </li>
                        <li><a href="#">Price (hight to low)</a>
                        </li>
                        <li><a href="#">Ranking</a>
                        </li>
                        <li><a href="#">Distance</a>
                        </li>
                        <li><a href="#">Number of Reviews</a>
                        </li>
                    </ul>
                </div>
                <ul class="booking-list">
                    {% if items.message is defined%}
                        <li>No se encontraron hoteles disponibles</li>
                    {%elseif items.items|length>0%}
                        {%for item in items.items %}
                            <li>
                                <a target="_blank" class="booking-item" href="{{ path('viento_sur_app_app_homepage_show_hotel_id',{'idHotel': item.id,'restUrl':restUrl})}}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="booking-item-img-wrap">
                                                {{ render(controller('VientoSurAppAppBundle:Hotel:detailsHotelListForId', { 'idHotel': item.id })) }}
                                                <!--<img src="{#{ asset('bundles/vientosurappapp/images/resultado1.jpg') }#}" alt="Image Alternative text" title="" />
                                            <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>12</div>-->
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="booking-item-rating">
                                                <h2 class="booking-item-title">{{item.hotel.name}}</h2>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    {% for i in 1..5 %}
                                                        {% if i <= item.hotel.stars %}
                                                            <li><i class="fa fa-star"></i>
                                                            </li>
                                                            {#{% else %}#}
                                                            <!--<li><i class="fa fa-star-o"></i>
                                                            </li>-->
                                                        {% endif %}
                                                        <!--<li><i class="fa fa-star-half-empty"></i>
                                                        </li>-->
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <p class="booking-item-address">A 600 metros del centro
                                                <i class="fa fa-map-marker"> Ver mapa</i>
                                            </p>
                                            {% for key, room_availability in item.roompacks %}
                                                {% if  room_availability.rooms[0].availability < 6 %}
                                                    <p class="booking-item-last-booked">
                                                        {% if room_availability.rooms[0].availability == 1 %}
                                                            Última habitaci&oacute;n disponible
                                                        {% else %}
                                                            Últimas {{ room_availability.rooms[0].availability }} habitaciones
                                                        {% endif %}
                                                    </p>
                                                {% endif %}
                                            {% endfor %}
                                            {% for key, amenity in item.hotel.amenity_ids %}
                                                {% if amenity == 'INGRAH' %}
                                                    <span class="booking-services"><i class="fa fa-wifi"></i></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-3 booking-prices align-center">

                                            <div class="booking-align-vertical"> <span class="booking-item-price-night">Habitación por noche</span>
                                                <span class="booking-item-price">
                                                    {%for price in item.roompacks%}
                                                        {{price.price_detail.currency}}&nbsp;{{price.price_detail.nightly.subtotal}}
                                                    {%endfor%}
                                                </span>

                                                <span class="btn btn-primary">Ver detalle


                                                </span>
                                                <!--<span class="booking-item-benefit mt20">Cancele gratis</span>-->
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {%endfor%}
                    {%else%}
                        No se encontraron hoteles disponiblesssss
                    {%endif%}

                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <p class="sfont mb20">521 hoteles encontrados en Praga &nbsp;&nbsp;Mostrando 1 – 15</p>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">6</a>
                            </li>
                            <li><a href="#">7</a>
                            </li>
                            <li class="dots"><i>...</i></li>
                            <li><a href="#">43</a>
                            </li>
                            <li class="next"><a href="#">Siguiente</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}