{#<input type="hidden" name="rest_complet" value="{{restUrl}}">#}
<a href="{{ path('hotel_index')}}">regresar</a>
{% if items.message is defined%}
    No se encontraron hoteles disponibles
{%elseif items.items|length>0%}
    {%for item in items.items %}

        Hotel : {{loop.index}}
        {{item.id}}
        <table border="1">
            <tr>
                <td></td>
                <td>Nombre: </td>
                <td>Precio:</td>
            </tr>
            <tr>
                <td>
                    {#{{ render(controller('VientoSurAppAppBundle:Hotel:detailsHotelListForId', { 'idHotel': item.id })) }}#}
                </td>
                <td>
                    <a target="_blank" href="{{ path('viento_sur_app_app_homepage_show_hotel_id',{'idHotel': item.id,'restUrl':restUrl})}}">{{item.hotel.name}}</a> /
                    Stars: {{item.hotel.stars}}
                </td>
                <td>
                    {# currency, subtotal, taxes, taxes_detail, fee, discounts, total, nightly               #}
                    {%for price in item.roompacks%}<br>
                        Moneda:{{price.price_detail.currency}}<br>
                        Total por Noche :{{price.price_detail.nightly.subtotal}}<br>
                        {#Sub Total:{{price.price_detail.subtotal}}<br>
                        Impuestos:{{price.price_detail.taxes}}<br>
                        Detalles de impuestos:<br>
                        {%for taxes_detail in price.price_detail.taxes_detail %}
                            codigo: {{taxes_detail.code}}
                            cantidad: {{taxes_detail.amount}}<br>
                        {%endfor%}<br>
                        Cuota:{{price.price_detail.fee}}<br>
                        Descuentos:{{price.price_detail.discounts}}<br>
                        Total por Noche :{{price.price_detail.total}}<br>#}
                    {%endfor%}
                </td>
            </tr>
        </table><br>
    {%endfor%}
{%else%}
    No se encontraron hoteles disponiblesssss
{%endif%}