{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Viento Sur</a></li>
            <li><a href="#">{{ '' | trans }} {{ app.session.get('destination').text }} ({{ items.paging.total }})</a></li>
        </ul>

        <h4 class="booking s-title" title="{{ 'hotels.hotel_availabilities' | trans({'%place%': app.session.get('destination').text}) }} - VientoSur.net"><span class="totalHotels">{{ items.paging.total }}</span> {{ 'hotels.hotel_availabilities' | trans({'%place%': app.session.get('destination').text}) }}</h4>

        <div class="row">

            <div class="col-md-9 col-md-push-3 hotel-results">
                <div class="sorting hotel_filter">
                    {% if sortArray.price is not empty %}
                        <div class="nav-drop booking-sort">
                            <h5 class="booking-sort-title" title="{{ 'hotels.hotels_in' | trans }} {{ app.session.get('destination').text }} {{ 'hotels.by_price' | trans }} - VientoSur.net"><a href="#">{{ 'hotels.price' | trans }}: <span id="sort_price" class="sort_name">{% if sortArray.selected.category == 'price' %} {{ sortArray.selected.name }} {% else %} {{ 'hotels.select' | trans }}... {% endif %}</span><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                            <ul class="nav-drop-menu">
                                {{ sortArray.price|raw }}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="nav-drop booking-sort">
                        <h5 class="booking-sort-title" title="{{ 'hotels.hotels_in' | trans }} {{ app.session.get('destination').text }} {{ 'hotels.by_stars' | trans }} - VientoSur.net"><a href="#">{{ 'hotels.stars' | trans }}: <span id="sort_star" class="sort_name">{% if sortArray.selected.category == 'star' %} {{ sortArray.selected.name }} {% else %} {{ 'hotels.select' | trans }}... {% endif %}</span><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                        <ul class="nav-drop-menu">
                            {{ sortArray.star|raw }}
                        </ul>
                    </div>
                    <div class="nav-drop booking-sort">
                        <h5 class="booking-sort-title" title="{{ 'hotels.hotels_in' | trans }} {{ app.session.get('destination').text }} {{ 'hotels.by_features' | trans }} - VientoSur.net"><a href="#">Mejor: <span id="sort_best" class="sort_name">{% if sortArray.selected.category == 'best' %} {{ sortArray.selected.name }} {% else %} {{ 'hotels.select' | trans }}... {% endif %}</span><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                        <ul class="nav-drop-menu">
                            {{ sortArray.best|raw }}
                        </ul>
                    </div>
                    <div class="nav-drop booking-sort">
                        <h5 class="booking-sort-title" title="{{ 'hotels.hotels_in' | trans }} {{ app.session.get('destination').text }} {{ 'hotels.by_others' | trans }} - VientoSur.net"><a href="#">{{ 'hotels.search_menu.others' | trans }}: <span id="sort_other" class="sort_name">{% if sortArray.selected.category == 'other' %} {{ sortArray.selected.name }} {% else %} {{ 'hotels.select' | trans }}... {% endif %}</span><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                        <ul class="nav-drop-menu">
                            {{ sortArray.other|raw }}
                        </ul>
                    </div>
                </div>
                <ul class="booking-list">
                    {% include 'VientoSurAppAppBundle:Hotel:listDetailHotels.html.twig' %}
                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <p class="sfont mb20"><span class="totalHotels">{{ items.paging.total }}</span> {{ 'hotels.found_hotels' | trans }}.</p>
                        <ul class="pagination" id="pagination">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-md-pull-9">
                <div class="content-sidebar">
                    <div style="padding: 10px 20px 0 20px;">
                        {{ travellers|raw }}
                    </div>
                    {% include 'VientoSurAppAppBundle:Hotel:searchMenuLeft.html.twig' %}
                </div>
            </div>
        </div>
        <div class="gap"></div>

        <!-- Modal -->
        <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" title="{{ 'hotels.hotels_in' | trans }} {{ app.session.get('destination').text }} - {{ 'hotels.map_view' | trans }} - VientoSur.net">{{ 'hotels.map_view' | trans }}</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div id="mapHotel" style="width:565px; height:500px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            var latLng;
            var hotelName;
            function asynLoad(queryParams, callback, callbackError) {
                var url = window.location.pathname;
                var obj = null;
                for (var key in queryParams) {
                    if (queryParams.hasOwnProperty(key)) {
                        if (queryParams[key] != '') {
                            obj = (!obj) ? $.query.set(key, queryParams[key]) : obj.set(key, queryParams[key]);
                        } else {
                            obj = (!obj) ? $.query.REMOVE(key) : obj.REMOVE(key);
                        }
                    }
                }
                var search = decodeURIComponent((!obj) ? $.query.toString() : obj.toString());

                waitingDialog.show('Viento Sur, {{ 'index.loading' | trans }}...');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $.ajax({
                    url: url + search,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    $(".booking-list").html(data.html);
                    if (history.pushState) {
                        var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + search;
                        window.history.pushState({path: newurl}, '', newurl);
                        $.query.parseNew(search);
                    }
                    if (typeof callback == 'function') {
                        callback();
                    }
                    pagination.bootpag({total: data.total, page: data.page, maxVisible: 10});
                    $('.totalHotels').each(function () {
                        $(this).text(data.paging.total)
                    })
                }).fail(function () {
                    if (typeof callbackError == 'function') {
                        callbackError();
                    }
                }).always(function () {
                    waitingDialog.hide();
                });
            }

            var pagination = $("#pagination").bootpag({
                total: {{ total }},
                maxVisible:10,
                page: {{ page }} ,
                firstLastUse: true,
                first: '←',
                last: '→'
            }).on("page", function(event, num){
                asynLoad({
                    'page': num
                });
            });

            $('.nav-drop').dropit();

            {#Filtro por rango de precios#}
            $('.total_price_range').each(function () {
                $(this).removeClass('hidden');
                var slider = $("#price-slider").ionRangeSlider({
                    type: 'double',
                    hasGrid: true,
                    prefix: "$",
                    onChange: function () {
                        $('#priceBtn').removeClass('disabled');
                    }
                });
                $('#priceBtn').on('click', function () {
                    if (!$(this).hasClass('disabled')) {
                        var range = $('#price-slider').val();
                        if (range.length > 0) {
                            range = range.replace(';', '-');
                            asynLoad({
                                'price_range': range
                            });
                        }
                    }
                })
            });

            {#Orden de los elementos#}
            $('.nav-drop-menu-a').on('click', function () {
                var text = this.text;
                var category = $(this).data('category');
                if (text != $('#sortSelected').text()) {
                    asynLoad({
                        'sorting': $(this).data('value'),
                        'page': 1
                    }, function () {
                        $('.sort_name').text('Seleccione...').removeClass('vs-color-copy');
                        $('#sort_' + category).text(text).addClass('vs-color-copy');
                    })
                }
            });

            {#Filtro por estrellas y por filtro de pago, itera sobre c/u#}
            $('.stars, .payment_type, .zones, .amenities, .hotel_type, .hotel_chains, .meal_plans, .profiles').each(function () {
                var type = $(this).data('type');
                $(this).find('.i-check').iCheck({
                    checkboxClass: 'i-check',
                    handle: 'checkbox'
                });
                $(this).find('input').on('ifChecked', function (event, a) {
                    var param = $.query.get(type);
                    if (param != '') {
                        param = param.toString().split(',');
                        param.push(this.value);
                        if (type == 'stars') {
                            param.sort(function (a, b) {
                                return b - a
                            });
                        }
                    } else {
                        param = [this.value];
                    }
                    var obj = {'page': 1};
                    if (type == 'stars') {
                        obj.stars = param.toString()
                    } else if (type == 'zones') {
                        obj.zones = param.toString()
                    } else if (type == 'amenities') {
                        obj.amenities = param.toString()
                    } else if (type == 'payment_type') {
                        obj.payment_type = param.toString()
                    } else if (type == 'hotel_type') {
                        obj.hotel_type = param.toString()
                    } else if (type == 'hotel_chains') {
                        obj.hotel_chains = param.toString()
                    } else if (type == 'meal_plans') {
                        obj.meal_plans = param.toString()
                    } else if (type == 'profiles') {
                        obj.profiles = param.toString()
                    }
                    asynLoad(obj)
                });
                $(this).find('input').on('ifUnchecked', function (event, a) {
                    var param = $.query.get(type);
                    if (param != '') {
                        param = param.toString().split(',');
                        var idx = param.indexOf(this.value);
                        if (idx != -1) {
                            param.splice(idx, 1);
                        }
                    }
                    var obj = {'page': 1};
                    if (type == 'stars') {
                        obj.stars = param.toString()
                    } else if (type == 'zones') {
                        obj.zones = param.toString()
                    } else if (type == 'amenities') {
                        obj.amenities = param.toString()
                    } else if (type == 'payment_type') {
                        obj.payment_type = param.toString()
                    } else if (type == 'hotel_type') {
                        obj.hotel_type = param.toString()
                    } else if (type == 'hotel_chains') {
                        obj.hotel_chains = param.toString()
                    } else if (type == 'meal_plans') {
                        obj.meal_plans = param.toString()
                    } else if (type == 'profiles') {
                        obj.profiles = param.toString()
                    }
                    asynLoad(obj)
                });
                $(this).removeClass('hidden');
            });

            $('.zones-view-toggle, .amenities-view-toggle, .hotel_chains-view-toggle, .profiles-view-toggle').on('click', function () {
                var type = $(this).data('type');
                var selector = '.' + type + ' .' + type + '-hidden';
                $(selector).slideToggle();
                $('.' + type + '-view-toggle').toggleClass('hide')
            });

            var url = Routing.generate('hotel_autocomplete') + '/{{ destination }}';
            console.log(url);
            $('#hotel-autocomplete').autocomplete({
                serviceUrl: url,
                minChars: 3,
                onSelect: function (suggestion) {
                    $("#hotel").val(suggestion.data);
                    $('#btn-aplicar').removeClass('disabled');
                },
                onInvalidateSelection: function () {
                    console.log("invalidado");
                    $("#hotel").val('');
                    this.value = '';
                    $('#btn-aplicar').addClass('disabled');
                    var obj = {
                        'page': 1,
                        'hotel_name': ''
                    };
                    asynLoad(obj)
                }
            });

            $('#btn-aplicar').on('click', function () {
                if (!$(this).hasClass('disabled')) {
                    var obj = {
                        'page': 1,
                        'hotel_name': $('#hotel-autocomplete').val()
                    };
                    asynLoad(obj)
                }
            });

            $('.booking-list').on('click', '.booking-item, .booking-prices', function (event) {
                event.stopPropagation();
                var element = event.target;
                if ($(element).data('prevent') != 'modal') {
                    window.open(this.dataset.href, '_blank');
                } else {
                    latLng = {lat: $(element).data('latitude'), lng: $(element).data('longitude')};
                    hotelName = $(element).data('name');
                    $('#mapModal').modal('show')
                }
            });

            $('#mapModal').on('shown.bs.modal', function (e) {
                var map = new google.maps.Map(document.getElementById('mapHotel'), {
                    center: latLng,
                    scrollwheel: false,
                    zoom: 16
                });

                var marker = new google.maps.Marker({
                    map: map,
                    position: latLng,
                    title: hotelName
                });

                google.maps.event.trigger(map, 'resize');
                map.setCenter(latLng);
            })
        })
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQF38I89N84GmzeuqCWVtFJTlcwuNwx04"></script>
{% endblock %}
