{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Viento Sur</a></li>
            <li><a href="index.html">Hoteles</a></li>
            <li><a href="#">Hoteles en Republica Checa</a></li>
            <li class="active">Hoteles en Praga (610)</li>
        </ul>

        <h3 class="booking-title">458 de 604 hoteles disponibles para estas fechas en Praga con mejor precio</h3>

        <div class="row">

            <div class="col-md-3">
                <div class="content-sidebar">
                    <form class="booking-item-dates-change mb5">
                        <div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                            <label class="lfont">Destino/Nombre del hotel</label>
                            <input class="typeahead form-control" value="Praga, Republica Checa" placeholder="Praga, Republica Checa" type="text" />
                        </div>
                        <div class="input-daterange">
                            <div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                <label class="sfont">Fecha de entrada</label>
                                <input class="form-control" name="start" type="text" />
                            </div>
                            <div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                <label class="sfont">Fecha de salida</label>
                                <input class="form-control" name="end" type="text" />
                            </div>
                        </div>

                        <div class="form-group form-group-select-plus">
                            <label class="sfont">Habitaciones</label>
                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="options" />1</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />2</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />3+</label>
                            </div>
                            <select class="form-control hidden">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option selected="selected">4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                            </select>
                        </div>

                        <div class="form-group form-group- form-group-select-plus col-md-6 pl0 pr0">
                            <label class="sfont">Adultos</label>
                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="options" />1</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />2</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />3+</label>
                            </div>
                            <select class="form-control hidden">
                                <option>1</option>
                                <option>2</option>
                                <option selected="selected">3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>

                        <div class="form-group form-group- form-group-select-plus col-md-6 pl0 pr0">
                            <label class="sfont">Niños</label>
                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="options" />1</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />2</label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" />3+</label>
                            </div>
                            <select class="form-control hidden">
                                <option>1</option>
                                <option>2</option>
                                <option selected="selected">3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>

                        <input class="btn btn-primary btn-search" type="submit" value="Buscar" />
                    </form>
                    <aside class="booking-filters">
                        <h3>Filtrar por:</h3>
                        <ul class="list booking-filters-list">

                            <li>
                                <h5 class="booking-filters-title">Precio</h5>
                                <input type="text" id="price-slider">
                            </li>

                            <li>
                                <h5 class="booking-filters-title">Categoría</h5>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span class="pull-right">(220)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span class="pull-right">(112)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span class="pull-right">(75)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span class="pull-right">(60)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />
                                        <i class="fa fa-star"></i>
                                        <span class="pull-right">(20)</span>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <h5 class="booking-filters-title">Servicios</h5>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Wi-Fi
                                        <span class="pull-right">(55)<span></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Parking
                                        <span class="pull-right">(264)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Airport Shuttle
                                        <span class="pull-right">(137)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Fitness Center
                                        <span class="pull-right">(15)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Non-Smoking Rooms
                                        <span class="pull-right">(20)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Indoor Pool
                                        <span class="pull-right">(20)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Spa
                                        <span class="pull-right">(20)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Family Rooms
                                        <span class="pull-right">(20)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Pet Friendly
                                        <span class="pull-right">(20)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" />Restaurant
                                        <span class="pull-right">(20)</span>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <h5 class="booking-filters-title">Alternativas de pago</h5>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" /> Todas las formas</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" /> Mas de un pago (cuotas)</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" /> Pagá hoy con tarjeta de crédito</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" /> All legar al hotel</label>
                                </div>
                            </li>

                            <li>
                                <h5 class="booking-filters-title">Zonas</h5>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" /> Todas las zonas</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" /> Malá Strana
                                        <span class="pull-right">(263)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" /> Prague
                                        <span class="pull-right">(1263)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" /> Hradcany
                                        <span class="pull-right">(247)</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" /> Josefov
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>

            <div class="col-md-9">
                <div class="nav-drop booking-sort">
                    <h5 class="booking-sort-title"><a href="#">Sort: Aviability<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                    <ul class="nav-drop-menu">
                        <li><a href="#">Price (low to high)</a>
                        </li>
                        <li><a href="#">Price (hight to low)</a>
                        </li>
                        <li><a href="#">Ranking</a>
                        </li>
                        <li><a href="#">Distance</a>
                        </li>
                        <li><a href="#">Number of Reviews</a>
                        </li>
                    </ul>
                </div>
                <ul class="booking-list">
                    {% if items.message is defined%}
                        <li>No se encontraron hoteles disponibles</li>
                    {%elseif items.items|length>0%}
                        {%for item in items.items %}
                            <li>
                                <a target="_blank" class="booking-item" href="{{ path('viento_sur_app_app_homepage_show_hotel_id',{'idHotel': item.id,'restUrl':restUrl})}}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="booking-item-img-wrap">
                                                {{ render(controller('VientoSurAppAppBundle:Hotel:detailsHotelListForId', { 'idHotel': item.id })) }}
                                                <!--<img src="{#{ asset('bundles/vientosurappapp/images/resultado1.jpg') }#}" alt="Image Alternative text" title="" />
                                            <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>12</div>-->
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="booking-item-rating">
                                                <h2 class="booking-item-title">{{item.hotel.name}}</h2>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    {% for i in 1..5 %}
                                                        {% if i <= item.hotel.stars %}
                                                            <li><i class="fa fa-star"></i>
                                                            </li>
                                                            {#{% else %}#}
                                                            <!--<li><i class="fa fa-star-o"></i>
                                                            </li>-->
                                                        {% endif %}
                                                        <!--<li><i class="fa fa-star-half-empty"></i>
                                                        </li>-->
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <p class="booking-item-address">A 600 metros del centro
                                                <i class="fa fa-map-marker"> Ver mapa</i>
                                            </p>
                                            {% for key, room_availability in item.roompacks %}
                                                {% if  room_availability.rooms[0].availability < 6 %}
                                                    <p class="booking-item-last-booked">
                                                        {% if room_availability.rooms[0].availability == 1 %}
                                                            Última habitaci&oacute;n disponible
                                                        {% else %}
                                                            Últimas {{ room_availability.rooms[0].availability }} habitaciones
                                                        {% endif %}
                                                    </p>
                                                {% endif %}
                                            {% endfor %}
                                            {% for key, amenity in item.hotel.amenity_ids %}
                                                {% if amenity == 'INGRAH' %}
                                                    <span class="booking-services"><i class="fa fa-wifi"></i></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-3 booking-prices align-center">

                                            <div class="booking-align-vertical"> <span class="booking-item-price-night">Habitación por noche</span>
                                                <span class="booking-item-price">
                                                    {%for price in item.roompacks%}
                                                        {{price.price_detail.currency}}&nbsp;{{price.price_detail.nightly.subtotal}}
                                                    {%endfor%}
                                                </span>

                                                <span class="btn btn-primary">Ver detalle


                                                </span>
                                                <!--<span class="booking-item-benefit mt20">Cancele gratis</span>-->
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {%endfor%}
                    {%else%}
                        No se encontraron hoteles disponiblesssss
                    {%endif%}

                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <p class="sfont mb20">521 hoteles encontrados en Praga &nbsp;&nbsp;Mostrando 1 – 15</p>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">6</a>
                            </li>
                            <li><a href="#">7</a>
                            </li>
                            <li class="dots"><i>...</i></li>
                            <li><a href="#">43</a>
                            </li>
                            <li class="next"><a href="#">Siguiente</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}