<div class="content-sidebar">
    <form class="booking-item-dates-change mb5" name="searchHotel" id="search-hotels" action ="{{ path('viento_sur_process_search_hotels')}}" method="POST">
        <div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
            <label class="mfont">Destino/Nombre del hotel</label>
            <!--colocar valor por defecto que trae la busqueda inicial-->
            <input id="autocomplete" name="autocomplete" type="text" class="city-input form-control" data-provide="typeahead" placeholder="Destino, Código Postal" value="{{ app.session.get('destination').text }}" />
            <input id="destinationCity" name="cityInput" type="hidden" value="{{ app.session.get('destination').text }}## {{ app.session.get('destination').id }}" />
        </div>
        <div > <!--class="input-daterange" data-date-format="d M, D"-->
            <div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                <label class="sfont">Fecha de entrada</label>
                <input id="field-hotel-checkin" class="form-control required" name="start" type="text" required="" placeholder="dd/mm/yyyy" value="{{app.session.get('checkin_date')}}"/>
            </div>
            <div class="form-group form-group-icon-left form-icon-lg"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                <label class="sfont">Fecha de salida</label>
                <input id="field-hotel-checkout" class="form-control required" name="end" type="text" required="" placeholder="dd/mm/yyyy" value="{{app.session.get('checkout_date')}}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="roomsQty">Habitaciones</label>
            <select id="roomsQty" class="form-control" name="habitacionesCant">
                <option value="1">1 Habitación</option>
                <option value="2">2 Habitaciones</option>
                <option value="3">3 Habitaciones</option>
                <option value="4">4 Habitaciones</option>
            </select>
        </div>

        <div id="room">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="adults">Adultos</label>
                        <input type="hidden" value="0" id="adultsRoom">
                        <select id="adults" class="form-control coupled" data-couple="childrenRoom.0" name="adultsSelector">
                            <option value="1" selected="selected">1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                            <option value="6" >6</option>
                            <option value="7" >7</option>
                            <option value="8" >8</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="childrenRoom">Menores</label>
                        <select id="childrenRoom" class="form-control coupled" data-couple="adults.1" name="childrenRoomSelector">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                    <div class="clearBox"></div>
                </div>
            </div>
            <div class="hide" id="ageBlock">
                    <label id="lblAge">Edad de los menores</label>
                    <div class="row">
                        <div class="col-md-6 childAge1room" style="margin-bottom:6px;">
                            <select id="childAge1room" class="form-control" name="childAgeSelector-1">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge2room" style="margin-bottom:6px;">
                            <select id="childAge2room" class="sb-age form-control" name="childAgeSelector-2">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge3room" style="margin-bottom:6px;">
                            <select id="childAge3room" class="sb-age form-control" name="childAgeSelector-3">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge4room" style="margin-bottom:6px;">
                            <select id="childAge4room" class="sb-age form-control" name="childAgeSelector-4">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge5room" style="margin-bottom:6px;">
                            <select id="childAge5room" class="sb-age form-control" name="childAgeSelector-5">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge6room" style="margin-bottom:6px;">
                            <select id="childAge6room" class="sb-age form-control" name="childAgeSelector-6">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge7room" style="margin-bottom:6px;">
                            <select id="childAge7room" class="sb-age form-control" name="childAgeSelector-7">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearBox"></div>
                </div>
        </div>
        <div class="row hide" id="extraRooms">
            <div class="room1" style="background-color:#f5f5f5">
                <div class="row">
                    <div class="col-md-12"><div class="form-group"><label class="room-label roomLabel">Habitación 1</label></div></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adults1">Adultos</label>
                            <input type="hidden" value="0" id="adultsRoom1">
                            <select id="adults1" class="form-control coupled" data-couple="childrenRoom1.0" name="adultsSelector1">
                                <option value="1" selected="selected">1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="childrenRoom1">Menores</label>
                            <select id="childrenRoom1" class="form-control coupled" data-couple="adults1.1" name="childrenRoomSelector1">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="clearBox"></div>
                    </div>

                </div>
                <div class="hide" id="menor-room1">
                    <label id="lblAge1">Edad de los menores</label>
                    <div class="row">
                        <div class="col-md-6 childAge11" style="margin-bottom:6px;">
                            <select id="childAge11" class="sb-age form-control required" name="childAgeSelector-1-1">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge21" style="margin-bottom:6px;">
                            <select id="childAge21" class="sb-age form-control required" name="childAgeSelector-1-2">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge31" style="margin-bottom:6px;">
                            <select id="childAge31" class="sb-age form-control required" name="childAgeSelector-1-3">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge41" style="margin-bottom:6px;">
                            <select id="childAge41" class="sb-age form-control required" name="childAgeSelector-1-4">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge51" style="margin-bottom:6px;">
                            <select id="childAge51" class="sb-age form-control required" name="childAgeSelector-1-5">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge61" style="margin-bottom:6px;">
                            <select id="childAge61" class="sb-age form-control required" name="childAgeSelector-1-6">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge71" style="margin-bottom:6px;">
                            <select id="childAge71" class="sb-age form-control required" name="childAgeSelector-1-7">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clearBox"></div>
            </div>
            <div class="room2">
                <div class="row">
                    <div class="col-md-12"><div class="form-group"><label class="room-label roomLabel">Habitación 2</label></div></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adults2">Adultos</label>
                            <input type="hidden" value="0" id="adultsRoom2">
                            <select id="adults2" class="form-control coupled" data-couple="childrenRoom2.0" name="adultsSelector2">
                                <option value="1" selected="selected">1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="childrenRoom2">Menores</label>
                            <select id="childrenRoom2" class="form-control coupled" data-couple="adults2.1" name="childrenRoomSelector2">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="clearBox"></div>
                    </div>
                </div>
                <div class="hide" id="menor-room2">
                    <label id="lblAge2">Edad de los menores</label>
                    <div class="row">
                        <div class="col-md-6 childAge12" style="margin-bottom:6px;">
                            <select id="childAge12" class="sb-age form-control required" name="childAgeSelector-2-1">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge22" style="margin-bottom:6px;">
                            <select id="childAge22" class="sb-age form-control required" name="childAgeSelector-2-2">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge32" style="margin-bottom:6px;">
                            <select id="childAge32" class="sb-age form-control required" name="childAgeSelector-2-3">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge42" style="margin-bottom:6px;">
                            <select id="childAge42" class="sb-age form-control required" name="childAgeSelector-2-4">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge52" style="margin-bottom:6px;">
                            <select id="childAge52" class="sb-age form-control required" name="childAgeSelector-2-5">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge62" style="margin-bottom:6px;">
                            <select id="childAge62" class="sb-age form-control required" name="childAgeSelector-2-6">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge72" style="margin-bottom:6px;">
                            <select id="childAge72" class="sb-age form-control required" name="childAgeSelector-2-7">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clearBox"></div>
            </div>
            <div class="room3" style="background-color:#f5f5f5">
                <div class="row">
                    <div class="col-md-12"><div class="form-group"><label class="room-label roomLabel">Habitación 3</label></div></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adults3">Adultos</label>
                            <input type="hidden" value="0" id="adultsRoom3">
                            <select id="adults3" class="form-control coupled" data-couple="childrenRoom3.0" name="adultsSelector3">
                                <option value="1" selected="selected">1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="childrenRoom3">Menores</label>
                            <select id="childrenRoom3" class="form-control coupled" data-couple="adults3.0" name="childrenRoomSelector3">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="clearBox"></div>
                    </div>
                </div>
                <div class="hide" id="menor-room3">
                    <label id="lblAge3">Edad de los menores</label>
                    <div class="row">
                        <div class="col-md-6 childAge13" style="margin-bottom:6px;">
                            <select id="childAge13" class="sb-age form-control required" name="childAgeSelector-3-1">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge23" style="margin-bottom:6px;">
                            <select id="childAge23" class="sb-age form-control required" name="childAgeSelector-3-2">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge33" style="margin-bottom:6px;">
                            <select id="childAge33" class="sb-age form-control required" name="childAgeSelector-3-3">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge43" style="margin-bottom:6px;">
                            <select id="childAge43" class="sb-age form-control required" name="childAgeSelector-3-4">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge53" style="margin-bottom:6px;">
                            <select id="childAge53" class="sb-age form-control required" name="childAgeSelector-3-5">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge63" style="margin-bottom:6px;">
                            <select id="childAge63" class="sb-age form-control required" name="childAgeSelector-3-6">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge73" style="margin-bottom:6px;">
                            <select id="childAge73" class="sb-age form-control required" name="childAgeSelector-3-7">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clearBox"></div>
            </div>
            <div class="room4">
                <div class="row">
                    <div class="col-md-12"><div class="form-group"><label class="room-label roomLabel">Habitación 4</label></div></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adults4">Adultos</label>
                            <input type="hidden" value="0" id="adultsRoom4">
                            <select id="adults4" class="form-control coupled" data-couple="childrenRoom4.0" name="adultsSelector4">
                                <option value="1" selected="selected">1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="childrenRoom4">Menores</label>
                            <select id="childrenRoom4" class="form-control coupled" data-couple="adults4.0" name="childrenRoomSelector4">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="clearBox"></div>
                    </div>
                </div>
                <div class="hide" id="menor-room4">
                    <label id="lblAge4">Edad de los menores</label>
                    <div class="row">
                        <div class="col-md-6 childAge14" style="margin-bottom:6px;">
                            <select id="childAge14" class="sb-age form-control required" name="childAgeSelector-4-1">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge24" style="margin-bottom:6px;">
                            <select id="childAge24" class="sb-age form-control required" name="childAgeSelector-4-2">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge34" style="margin-bottom:6px;">
                            <select id="childAge34" class="sb-age form-control required" name="childAgeSelector-4-3">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge44" style="margin-bottom:6px;">
                            <select id="childAge44" class="sb-age form-control required" name="childAgeSelector-4-4">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge54" style="margin-bottom:6px;">
                            <select id="childAge54" class="sb-age form-control required" name="childAgeSelector-4-5">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge64" style="margin-bottom:6px;">
                            <select id="childAge64" class="sb-age form-control required" name="childAgeSelector-4-6">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                        <div class="col-md-6 childAge74" style="margin-bottom:6px;">
                            <select id="childAge74" class="sb-age form-control required" name="childAgeSelector-4-7">
                                <option value="" selected="selected">Edad</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clearBox"></div>
            </div>
        </div>

        <input class="btn btn-primary btn-search" type="submit" value="Buscar" />
    </form>
    {% if items.facets is defined %}
        <aside class="booking-filters">
            <h3>Filtrar por:</h3>
            <ul class="list booking-filters-list">
                <li class="hotel_name">
                    <h5 class="booking-filters-title">Nombre del Hotel</h5>
                    <input id="hotel-autocomplete" name="hotel-autocomplete" type="text" class="city-input form-control" data-provide="typeahead" placeholder="Ingresa el nombre del hotel" />
                    <input id="hotel" name="hotel" type="hidden" />
                    <button class="btn btn-primary btn-sm disabled" id="btn-aplicar" style="margin-top: 5px;">Aplicar</button>
                </li>
                {% for facet in items.facets %}

                    {% if facet.criteria == 'total_price_range' %}
                        <li class="total_price_range hidden">
                            <h5 class="booking-filters-title">Precio</h5>
                            {% if app.request.get('price_range') is empty %}
                                <input type="text" id="price-slider" data-min="{{ facet.min|round }}"
                                       data-max="{{ facet.max|round }}"/>
                            {% else %}
                                {% set fromTo = app.request.get('price_range')|split('-') %}
                                <input type="text" id="price-slider" data-min="{{ facet.min|round }}"
                                       data-max="{{ facet.max|round }}" data-from="{{ fromTo[0] }}"
                                       data-to="{{ fromTo[1] }}"/>
                            {% endif %}
                            <br/>
                            <span class="btn btn-primary btn-sm disabled" id="priceBtn">Aplicar</span>
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'stars' %}
                        <li class="stars hidden" data-type="stars">
                            <h5 class="booking-filters-title">Categoría</h5>
                            {% for stars in facet.values %}
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" {% if stars.selected %}checked="checked"{% endif %} value="{{ stars.value }}" />
                                        {% if stars.value == '0' %}
                                            Otros
                                        {% else %}
                                            {% for i in 1..stars.value %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}
                                        {% endif %}
                                        <span class="pull-right">({{ stars.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'payment_type' %}
                        <li class="payment_type hidden" data-type="payment_type">
                            <h5 class="booking-filters-title">Alternativas de Pago</h5>
                            {% for type in facet.values %}
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" {% if type.selected %}checked="checked"{% endif %} value="{{ type.value }}" />
                                        {{ type.label }}
                                        <span class="pull-right">({{ type.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'zones' %}
                        <li class="zones hidden" data-type="zones">
                            <h5 class="booking-filters-title">Zonas</h5>
                            {% for zone in facet.values %}
                                <div class="checkbox {% if loop.index > 5 %}zones-hidden{% endif %}" {% if loop.index > 5 %}style="display: none;"{% endif %}>
                                    <label>
                                        <input class="i-check" type="checkbox" {% if zone.selected %}checked="checked"{% endif %} value="{{ zone.value }}" />
                                        {{ zone.label }}
                                        <span class="pull-right">({{ zone.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="checkbox">
                                <label style="color:#008CD1" class="zones-view-toggle" data-type="zones">Ver más <i class="glyphicon glyphicon-chevron-down"></i></label>
                                <label style="color:#008CD1" class="zones-view-toggle hide" data-type="zones">Ver menos <i class="glyphicon glyphicon-chevron-up"></i></label>
                            </div>
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'amenities' %}
                        <li class="amenities hidden" data-type="amenities">
                            <h5 class="booking-filters-title">Servicios</h5>
                            {% for amenity in facet.values %}
                                <div class="checkbox {% if loop.index > 5 %}amenities-hidden{% endif %}" {% if loop.index > 5 %}style="display: none;"{% endif %}>
                                    <label>
                                        <input class="i-check" type="checkbox" {% if amenity.selected %}checked="checked"{% endif %} value="{{ amenity.value }}" />
                                        <span>{{ amenity.label }}</span>
                                        <span class="pull-right">({{ amenity.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="checkbox">
                                <label style="color:#008CD1" class="amenities-view-toggle" data-type="amenities">Ver más <i class="glyphicon glyphicon-chevron-down"></i></label>
                                <label style="color:#008CD1" class="amenities-view-toggle hide" data-type="amenities">Ver menos <i class="glyphicon glyphicon-chevron-up"></i></label>
                            </div>
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'hotel_type' %}
                        <li class="hotel_type hidden" data-type="hotel_type">
                            <h5 class="booking-filters-title">Tipo de alojamiento</h5>
                            {% for hotel_type in facet.values %}
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" {% if hotel_type.selected %}checked="checked"{% endif %} value="{{ hotel_type.value }}" />
                                        {{ hotel_type.label }}
                                        <span class="pull-right">({{ hotel_type.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'hotel_chains' %}
                        <li class="hotel_chains hidden" data-type="hotel_chains">
                            <h5 class="booking-filters-title">Cadena Hotelera</h5>
                            {% for hotel_chains in facet.values %}
                                <div class="checkbox {% if loop.index > 5 %}hotel_chains-hidden{% endif %}" {% if loop.index > 5 %}style="display: none;"{% endif %}>
                                    <label>
                                        <input class="i-check" type="checkbox" {% if hotel_chains.selected %}checked="checked"{% endif %} value="{{ hotel_chains.value }}" />
                                        {{ hotel_chains.label }}
                                        <span class="pull-right">({{ hotel_chains.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="checkbox">
                                <label style="color:#008CD1" class="hotel_chains-view-toggle" data-type="hotel_chains">Ver más <i class="glyphicon glyphicon-chevron-down"></i></label>
                                <label style="color:#008CD1" class="hotel_chains-view-toggle hide" data-type="hotel_chains">Ver menos <i class="glyphicon glyphicon-chevron-up"></i></label>
                            </div>
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'meal_plans' %}
                        <li class="meal_plans hidden" data-type="meal_plans">
                            <h5 class="booking-filters-title">Régimen</h5>
                            {% for meal_plans in facet.values %}
                                <div class="checkbox">
                                    <label>
                                        <input class="i-check" type="checkbox" {% if meal_plans.selected %}checked="checked"{% endif %} value="{{ meal_plans.value }}" />
                                        {% if meal_plans.value == 'B'%}Desayuno{% else %}Sólo hospedaje{% endif %}
                                        <span class="pull-right">({{ meal_plans.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if facet.criteria == 'profiles' %}
                        <li class="profiles hidden" data-type="profiles">
                            <h5 class="booking-filters-title">Perfil del viaje</h5>
                            {% for profiles in facet.values %}
                                <div class="checkbox {% if loop.index > 5 %}profiles-hidden{% endif %}" {% if loop.index > 5 %}style="display: none;"{% endif %}>
                                    <label>
                                        <input class="i-check" type="checkbox" {% if profiles.selected %}checked="checked"{% endif %} value="{{ profiles.value }}" />
                                        {% set value = attribute(tripProfile, profiles.value) %}
                                        {{ value }}
                                        <span class="pull-right">({{ profiles.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="checkbox">
                                <label style="color:#008CD1" class="profiles-view-toggle" data-type="profiles">Ver más <i class="glyphicon glyphicon-chevron-down"></i></label>
                                <label style="color:#008CD1" class="profiles-view-toggle hide" data-type="profiles">Ver menos <i class="glyphicon glyphicon-chevron-up"></i></label>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </aside>
        {#{{ dump(items.facets) }}#}
    {% endif %}
</div>
<div class="gap-small"></div>

