{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}

{% block javascripts %}
    {{ parent() }}


    <script type="text/javascript">
        function initMap() {
            var myLatLng = {lat: {{ latitude }}, lng: {{ longitude }} };

            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                scrollwheel: false,
                zoom: 16
            });
            // Create a marker and set its position.
            var marker = new google.maps.Marker({
                map: map,
                position: myLatLng,
                title: '{{hotelDetails[0].name}}'
            });

            $('a[href="#google-map-tab"]').on('shown.bs.tab', function(e) {
                google.maps.event.trigger(map, 'resize');
                map.setCenter(myLatLng);
            });

        }

        $("#animarscroll").on("click", function(){
            var posicion = $(".booking-list-rooms").offset().top;
            $("html, body").animate({
                scrollTop: posicion
            }, 1500);
        });

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQF38I89N84GmzeuqCWVtFJTlcwuNwx04&callback=initMap"></script>

{% endblock %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Viento Sur</a></li>
            <li><a href="index.html">Hoteles</a></li>
            <li><a href="#">Hoteles en Republica Checa</a></li>
            <li class="active">Hoteles en Praga (610)</li>
        </ul>

        <div class="gap gap-small"></div>

        <div class="row">

            <div class="col-md-3">
                {% include 'VientoSurAppAppBundle:Hotel:searchMenuLeft.html.twig' %}

            </div>
            <!-- cierra sidebar -->

            <div class="col-md-9">

                <!-- info del hotel -->
                <div class="booking-item-details">

                    <header class="booking-item-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="lh1em">{{hotelDetails[0].name}}</h2>
                                <ul class="icon-list icon-group booking-item-rating-stars">
                                    {% for i in 1..5 %}
                                        {% if i <= hotelDetails[0].stars %}
                                            <li><i class="fa fa-star"></i>
                                            </li>
                                            {#{% else %}#}
                                            <!--<li><i class="fa fa-star-o"></i>
                                            </li>-->
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="col-md-4">
                                <div class="booking-item-header-price">
                                    <p>
                                        Precio por noche
                                    </p>
                                    <div class="text-lg">
                                        {{dispoHotel.roompacks[0].price_detail.currency}}&nbsp;
                                        {{dispoHotel.roompacks[0].price_detail.nightly.subtotal}}
                                    </div>
                                    <a href="#">
                                        <!--<span class="btn btn-primary mt15">Reservar ahora</span>-->
                                        <br />
                                        <button class="btn btn-primary" id="animarscroll">
                                            Ver Habitaciones
                                        </button>
                                    </a>
                                </div>
                            </div>
                    </header>

                    <div class="row">
                        <div class="col-md-8">
                            <!-- tabs-->
                            <div class="tabbable booking-details-tabbable">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="active">
                                        <a href="#tab-1" data-toggle="tab" id="tab-fotos"><i class="fa fa-camera"></i>Fotos</a>
                                    </li>
                                    <li>
                                        <a href="#google-map-tab" data-toggle="tab" id="tab-mapa"><i class="fa fa-map-marker"></i>Mapa</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab-1">
                                        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                            {% for key, pictures in hotelDetails[0].pictures %}
                                                <img src="{{ pictures.url }}" alt="Image Alternative text" title="" />
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="google-map-tab">
                                        <div id="map" style="width:500px; height:500px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- close info -->

                <div class="gap gap-small"></div>

                <div class="row booking-details-description">

                    <div class="col-md-10">

                        <!--<h4>Este hotel está en Praga 1 y es ideal para: De lujo</h4>-->

                        <p>{{ hotelDetails[0].information.es }}</p>

                        <h4>N&uacute;mero de habitaciones: {{ hotelDetails[0].number_of_rooms}}</h4>
                    </div>

                </div>

                <div class="gap gap-small"></div>

                <!-- lista habitaciones disponibles -->
                <div class="booking-list-rooms">

                    <h3>Habitaciones disponibles</h3>

                    <ul class="booking-list">
                        {% for key, room_type in hotelDetails[0].room_types %}
                            {% set count_room = 0 %}
                            {% for key, room in dispoHotel.roompacks %}
                                {% if room_type.id == room.rooms[0].room_type_id and room.rooms[0].availability > 0 and count_room == 0 %}
                                    <li>
                                        <a class="booking-item" href="#">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="booking-item-img-wrap">
                                                        <img src="{{ room_type.pictures[0].url }}" alt="Image Alternative text" title="" />
                                                        <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>12</div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="booking-item-rating">
                                                        <h4 class="booking-item-title">{#{{ room.rooms[0].name }}#}{{ room_type.despegar_names.es }}</h4>
                                                    </div>

                                                    <ul class="booking-item-features booking-item-features-small clearfix">
                                                        <p>Servicios</p>
                                                        {% for amenitie in room_type.amenities %}
                                                            {% if amenitie.id == 'AIRROOM' %}
                                                                <li rel="tooltip" data-placement="top"><i class="im im-air"></i></li>
                                                            {% elseif amenitie.id == 'TVINROOM' %}
                                                                <li rel="tooltip" data-placement="top"><i class="im im-tv"></i></li>
                                                            {% elseif amenitie.id == 'BARROM' %}
                                                                <li rel="tooltip" data-placement="top"><i class="im im-bar"></i></li>
                                                            {% elseif amenitie.id == 'BAN' %}
                                                                <li rel="tooltip" data-placement="top"><i class="im im-bathtub"></i></li>
                                                                {#{% elseif amenitie.id == 'WAKEUP' %}
                                                                    <i class="im im-kitchen"></i>
                                                                {% elseif amenitie.id == 'WAKEUP' %}
                                                                    <i class="im im-patio"></i>
                                                                {% elseif amenitie.id == 'WAKEUP' %}
                                                                    <i class="im im-washing-machine"></i>
                                                                {% elseif amenitie.id == 'WAKEUP' %}
                                                                    <i class="im im-pool"></i>#}
                                                            {% endif %}
                                                        {% endfor %}
                                                        <!--<li rel="tooltip" data-placement="top"><i class="im im-tv"></i>
                                                        </li>
                                                        <li rel="tooltip" data-placement="top"><i class="im im-bar"></i>
                                                        </li>
                                                        <li rel="tooltip" data-placement="top"><i class="im im-bathtub"></i>
                                                        </li>
                                                        <li rel="tooltip" data-placement="top"><i class="im im-kitchen"></i>
                                                        </li>
                                                        <li rel="tooltip" data-placement="top"><i class="im im-patio"></i>
                                                        </li>
                                                        <li rel="tooltip" data-placement="top"><i class="im im-washing-machine"></i>
                                                        </li>
                                                        <li rel="tooltip" data-placement="top"><i class="im im-pool"></i>
                                                        </li>-->
                                                    </ul>
                                                    <p class="booking-text-color">Desayuno buffet</p>
                                                    <p class="booking-text-color">No permite cambios o cancelaciones</p>
                                                    <p class="booking-item-last-booked">{% if room.rooms[0].availability < 6 %}Sólo quedan {{ room.rooms[0].availability }} habitaciones {% endif %}</p>
                                                </div>

                                                <div class="col-md-3 booking-prices align-center">
                                                    <div class="booking-align-vertical">
                                                        <span class="booking-item-price-night">Precio por noche</span>
                                                        <span class="booking-item-price">{{ room.price_detail.currency }} {{ room.price_detail.nightly.subtotal }}</span>
                                                        <!--<span class="btn btn-primary">Reservar</span>-->
                                                        <form action="{{path('viento_sur_app_app_homepage_send_hotel_booking')}}" method="POST" >
                                                            <input type="hidden" name="availability_token" value="{{dispoHotel.availability_token}}">
                                                            <input type="hidden" name="roompack_choice" value="{{ room.choice }}">
                                                            <button type="submit" class="btn btn-primary">
                                                                Reservar
                                                            </button>

                                                        </form>

                                                        <!--<span class="booking-item-benefit mt20">Hasta 18 cuotas!</span>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {% set count_room = 1 %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <!--<li>
                            <a class="booking-item" href="#">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="booking-item-img-wrap">
                                            <img src="{{ asset('bundles/vientosurappapp/images/resultado1.jpg') }}" alt="Image Alternative text" title="" />
                                            <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>12</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="booking-item-rating">
                                            <h4 class="booking-item-title">Habitación doble superior</h4>
                                        </div>

                                        <ul class="booking-item-features booking-item-features-small clearfix">
                                            <p>Servicios</p>
                                            <li rel="tooltip" data-placement="top"><i class="im im-air"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-tv"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-bar"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-bathtub"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-kitchen"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-patio"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-washing-machine"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-pool"></i>
                                            </li>
                                        </ul>
                                        <p class="booking-text-color">Desayuno buffet</p>
                                        <p class="booking-text-color">No permite cambios o cancelaciones</p>
                                        <p class="booking-item-last-booked">Sólo quedan 5 habitaciones</p>
                                    </div>

                                    <div class="col-md-3 booking-prices align-center">
                                        <div class="booking-align-vertical">
                                            <span class="booking-item-price-night">Precio para 2 noches</span>
                                            <span class="booking-item-price">$3020</span>
                                            <span class="btn btn-primary">Reservar</span>
                                            <span class="booking-item-benefit mt20">Hasta 18 cuotas!</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="booking-item" href="#">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="booking-item-img-wrap">
                                            <img src="{{ asset('bundles/vientosurappapp/images/resultado1.jpg') }}" alt="Image Alternative text" title="" />
                                            <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>12</div>
                                        </div>
                                    </div>

                                   <div class="col-md-6">
                                        <div class="booking-item-rating">
                                            <h4 class="booking-item-title">Habitación doble superior</h4>
                                        </div>

                                        <ul class="booking-item-features booking-item-features-small clearfix">
                                            <p>Servicios</p>
                                            <li rel="tooltip" data-placement="top"><i class="im im-air"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-tv"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-bar"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-bathtub"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-kitchen"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-patio"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-washing-machine"></i>
                                            </li>
                                            <li rel="tooltip" data-placement="top"><i class="im im-pool"></i>
                                            </li>
                                        </ul>
                                        <p class="booking-text-color">Desayuno buffet</p>
                                        <p class="booking-text-color">No permite cambios o cancelaciones</p>
                                        <p class="booking-item-last-booked">Sólo quedan 5 habitaciones</p>
                                    </div>

                                    <div class="col-md-3 booking-prices align-center">
                                        <div class="booking-align-vertical">
                                            <span class="booking-item-price-night">Precio para 2 noches</span>
                                            <span class="booking-item-price-night booking-price-sale">$2398</span>
                                            <span class="booking-item-price">$2094</span>
                                            <span class="btn btn-primary">Reservar</span>
                                            <span class="booking-item-benefit mt20">Hasta 18 cuotas!</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>-->

                    </ul>
                </div>

                <div class="gap"></div>

                <!-- opiniones -->
                <h3 class="mb20">Opiniones acerca de este hotel</h3>

                <div class="row row-wrap">
                    <div class="col-md-11">
                        <!--<div class="fb-comments" data-href="http://viento-sur.icox.mobi" data-width="600 px" data-numposts="5"></div>-->
                        <div class="fb-comments" data-href="http://viento-sur.icox.mobi/hotel/show/{{idHotel}}" data-width="600 px" data-numposts="10"></div>
                    </div>
                </div>


            </div> <!-- close col md9-->
        </div>
        <div class="gap"></div>
    </div>
{% endblock %}
