{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}
{% block title %}{{ 'index.rooms_available' | trans }} {{hotelDetails.name}} {% endblock %}

{% block meta_open_graph %}
    {% for key, pictures in hotelDetails.pictures %}
        {% if loop.index == 1 %}
            {% set image = pictures.url %}
            <meta property="og:image" content="{{ image }}" />
        {% endif %}
    {% endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url"                content="https://vientosur.net{{ app.request.pathInfo }}" />
    <meta property="og:title"              content="{{hotelDetails.name}}" />
    <meta property="og:description"        content="{{ attribute(hotelDetails.information, app.request.locale) | truncate(200, true) }}" />
{% endblock %}

{% block gplus_script %}
    <link rel="canonical" href="https://vientosur.net{{ app.request.pathInfo }}" />
    <script src="https://apis.google.com/js/platform.js" async defer>
        {lang: '{{ app.request.locale }}' }
    </script>
{% endblock %}

{% block shorter_script %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        function getUrlShorter(){
            var long_url = "https://vientosur.net{{ app.request.pathInfo }}";
            var url = "{{ path('get_url_shorter') }}";
            $.ajax({
                type: 'GET',
                url: url,
                data: 'long_url=' + long_url
            }).done(function(data) {
                console.log('url', data);
                $('#shared-twitter').attr('data-url', data)
            });
        }
        getUrlShorter();
    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };
            console.log('twitter load');
            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script type="text/javascript">
        function initMap() {
            var myLatLng = {lat: {{ latitude }}, lng: {{ longitude }} };

            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                scrollwheel: false,
                zoom: 16
            });
            // Create a marker and set its position.
            var marker = new google.maps.Marker({
                map: map,
                position: myLatLng,
                title: '{{hotelDetails.name}}'
            });

            $('a[href="#google-map-tab"]').on('shown.bs.tab', function(e) {
                google.maps.event.trigger(map, 'resize');
                map.setCenter(myLatLng);
            });

        }

        $("#animarscroll").on("click", function(){
            var posicion = $(".listRooms").offset().top;
            $("html, body").animate({
                scrollTop: posicion
            }, 1500);
        });

        $(document).ready(function () {
            for (var key in roomCapacity) {
                if (roomCapacity.hasOwnProperty(key)) {
                    $('#room-capacity-' + key).text(roomCapacity[key]);
                }
            }

            var amenities = {{ hotelDetails.amenities|json_encode|raw }};

            var ser = '', rel = '', add = '';
            for (var i = 0; i < amenities.length; i++) {
                console.log(amenities[i].descriptions.es, amenities[i].amenity_category.id)
                var temp = '<li><i class="fa fa-check-square-o" aria-hidden="true"></i> ' + amenities[i].descriptions.{{ app.request.locale }} + '</li>';
                if(amenities[i].amenity_category.id == 'SER') {
                    ser += temp;
                } else if (amenities[i].amenity_category.id == 'REL') {
                    rel += temp;
                } else if (amenities[i].amenity_category.id == 'ADD') {
                    add += temp;
                }
            }
            $('.list-services').html(ser);
            $('.list-recreation').html(rel);
            $('.list-generals').html(add);

            $('#roomImgs').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var modal = $(this);
                modal.find('.modal-title').text($(button).data('room-name'));
                var key = $(button).data('room-key');
                console.log(roomTypes[key].pictures);
                var img = [];
                for (var i = 0, len = roomTypes[key].pictures.length; i < len; i++) {
                    img.push({
                        img: roomTypes[key].pictures[i].url,
                        thumb: roomTypes[key].pictures[i].picture_category.descriptions.{{ app.request.locale }}
                    })
                }
                modal.find('.modal-body').html('<div class="fotorama foto-div"></div>');
                $('.modal-body .foto-div').fotorama({
                    data: img,
                    nav: 'thumbs'
                });
            });

            $('#descriptionHotel').on('click', '.item-map-address', function (event) {
                event.stopPropagation();
                var element = event.target;
                latLng = {lat: $(element).data('latitude'), lng: $(element).data('longitude')};
                hotelName = $(element).data('name');
                console.log(latLng);
                $('#mapModal').modal('show');
                $('#myModalLabel').text(hotelName);
            });

//            $('#mapModal').on('shown.bs.modal', function (e) {
//                var map = new google.maps.Map(document.getElementById('mapHotel'), {
//                    center: latLng,
//                    scrollwheel: false,
//                    zoom: 16
//                });
//
//                var marker = new google.maps.Marker({
//                    map: map,
//                    position: latLng,
//                    title: hotelName
//                });
//
//                google.maps.event.trigger(map, 'resize');
//                map.setCenter(latLng);
//            })

            var str = $('#info').text();
            $("#info").html( str.replace(/\n/g, "<br />"));
        })
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQF38I89N84GmzeuqCWVtFJTlcwuNwx04&callback=initMap"></script>
    <script>


        //TABS DETAIL
        $('#tabsDetail a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>

{% endblock %}

{% block banner %}
    {% include '@VientoSurAppApp/_partial/banner.html.twig' %}
{% endblock %}

{% block switch_service %}
    {#{% include '@VientoSurAppApp/_partial/navBar.html.twig' %}#}
{% endblock %}

{% block breadcrumb %}
    {% embed '@VientoSurAppApp/_partial/breadcrumb.html.twig' %}
        {% block section %}{{ 'index.hotels' | trans }}{% endblock %}
        {% block sub_section %}{{ 'index.hotel_detail' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {{ parent() }}
    {% if app.request.locale == 'es' %}
        {% set locale = 'es_LA' %}
    {% elseif app.request.locale == 'pt' %}
        {% set locale = 'pt_BR' %}
    {% else %}
        {% set locale = 'en_US' %}
    {% endif %}
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/{{ locale }}/sdk.js#xfbml=1&version=v2.9&appId=1215654845212450";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <style>
        .social-shared > div#___plusone_0,.fb-share-button.fb_iframe_widget,iframe#twitter-widget-0{
            display:block;
            margin-top:7px !important;
        }
        .booking-item-details .booking-item-header {
            margin-bottom: -10px;
        }
    </style>
    {% set targetCurrency = app.session.get('targetCurrency') %}
    {% if targetCurrency == 'USD' %}
        {% set symbol = 'US$' %}
    {% elseif targetCurrency == 'ARS' %}
        {% set symbol = 'AR$' %}
    {% endif %}
    {% set decimal =false %}

    <div class="wrapperHotelDatail">
        <div class="container" style="max-width: 1170px;">
            <div class="row">

                <div class="col-sm-9 col-sm-push-3">
                    <div id="descriptionHotel">
                        <div class="row">
                            <div class="col-xs-12 col-sm-9">
                                <h2 class="titleHotel" title="Hotel {{ hotelDetails.name }} - VientoSur.net">{{ hotelDetails.name }}</h2>
                                <ul class="starsHotel">
                                    {% for i in 1..5 %}
                                        {% if i <= hotelDetails.stars %}
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <br style="clear: both"/>
                                <p class="adress" style="margin-bottom: 0px">
                                    {% if app.session.get('destination') is not null %}
                                        {% set destination = app.session.get('destination').text | split(',') %}
                                    {% else %}
                                        {% set destination = null %}
                                    {% endif %}

                                    {{ hotelDetails.location.address }}
                                    {% if destination | length > 1 %}
                                        - {{ destination[0] }}, {{ destination[2] }}
                                    {% elseif destination is not null %}
                                        - {{ destination[0] }}
                                    {% endif %}
                                    {#<a class="item-map-address" data-prevent="modal"  data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" data-name="{{ hotelDetails.name }}"><i class="fa fa-map-marker input-icon"></i> {{ 'hotels.map_view' | trans }}</a>#}
                                </p>
                            </div>
                            <div class="boxPrice col-xs-12 col-sm-3">
                                <p>{{ 'hotels.room_per_night' | trans }}</p>
                                <h5>{{ symbol }} {{ dispoHotel.roompacks[0].price_detail.nightly_subtotal|round|currency_convert_format(targetCurrency, decimal, false)| number_format(0, ',', '.') }}</h5>
                                <button id="animarscroll">{{ 'hotels.choose_room' | trans }}</button>
                                {#<div class="social-shared">
                                    <div class="fb-share-button"
                                         data-href="https://vientosur.net{{ app.request.pathInfo }}"
                                         data-layout="button"
                                         data-size="large"
                                         data-mobile-iframe="true">
                                        <a class="fb-xfbml-parse-ignore" target="_blank"
                                           href="https://www.facebook.com/sharer/sharer.php?u=https://vientosur.net{{ app.request.pathInfo }}&src=sdkpreparse">
                                            Compartir
                                        </a>
                                    </div>
                                    <a id="shared-twitter" class="twitter-share-button"
                                       href="https://twitter.com/intent/tweet"
                                       data-via="vientosurnet"
                                       data-text="Hotel {{hotelDetails.name}}"
                                       data-lang="{{ app.request.locale }}"
                                       data-hashtags="VientoSur"
                                       data-size="large" style="float: left; margin-right: 10px;">
                                        Tweet</a>

                                    <g:plusone></g:plusone>
                                </div>#}
                            </div>
                        </div>
                        <div class="row">
                            <div class="galleryHotel col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" id="tabsDetail" role="tablist">
                                    <li role="presentation" class="active"><a href="#fotos" aria-controls="fotos" role="tab" data-toggle="tab"><i class="fa fa-camera" aria-hidden="true"></i> Fotos</a></li>
                                    <li role="presentation">
                                        <a href="#google-map-tab" data-toggle="tab" id="tab-mapa"><i class="fa fa-map-marker"></i> {{ 'hotels.map' | trans }}</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="fotos" style="height: 630px;">
                                        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-width="885" data-height="570">
                                            {% for key, pictures in hotelDetails.pictures %}
                                                {% set picture = attribute(pictures.picture_category.descriptions, app.request.locale) %}
                                                <img src="{{ pictures.url }}" alt="{{ picture }}" title="{{ picture }}"/>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="google-map-tab">

                                    </div>
                                </div>
                            </div>
                        </div>
                        {#<div class="row">
                            <div class="galleryHotel col-xs-12">
                                <div class="camera_wrap camera_emboss" id="camera_wrap_3">
                                    <div data-thumb="{{ asset('rpascal/images/gallery/slides/thumbs/big_bunny_fake.jpg') }}" data-src="{{ asset('rpascal/images/gallery/slides/big_bunny_fake.jpg') }}"></div>
                                    <div data-thumb="{{ asset('rpascal/images/gallery/slides/thumbs/leaf.jpg') }}" data-src="{{ asset('rpascal/images/gallery/slides/leaf.jpg') }}"></div>
                                    <div data-thumb="{{ asset('rpascal/images/gallery/slides/thumbs/leaf.jpg') }}" data-src="{{ asset('rpascal/images/gallery/slides/road.jpg') }}" data-time="1500" data-trasPeriod="4000" data-link="http://www.google.com/" data-target="_blank"></div>
                                </div>
                            </div>
                        </div>#}
                        <div class="row">
                            <div class="descriptionHotel col-xs-9">
                                {% set info = attribute(hotelDetails.information, app.request.locale) %}
                                <p id="info">{{ info }}</p>
                            </div>
                            <div class="social-shared col-xs-3" style="margin: 30px 0px;">
                                <p style="text-align: center; font-size: 14px; color: #008cd0; font-weight: bold;">{{ 'hotels.share_in' | trans }}:</p>
                                <div class="socialMedia">
                                    <ul style="padding: 0px 46px;">
                                        <li><a class="bgFacebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://vientosur.net{{ app.request.pathInfo }}&src=sdkpreparse" title="Compartir en Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a id="shared-twitter" target="_blank" class="bgTwitter" href="http://twitter.com/share?text=Hotel:%20{{hotelDetails.name}}&lang={{ app.request.locale }}&hashtags=VientoSur&via=vientosurnet" data-size="large" title="Compartir en Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a class="bgGooglePlus" href="https://plus.google.com/share?url=https://vientosur.net{{ app.request.pathInfo }}" target="_blank" title="Compartir en Google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                {#<div class="fb-share-button"
                                     data-href="https://vientosur.net{{ app.request.pathInfo }}"
                                     data-layout="button"
                                     data-size="large"
                                     data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore" target="_blank"
                                       href="https://www.facebook.com/sharer/sharer.php?u=https://vientosur.net{{ app.request.pathInfo }}&src=sdkpreparse">
                                        Compartir
                                    </a>
                                </div>
                                <a id="shared-twitter" class="twitter-share-button"
                                   href="https://twitter.com/intent/tweet"
                                   data-via="vientosurnet"
                                   data-text="Hotel {{hotelDetails.name}}"
                                   data-lang="{{ app.request.locale }}"
                                   data-hashtags="VientoSur"
                                   data-size="large" style="float: left; margin-right: 10px;">
                                    Tweet</a>

                                <g:plusone></g:plusone>#}
                            </div>
                        </div>
                        <div class="row">
                            <script>
                                var roomCapacity = {};
                                var roomTypes = {{ roomTypesEncoded|raw }};
                            </script>
                            {% if roomDetail is not empty %}
                                <div class="listRooms col-xs-12">
                                    <h2 class="titleSection col" title="Hotel {{ hotelDetails.name }} - {{ 'hotels.available_rooms' | trans }} - VientoSur.net">{{ 'hotels.available_rooms' | trans }}</h2>
                                    <div class="contentRooms contentDesktop" >
                                        <div class="row">
                                                <div class="col-xs-12">
                                                    <table class="table table-responsive">
                                                        <thead>
                                                        <tr>
                                                            <th class="search-menu-type">{{ 'hotels.search_menu.type' | trans }}</th>
                                                            <th class="capacity">{{ 'hotels.capacity' | trans }}</th>
                                                            <th>{{ 'hotels.price_per_night' | trans }}</th>
                                                            <th>{{ 'hotels.options' | trans }}</th>
                                                            <th class="cancellation_policies">{{ 'hotels.cancellation_policies' | trans }}</th>
                                                            <th>{{ 'hotels.continue_reservation' | trans }}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for key, rooms in roomDetail %}

                                                        <tr>
                                                            <td colspan="1" rowspan="{{ rooms |length }}" class="paddingLeft15 search-menu-type">
                                                                <h4 class="titleRooms">{{ roomTypes[key].despegar_names[app.request.locale] }}</h4>
                                                                <div class="booking-item-img-wrap cursor-pointer" data-toggle="modal" data-target="#roomImgs" data-room-name="{{ roomTypes[key].despegar_names[app.request.locale] }}" data-room-key="{{ key }}">
                                                                    {% if roomTypes[key].pictures is defined %}
                                                                        <img src="{{ roomTypes[key].pictures[0].url}}/180x120" alt="{{ 'index.search.hotel.room' | trans }}" title=""  />
                                                                        <div class="booking-item-img-num"><i class="fa fa-picture-o"> &nbsp;</i>{{ roomTypes[key].pictures|length }}</div>
                                                                    {% endif %}
                                                                </div>
                                                            </td>
                                                            {% for key, rate_plan in rooms %}
                                                            {% set room = rate_plan[0] %}
                                                            {% if loop.first %}
                                                                <script>
                                                                    roomCapacity[{{ loop.parent.key }}] = {{ room.rooms[0].capacity.max }};
                                                                </script>
                                                            {% endif %}
                                                            <td class="center">
                                                                <ul>
                                                                    {% set maxCapacity = room.rooms[0].capacity.max | number_format %}
                                                                    {% for i in 1..maxCapacity %}
                                                                        <li><i class="fa fa-user" aria-hidden="true"></i></li>
                                                                    {% endfor %}

                                                                </ul>
                                                            </td>

                                                            <td class="center">
                                                                <h5>{{ symbol }} {{ room.price_detail.nightly_subtotal|round| currency_convert_format(targetCurrency, decimal, false)| number_format(0, ',', '.') }}</h5>
                                                            </td>

                                                            <td>
                                                                {% if room.meal_plan.id == 'D' %}
                                                                    {{ 'hotels.drinks_included' | trans }}
                                                                {% elseif room.meal_plan.id == 'BRA' %}
                                                                    {{ 'hotels.american_breakfast' | trans }}
                                                                {% elseif room.meal_plan.id == 'BRL' %}
                                                                    {{ 'hotels.breakfast_carte' | trans }}
                                                                {% elseif room.meal_plan.id == 'BRB' %}
                                                                    {{ 'hotels.breakfast_buffet' | trans }}
                                                                {% elseif room.meal_plan.id == 'BRC' %}
                                                                    {{ 'hotels.breakfast_continental' | trans }}
                                                                {% elseif room.meal_plan.id == 'M' %}
                                                                    {{ 'hotels.half_pension' | trans }}
                                                                {% elseif room.meal_plan.id == 'H' %}
                                                                    {{ 'hotels.search_menu.only_hosting' | trans }}
                                                                {% elseif room.meal_plan.id == 'F' %}
                                                                    {{ 'hotels.full_pension' | trans }}
                                                                {% elseif room.meal_plan.id == 'A' %}
                                                                    {{ 'hotels.all_inclusive' | trans }}
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ room.cancellation_policy.text }}</td>
                                                            <td class="center">
                                                                <form action="{{path('viento_sur_app_app_homepage_send_hotel_booking', {'_locale': app.request.locale})}}?{{ reservation|url_encode }}" method="POST" >
                                                                    <input type="hidden" name="availability_token" value="{{dispoHotel.availability_token}}">
                                                                    <input type="hidden" name="price_detail" value="{{ room.price_detail | json_encode }}">
                                                                    <input type="hidden" name="roompack_choice" value="{{ room.choice }}">
                                                                    <input type="hidden" name="hotel_img" value="{{ hotelDetails.main_picture.url }}">
                                                                    <input type="hidden" name="hotel_name" value="{{hotelDetails.name}}">
                                                                    <input type="hidden" name="hotel_stars" value="{{hotelDetails.stars}}">
                                                                    <input type="hidden" name="hotel_address" value="{{hotelDetails.location.address}}">
                                                                    <input type="hidden" name="room_cancellation" value="{{room.cancellation_policy.text}}">
                                                                    <button class="blue" type="submit" class="btn btn-primary">
                                                                        {{ 'hotels.book' | trans }}
                                                                    </button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% endfor %}

                                                        </tbody>
                                                    </table>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="contentRooms contentMobile">
                                        {% for key, rooms in roomDetail %}
                                        <div class="col-xs-12 thumbRoom">
                                            {#{% if roomTypes[key].pictures is defined %}#}
                                                {#<img data-toggle="modal" data-target="#roomImgs" data-room-name="{{ roomTypes[key].despegar_names[app.request.locale] }}" data-room-key="{{ key }}" src="{{ roomTypes[key].pictures[0].url}}/180x120" alt="{{ 'index.search.hotel.room' | trans }}">#}
                                            {#{% endif %}#}
                                            {#<h4>{{ roomTypes[key].despegar_names[app.request.locale] }}</h4>#}
                                            {% for key, rate_plan in rooms %}
                                                {% if roomTypes[loop.parent.key].pictures is defined %}
                                                    <img data-toggle="modal" data-target="#roomImgs" data-room-name="{{ roomTypes[loop.parent.key].despegar_names[app.request.locale] }}" data-room-key="{{ loop.parent.key }}" src="{{ roomTypes[loop.parent.key].pictures[0].url}}/180x120" alt="{{ 'index.search.hotel.room' | trans }}">
                                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"> &nbsp;</i>{{ roomTypes[loop.parent.key].pictures|length }}</div>
                                                {% endif %}
                                                <h4>{{ roomTypes[loop.parent.key].despegar_names[app.request.locale] }}</h4>

                                                {% set room = rate_plan[0] %}
                                            {% if loop.first %}
                                                <script>
                                                    roomCapacity[{{ loop.parent.key }}] = {{ room.rooms[0].capacity.max }};
                                                </script>
                                            {% endif %}
                                            {% if(loop.index > 0) %}
                                                {{ 'index.search.hotel.room' | trans }}: {{ loop.index }}
                                            {% endif %}
                                                <ul>
                                                    <li><span>{{ 'hotels.capacity' | trans }}: {{ room.rooms[0].capacity.max }}</span></li>
                                                    <li><i class="fa fa-user" aria-hidden="true"></i></li>
                                                </ul>

                                                <ul>
                                                    <li><span>{{ 'hotels.options' | trans }}:</span>
                                                        {% if room.meal_plan.id == 'D' %}
                                                            {{ 'hotels.drinks_included' | trans }}
                                                        {% elseif room.meal_plan.id == 'BRA' %}
                                                            {{ 'hotels.american_breakfast' | trans }}
                                                        {% elseif room.meal_plan.id == 'BRL' %}
                                                            {{ 'hotels.breakfast_carte' | trans }}
                                                        {% elseif room.meal_plan.id == 'BRB' %}
                                                            {{ 'hotels.breakfast_buffet' | trans }}
                                                        {% elseif room.meal_plan.id == 'BRC' %}
                                                            {{ 'hotels.breakfast_continental' | trans }}
                                                        {% elseif room.meal_plan.id == 'M' %}
                                                            {{ 'hotels.half_pension' | trans }}
                                                        {% elseif room.meal_plan.id == 'H' %}
                                                            {{ 'hotels.search_menu.only_hosting' | trans }}
                                                        {% elseif room.meal_plan.id == 'F' %}
                                                            {{ 'hotels.full_pension' | trans }}
                                                        {% elseif room.meal_plan.id == 'A' %}
                                                            {{ 'hotels.all_inclusive' | trans }}
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                                <h3>{{ 'hotels.price_per_night' | trans }}
                                                    <span>
                                                        {{ symbol }} {{ room.price_detail.nightly_subtotal|round| currency_convert_format(targetCurrency, decimal, false)| number_format(0, ',', '.') }}
                                                    </span>
                                                </h3>

                                                <form action="{{path('viento_sur_app_app_homepage_send_hotel_booking', {'_locale': app.request.locale})}}?{{ reservation|url_encode }}" method="POST" >
                                                    <input type="hidden" name="availability_token" value="{{dispoHotel.availability_token}}">
                                                    <input type="hidden" name="price_detail" value="{{ room.price_detail | json_encode }}">
                                                    <input type="hidden" name="roompack_choice" value="{{ room.choice }}">
                                                    <input type="hidden" name="hotel_img" value="{{ hotelDetails.main_picture.url }}">
                                                    <input type="hidden" name="hotel_name" value="{{hotelDetails.name}}">
                                                    <input type="hidden" name="hotel_stars" value="{{hotelDetails.stars}}">
                                                    <input type="hidden" name="hotel_address" value="{{hotelDetails.location.address}}">
                                                    <input type="hidden" name="room_cancellation" value="{{room.cancellation_policy.text}}">
                                                    <button class="blue" type="submit" class="btn btn-primary">
                                                        {{ 'hotels.book' | trans }}
                                                    </button>
                                                </form>
                                            {% endfor %}

                                            <!--GO MODAL-->
                                            <div class="modal fade" id="modalhab01" tabindex="-1" role="dialog" aria-labelledby="ModalRoom">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">Habitaci칩n Superior</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            IMPLEMENTAR GALERIA DINAMICA
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--END MODAL-->
                                        </div>
                                        {% endfor %}
                                    </div>



                                </div>
                            {% else %}
                                <h3>{{ 'hotels.rooms_unavailables' | trans }}</h3>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="itemsHotel col-xs-12">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <h5 title="Hotel {{ hotelDetails.name }} - {{ 'hotels.services' | trans }} - VientoSur.net">{{ 'hotels.services' | trans }}</h5>
                                        <ul class="amenities-list list-services">
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Recepci칩n 24hs</li>#}
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Estacionamiento Gratis</li>#}
                                            {#<li><i class="fa fa-times iconRed" aria-hidden="true"></i> Alquiler de Coches</li>#}
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Guardaequipajes Gratis</li>#}
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Seguridad 24hs</li>#}
                                        </ul>
                                    </div>
                                    <div class="col-xs-4">
                                        <h5 title="Hotel {{ hotelDetails.name }} - {{ 'hotels.activities' | trans }} - VientoSur.net">{{ 'hotels.activities' | trans }}</h5>
                                        <ul class="amenities-list list-recreation">
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Centro de Negocios</li>#}
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Gimnasio</li>#}
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Piscina al Aire Libre</li>#}
                                            {#<li><i class="fa fa-times iconRed" aria-hidden="true"></i> Sol치rium</li>#}
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Spa</li>#}
                                        </ul>
                                    </div>
                                    <div class="col-xs-4">
                                        <h5 title="Hotel {{ hotelDetails.name }} - {{ 'hotels.generals' | trans }} - VientoSur.net">{{ 'hotels.generals' | trans }}</h5>
                                        <ul class="amenities-list list-generals">
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Desayuno</li>#}
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Ascensor</li>#}
                                            {#<li><i class="fa fa-times iconRed" aria-hidden="true"></i> Calefacci칩n</li>#}
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> Aire Acondicionado</li>#}
                                            {#<li><i class="fa fa-check-square-o" aria-hidden="true"></i> WIFI gratis</li>#}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- facebook -->
                        {#<div class="row">
                            <div class="feedFacebook col-xs-12">
                                <h2 class="titleSection col">{{ 'hotels.hotel_reviews' | trans }}</h2>
                                <div class="row row-wrap">
                                    <div class="col-md-11">
                                        <!--<div class="fb-comments" data-href="http://viento-sur.icox.mobi" data-width="600 px" data-numposts="5"></div>-->
                                        <div class="fb-comments" data-href="http://viento-sur.icox.mobi/hotel/show/{{idHotel}}" data-width="600 px" data-numposts="10"></div>
                                    </div>
                                </div>
                            </div>
                        </div>#}
                    </div>
                </div>
                {% include '@VientoSurAppApp/Hotel/searchMenuLeft.html.twig' %}
            </div>
        </div>
    </div>
    {#{% include 'VientoSurAppAppBundle:Hotel:hotelMapModal.html.twig' %}#}
    <style>
        /*div#google-map-tab {
            width: 750px !important;
        }
        div#map {
            width: 750px !important;
        }*/

        .map-mobile{
            max-width: 100%;
            height: auto;
        }
    </style>
    <script>
        function device() {
            if (navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)){
                return true;
            } else {
                return false;
            }
        }

        if(device() == true){
            $('.contentDesktop').html('');
            $('#google-map-tab').html('<div class="col-xs-12"><div id="map" class="map-mobile" style="width:600px; height:450px;"></div></div>')
        }else{
            $('#google-map-tab').html('<div class="col-xs-12"><div id="map" style="width:832px; height:500px;"></div> </div>');
            $('.contentMobile').html('');
        }

    </script>
   {% include '@VientoSurAppApp/Hotel/hotelModalRoomImages.html.twig' %}
{% endblock %}
