<ul class="nav">
    <li class="nav-title">
        {{ 'admin.navigation' | trans }}
    </li>
    <li class="nav-item nav-dropdown open">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-building"></i> {{ 'index.hotels' | trans }}</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('hotel_list') }}"><i class="fa fa-list-alt"></i> {{ 'admin.hotels_list' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('hotel_new') }}"><i class="fa fa-plus"></i> {{ 'admin.add' | trans }}</a>
            </li>
            <li class="nav-item nav-dropdown open">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-h-square"></i> {{ 'index.search.hotel.rooms' | trans }}</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('room_list') }}" target="_top"><i class="fa fa-list-alt"></i> {{ 'admin.promotion_section_list' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('room_new') }}" target="_top"><i class="fa fa-plus"></i> {{ 'admin.add' | trans }}</a>
                    </li>
                    <li class="nav-item nav-dropdown open">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-bed"></i> {{ 'hotels.beds' | trans }}</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('bed_list') }}" target="_top"><i class="fa fa-list-alt"></i> {{ 'admin.promotion_section_list' | trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('bed_new') }}" target="_top"><i class="fa fa-plus"></i> {{ 'admin.add' | trans }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-certificate"></i> {{ 'admin.promotions' | trans }}</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-newspaper-o"></i> {{ 'admin.promotion_section' | trans }}</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('promotion_sections_list') }}" target="_top"><i class="fa fa-list-alt"></i> {{ 'admin.promotion_section_list' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('promotion_sections_new') }}" target="_top"><i class="fa fa-plus"></i> {{ 'admin.add' | trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('promotion_list') }}" target="_top"><i class="fa fa-certificate"></i> {{ 'admin.promotions_list' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('promotion_new') }}" target="_top"><i class="fa fa-plus"></i> {{ 'admin.promotion_add' | trans }}</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-pencil"></i> {{ 'admin.edit_profile' | trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off fa-lg"></i> {{ 'admin.logout' | trans }}</a>
    </li>
</ul>