<ul class="nav">
    <li class="nav-title">
        {{ 'admin.navigation' | trans }}
    </li>
    {#{% if is_granted('ROLE_ADMIN') %}#}
    {#<li class="nav-item nav-dropdown">#}
        {#<a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-warning"></i> {{ 'Content Reported' | trans }}</a>#}
        {#<ul class="nav-dropdown-items">#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="{{ path('user_report_list') }}"><i class="fa fa-warning"></i> {{ 'Users Reported' | trans }}</a>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="{{ path('news_report_list') }}"><i class="fa fa-warning"></i> {{ 'News Reported' | trans }}</a>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    {#<li class="nav-item nav-dropdown">#}
        {#<a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-user"></i> {{ 'Users' | trans }}</a>#}
        {#<ul class="nav-dropdown-items">#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="icons-font-awesome.html"><i class="fa fa-users"></i> {{ 'Users List' | trans }}</a>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="icons-simple-line-icons.html"><i class="fa fa-user-plus"></i> {{ 'Add User' | trans }}</a>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    {#{% endif %}#}
    {#{% if (app.user.roles[0] == 'ROLE_PRODUCER') %}#}
    {#<li class="nav-item nav-dropdown">#}
        {#<a href="#" class="nav-link nav-dropdown-toggle">{{ 'Agroecological Practice' | trans }}</a>#}
        {#<ul class="nav-dropdown-items">#}
            {#<li class="nav-item">#}
                {#<a href="{{ path('agroecological_practice_list') }}" class="nav-link">{{ 'Practice List' | trans }}</a>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a href="{{ path('agroecological_practice_new') }}" class="nav-link">{{ 'Add Practice' | trans }}</a>#}
            {#</li>#}
        {#</ul>#}
    {#</li>#}
    {#{% endif %}#}
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-building"></i> {{ 'index.hotels' | trans }}</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('hotel_list') }}"><i class="fa fa-list-alt"></i> {{ 'admin.hotels_list' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('hotel_new') }}"><i class="fa fa-plus"></i> {{ 'admin.add' | trans }}</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-certificate"></i> {{ 'admin.promotions' | trans }}</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-newspaper-o"></i> {{ 'admin.promotion_section' | trans }}</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('promotion_sections_list') }}" target="_top"><i class="fa fa-list-alt"></i> {{ 'admin.promotion_section_list' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('promotion_sections_new') }}" target="_top"><i class="fa fa-plus"></i> {{ 'admin.add' | trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('promotion_list') }}" target="_top"><i class="fa fa-certificate"></i> {{ 'admin.promotions_list' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('promotion_new') }}" target="_top"><i class="fa fa-plus"></i> {{ 'admin.promotion_add' | trans }}</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-pencil"></i> {{ 'admin.edit_profile' | trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off fa-lg"></i> {{ 'admin.logout' | trans }}</a>
    </li>
</ul>