
 <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ path('dashboard') }}"><span class="glyphicon glyphicon-home"></span></a>
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{ path('reservation_list') }}">{{ 'index.reservations' | trans }}</a></li> 
      {% if is_granted('ROLE_ADMIN') %} 
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{ 'admin.hotels' | trans }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('hotel_list') }}">{{ 'admin.hotels_list' | trans }}</a></li>
          {#<li><a href="{{ path('hotel_new') }}">{{ 'admin.add' | trans }}</a></li>#}
        </ul>
      </li>
      <li class="dropdown mega-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Actividades <b class="caret"></b>
        </a>
        <ul class="dropdown-menu mega-dropdown-menu">
            <li class="col-sm-3">
                <ul>
                    <li class="dropdown-header">Agencia de Actividades</li>
                    <li><a href="{{ path('activity_agency_list') }}">Lista de Agencias</a></li>
                    <li><a href="{{ path('activity_agency_new') }}">Agregar Agencia</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Información General </li>
                    <li><a href="{{ path('general_information_list') }}">Lista de Información</a></li>
                    <li><a href="{{ path('general_information_new') }}">Agregar Información</a></li>    
                </ul>
            </li>            
            <li class="col-sm-3">
                <ul>
                    <li class="dropdown-header">Actividad</li>
                    <li><a href="{{ path('actyvity_list') }}">Lista de Actividades</a></li>
                    <li><a href="{{ path('actyvity_new') }}">Agergar Actividad</a></li>
                </ul>    
            </li>
        </ul>
      </li>
      {% elseif is_granted('ROLE_HOTELIER') %} 
      <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'admin.hotels' | trans }} {% if not app.session.get('hotel_id') %} <span class="glyphicon glyphicon-asterisk" style="color: red"></span> {% endif %}<span class="caret"></span></a>				
            <ul class="dropdown-menu mega-dropdown-menu">
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header">{{ 'admin.General_information' | trans }}</li>
                        <li><a href="{{ path('hotel_name') }}">{{ 'admin.name' | trans }} {% if not app.session.get('hotel_name') %} <span class="glyphicon glyphicon-asterisk" style="color: red"></span> {% endif %}</a></li>
                        <li><a href="{{ path('hotel_address') }}">{{ 'hotels.address' | trans }} {% if not app.session.get('hotel_address') %} <span class="glyphicon glyphicon-asterisk" style="color: red"></span> {% endif %}</a></li>
                        <li><a href="{{ path('hotel_stars') }}">{{ 'hotels.stars' | trans }} {% if not app.session.get('hotel_stars') %} <span class="glyphicon glyphicon-asterisk" style="color: red"></span> {% endif %}</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">{{ 'admin.gallery_photo' | trans }}</li>
                        <li><a href="{% if app.session.get('hotel_id') %} {{ path('hotel_picture_list', {id: app.session.get('hotel_id')}) }} {% endif %}">{{ 'hotels.pictures' | trans }} {% if not app.session.get('hotel_pictures') %} <span class="glyphicon glyphicon-asterisk" style="color: red"></span> {% endif %}</a></li>
                    </ul>
                </li>
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header">{{ 'admin.profile_trip.label' | trans }}</li>
                        <li><a href="{{ path('hotel_type') }}">{{ 'hotels.search_menu.type' | trans }} {% if not app.session.get('hotel_type') %} <span class="glyphicon glyphicon-asterisk" style="color: red"></span> {% endif %}</a></li>
                        <!--<li><a href="{#{ path('hotel_chain') }}">{{ 'hotels.search_menu.hotel_chain' | trans }} {% if not app.session.get('hotel_chain') %} <span class="glyphicon glyphicon-asterisk" style="color: red"></span> {% endif %#}</a></li>-->                            
                        <li><a href="{{ path('hotel_profile') }}">{{ 'admin.profile_trip.label' | trans }} {% if not app.session.get('hotel_profile') %} <span class="glyphicon glyphicon-asterisk" style="color: red"></span> {% endif %}</a></li>
                        <li><a href="#">{{ 'hotels.services' | trans }} {% if not app.session.get('hotel_services') %} <span class="glyphicon glyphicon-asterisk" style="color: red"></span> {% endif %}</a></li>
                    </ul>
                </li>
                <li class="col-sm-3">
                    <ul>
                        <li class="dropdown-header">{{ 'admin.Much_more' | trans }}</li>
                        <li><a href="#">{{ 'hotels.description' | trans }}</a></li>                      
                    </ul>
                </li>
            </ul>				
      </li>  
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{ 'index.search.hotel.rooms' | trans }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('room_list') }}">{{ 'admin.promotion_section_list' | trans }}</a></li>
          <li><a href="{{ path('room_new') }}">{{ 'admin.add' | trans }}</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{ 'hotels.beds' | trans }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('bed_list') }}">{{ 'admin.promotion_section_list' | trans }}</a></li>
          <li><a href="{{ path('bed_new') }}">{{ 'admin.add' | trans }}</a></li>
        </ul>
      </li>
      {% endif %}   
    </ul>
        
    <ul class="nav navbar-nav navbar-right">
      {% if is_granted('ROLE_ADMIN') %}  
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{ 'admin.promotions' | trans }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">{{ 'admin.promotion_section' | trans }}</a></li>
          <li><a href="{{ path('promotion_sections_list') }}">{{ 'admin.promotion_section_list' | trans }}</a></li>
          <li><a href="{{ path('promotion_sections_new') }}">{{ 'admin.add' | trans }}</a></li>
          <li><a href="{{ path('promotion_list') }}">{{ 'admin.promotions_list' | trans }}</a></li>
          <li><a href="{{ path('promotion_new') }}">{{ 'admin.promotion_add' | trans }}</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>