{% extends ':admin:base.html.twig' %}

{% block title %}{{ 'hotels.beds' | trans }}{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ 'hotels.beds' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> {{ 'admin.bed_manager' | trans }}
            </div>
            <div class="card-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'admin.period' | trans }}</th>
                        <th>{{ 'index.search.hotel.room' | trans }}</th>
                        <th>{{ 'admin.name' | trans }}</th>
                        <th>{{ 'hotels.bed_type' | trans }}</th>
                        <th>{{ 'hotels.size' | trans }}</th>
                        <th>{{ 'hotels.quantity' | trans }}</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>{{ 'admin.created_by' | trans }}</th>
                        {% endif %}
                        <th>{{ 'admin.actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for entity in entities %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {% include ':admin/bed:list_content.html.twig' %}
                        {% elseif is_granted('ROLE_HOTELIER') %}
                            {% if entity.createdBy.id == app.user.id %}
                                {% include ':admin/bed:list_content.html.twig' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}