{% set symbol = '' %}
{% set targetCurrency = app.session.get('targetCurrency') %}
    {% if targetCurrency == 'USD' %}
        {% set symbol = 'US$' %}
    {% elseif targetCurrency == 'ARS' %}
        {% set symbol = 'AR$' %}
    {% else %}
        {% set symbol = 'AR$' %}
    {% endif %}
    {% set decimal =false %}
{% set price_detail = app.session.get('price_detail') %}
{% set booking_all_data = app.session.get('booking_all_data') %}
{% set destination = app.session.get('destination') %}
<div class="container bs-docs-container">
    <table class="table">
        <tr>
            <th colspan="2">
                <b>
                    <h3>{{ 'hotels.thanks_booking' | trans({'%name%': reservation.holderName}) }}</h3>
                </b>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <table class="table">
                    <tr>
                        <td>
                            <div id="main_picture" style="width: 493px; height: 328px;">
                                <img style="width: 493px; height: 328px;" src="{{ render(controller('VientoSurAppAppBundle:Activity:getPictureByActivity',{ 'id':  item.id})) }}" class="origin" />
                            </div>
                        </td>
                        <td style="width: 493px; height: 328px; display: block;">
                            <div id="main_picture" style="width: 493px; height: 328px;">
                                <img src="https://www.mapquestapi.com/staticmap/v4/getplacemap?key=vcdIMmp9OiCGm1lsGE4Z1QRz5AVABDyG&location={{latitude}},{{longitude}}&size=500,300&zoom=9&showicon=red_1-1" alt="" style="width: 493px; height: 328px;">
                            </div>                            
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <h3>Reserva Nº: {{ reservation.id }}</h3>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <h3>{{ item.name }}</h3>
                            {{ address_map }}
                        </th>
                    </tr>
                    <tr>
                        <th>
                            {{ 'hotels.phone' | trans }}
                        </th>
                        <td>
                            {{ activity_phone }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'hotels.gps_coordinates' | trans }}
                        </th>
                        <td>
                            Lat {{ latitude }}, Long {{ longitude }}
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr style="text-align: center;">
                        <td width="40%">
                            <h2>{{ checking_date |localizeddate('medium', 'none', app.request.locale) }}</h2>
                            <h4 style="margin: 0; padding: 0;">
                                <span>
                                    {% if schedule == 'am' %}
                                        <b>Turno: AM - pick up: {{ item.pickUpAm }} - desde las {{ item.fromAm}} hasta las {{ item.toAm}}</b>
                                    {% elseif schedule == 'pm' %}
                                        <b>Turno: PM - pick up: {{ item.pickUpPm }} - desde las {{ item.fromPm}} hasta las {{ item.toPm}}</b>    
                                    {% else %}  
                                        <b>Turno: pick up: {{ item.pickUpAll }} - desde las {{ item.fromAll }} hasta las {{ item.toAll}}</b>    
                                    {% endif %}
                                        - <b>Duración:</b> {{ item.duration }} hs
                                </span>
                            </h4>
                        </td> 
                        <td width="20%">
                            <div class="col-md-12">
                                <h7 style="display: block;">{{ 'hotels.your_group' | trans }}</h7>
                                {% if cant_adut > 0 %}
                                <div class="col-md-{% if cant_chil > 0 %}6{% else %}12{% endif %}">
                                    <h5>{{ cant_adut }} {{ 'index.search.hotel.adult' | trans }}(s)</h5>
                                </div>
                                {% endif %}
                                {% if cant_chil > 0 %}
                                    <div class="col-md-{% if cant_adut > 0 %}6{% else %}12{% endif %}">
                                        <h5>{{ cant_chil }} {{ 'index.search.hotel.child' | trans }}(s)</h5>
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                        <td width="40%">
                            {{ 'hotels.total_price' | trans }}:<br>
                            <h2>{{ symbol }} {{ render(controller('VientoSurAppAppBundle:Activity:getConvertCurrency',{ 'amount':  price, 'symbol': symbol})) }}</h2>
                        </td>    
                    </tr>    
                </table> 
                <table class="table table-bordered">
                    <tr style="text-align: center;">
                        <td width="33%">
                            <h2 style="font-size: 12px">{{ 'hotels.reservation_by' | trans }}:</h2>
                            <h4 style="font-size: 12px">{{ reservation.holderName }}</h4>
                            <h4 style="font-size: 12px">Email: {{ reservation.email }}</h4>
                            <h4 style="font-size: 12px">{{ 'hotels.labels.number' | trans }} {{ reservation.phoneNumber }}</h4>
                        </td>
                        <td width="33%">
                            <h2 style=";font-size: 12px">{{ 'hotels.pay' | trans }}</h2>
                            <h5 style="font-size: 12px">
                                {{ 'hotels.payment_method_chosen' | trans }}:<br/>
                                MercadoPago.com - referencia de pago Nº: {{ reservation.collectionId }}
                            </h5>
                        </td>
                        <td width="33%">
                            <h2 style=";font-size: 12px">{{ 'hotels.cancellation_policies' | trans }}</h2>
                            <h5 style="font-size: 12px">
                                Puede cancelar hasta 24 hs antes<br/><br/>
                                <a class="btn btn-danger" href="{# { url('viento_sur_app_booking_hotel_pdf', {'status': 'ok','detail': detail, 'hotel_id': hotelId, 'email': internal.email, 'id': internal.id}) }#}">
                                    Cancelar Reserva
                                </a>
                            </h5>
                        </td>
                    </tr>
                </table> 
                <table>
                    <tr width="70%">
                        <th width="10%">{{ 'hotels.description' | trans }}:</th>
                        <td class="text-justify" style="width: 60%">
                            {% set info = item.description %}
                            <p id="info" style="font-size: 11px">{{ info }}</p>
                        </td>  
                    <tr>
                </table>        
            </th>
        </tr>
    </table>
    {% if not pdf %}
    <div style="width: 100%; display: inline-block; text-align: center; margin-bottom: 25px ">
        <a class="btn btn-success" href="{{ url('viento_sur_app_save_activity_pdf', {'reservationId': reservation.id}) }}">
            {{ 'hotels.download_pdf' | trans }}
        </a>
    </div>
    {% endif %}
    <div>
        <p>{{ 'index.hotel_footer' | trans }}</p>
        <p>{{ 'index.hotel_footer2' | trans }}</p>
    </div>
    <div>
        {{ 'index.footer_copy.responsible' | trans }} <span>Viento Sur</span> {{ 'index.footer_copy.tour' | trans }}
    </div>
    <br><br>                            
</div>    
