{% block content %}
    <div class="container">
        <div class="container bs-docs-container">
            <br>
            <b>
                <h3>{{ 'hotels.thanks_booking' | trans({'%name%': reservation.holderName}) }}</h3>
            </b>

            <div class="booking-item-dates-change mb5">
                <h5><b>{{ 'flights.buy_detail' | trans }}</b></h5>
                <div class="row alert alert-warning">
                    <div class="col-md-offset-1 col-md-10 ">
                        <div class="row" style="font-size: 2rem; padding-bottom: 10px">
                            <span style="float: left;">{{ 'flights.rate_per_adult' | trans }}</span>
                            {#<span style="float: right;">{{ itineraryDetail.price_detail.adult_base | number_format(2, ',', '.') }}</span>#}
                            <span style="float: right;">{{ itineraryDetail.price_detail.adult_base | round| currency_convert_format(targetCurrency,decimal)| replace({',': '.','.':','}) }}</span>
                            {#<span style="float: right;">$ </span>#}
                        </div>
                        <div class="row">
                            <span style="float: left;">{{ 'flights.adult' | trans }}</span>
                            <span style="float: left;padding-left: 3px">({{ itineraryDetail.passenger_distribution.adults }})</span>
                            {#<span style="float: right;">{{ itineraryDetail.price_detail.base | number_format(2, ',', '.') }}</span>#}
                            <span style="float: right;">{{ itineraryDetail.price_detail.base | round| currency_convert_format(targetCurrency,decimal)| replace({',': '.','.':','}) }}</span>
                            {#<span style="float: right;">$ </span>#}
                        </div>

                        {% if itineraryDetail.passenger_distribution.children > 0 %}
                            <div class="row">
                                <span style="float: left;">{{ 'index.search.hotel.childs' | trans }}</span>
                                <span style="float: left;padding-left: 3px">({{ itineraryDetail.passenger_distribution.children }})</span>
                                {#<span style="float: right;">{{ itineraryDetail.price_detail.children_subtotal | number_format(2, ',', '.') }}</span>#}
                                <span style="float: right;">{{ itineraryDetail.price_detail.children_subtotal | round| currency_convert_format(targetCurrency,decimal)| replace({',': '.','.':','}) }}</span>
                                {#<span style="float: right;">$ </span>#}
                            </div>
                        {% endif %}

                        <div class="row">
                            <span style="float: left;">{{ 'hotels.taxes_and_rates' | trans }}</span>
                            {#<span style="float: right;">{{ itineraryDetail.price_detail.taxes | number_format(2, ',', '.') }}</span>#}
                            <span style="float: right;">{{ itineraryDetail.price_detail.taxes | round| currency_convert_format(targetCurrency,decimal)| replace({',': '.','.':','}) }}</span>
                            {#<span style="float: right;">$ </span>#}
                        </div>
                        <div class="row">
                            <span style="float: left;">{{ 'flights.charges' | trans }}</span>
                            {#<span style="float: right;">{{ itineraryDetail.price_detail.fees | number_format(2, ',', '.') }}</span>#}
                            <span style="float: right;">{{ itineraryDetail.price_detail.fees | round| currency_convert_format(targetCurrency,decimal)| replace({',': '.','.':','}) }}</span>
                            {#<span style="float: right;">$ </span>#}
                        </div>
                        <div class="row" style="padding-top: 2rem; border-top: 1px solid #000;">
                            <span class="label-total" style="float: left;font-size: 2rem; text-align: left; text-transform: uppercase"><b>Total</b></span>
                            {#<span style="float: right;font-size: 3rem"><b>{{ itineraryDetail.price_detail.total | number_format(2, ',', '.') }}</b></span>#}
                            <span style="float: right;font-size: 3rem"><b>{{ itineraryDetail.price_detail.total | round| currency_convert_format(targetCurrency,decimal)| replace({',': '.','.':','})}}</b></span>
                            {#<span style="float: right; font-size: 2rem;padding-right: 3px;"><b>$</b></span>#}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-outbound">
                            <span style="float: left; padding-right: 4px"> <i class="fa fa-plane"></i></span>
                            <span> <b>{{ 'flights.going' | trans }}</b> </span>
                            {% if itineraryDetail.outbound_choices[0].segments | length < 1 %}
                                <span style="float: right">{{ 'flights.stop' | trans }} {{ itineraryDetail.outbound_choices[0].segments | length }}</span>

                            {% else %}
                                <span style="float: right">{{ itineraryDetail.outbound_choices[0].segments | length -1}} {{ 'flights.stop' | trans }}s</span>

                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="outbound">
                    {% if itineraryDetail.outbound_choices[0].segments | length > 0 %}
                        {% for item in itineraryDetail.outbound_choices[0].segments %}
                            <div class="row">
                                <div class="segment-header col-md-12">
                                    <span>{{ item.cabin_type | capitalize }}</span>
                                </div>
                            </div>
                            <div class="row">
                                {# Salida #}
                                <div class="flight-details-container col-md-5 align-center">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="item-label">{{ 'flights.outgoing' | trans }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="item-city-code">{{ item.from }}</span>
                                        </div>
                                    </div>
                                    {#<div class="row">
                                        <div class="col-md-12">
                                            <span class="item-location-code">Buenos Aires</span>
                                        </div>
                                    </div>#}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="item-date">{{ item.departure_datetime | date("D d F Y") }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="item-time">{{ item.departure_datetime | date("H:i") }}</span>
                                        </div>
                                    </div>
                                </div>

                                {# Vuelo #}
                                <div class="col-md-2 align-center media-middle">

                                    <div class="row">
                                        <div class="col-md-12 airline-data-col">
                                            <img src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ item.airline }}.png" title="{#{{ airlineNames[segment.airline] }}#}" />
                                            <span class="airline-data">{{ item.flight_id }}</span>
                                        </div>
                                    </div>

                                </div>

                                {# Llegada #}
                                <div class="flight-details-container col-md-5 align-center">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="item-label">{{ 'flights.incoming' | trans }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="item-city-code">{{ item.to }}</span>
                                        </div>
                                    </div>
                                    {#<div class="row">
                                        <div class="col-md-12">
                                            <span class="item-location-code">Buenos Aires</span>
                                        </div>
                                    </div>#}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="item-date">{{ item.arrival_datetime | date("D d F Y") }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="item-time">{{ item.arrival_datetime | date("H:i") }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 alert alert-warning">
                                    <span style="float: left">{{ 'flights.waiting_time' | trans }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            {% if itineraryDetail.inbound_choices is defined %}
                <div class="booking-item-dates-change mb5">
                    <div class="row">
                        <div class="cold-md-12">
                            <div class="header-outbound">
                                <span style="float: left; padding-right: 4px"> <i class="fa fa-plane fa-flip-horizontal"></i></span>
                                <span> <b>{{ 'flights.return' | trans }}</b> </span>
                                {% if itineraryDetail.inbound_choices[0].segments| length < 1 %}
                                    <span class="pull-right">PARADA {{ itineraryDetail.inbound_choices[0].segments| length }}</span>
                                {% else %}
                                    <span class="pull-right">{{ itineraryDetail.inbound_choices[0].segments| length -1}} PARADAS</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="outbound">
                        {% if itineraryDetail.inbound_choices[0].segments| length > 0 %}
                            {% for item in itineraryDetail.inbound_choices[0].segments%}
                                <div class="row">
                                    <div class="segment-header col-md-12">
                                        <span>{{ item.cabin_type | capitalize }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    {# Salida #}
                                    <div class="flight-details-container col-md-5 align-center">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="item-label">{{ 'flights.outgoing' | trans }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="item-city-code">{{ item.from }}</span>
                                            </div>
                                        </div>
                                        {#<div class="row">
                                            <div class="col-md-12">
                                                <span class="item-location-code">Buenos Aires</span>
                                            </div>
                                        </div>#}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="item-date">{{ item.departure_datetime | date("D d F Y") }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="item-time">{{ item.departure_datetime | date("H:i") }}</span>
                                            </div>
                                        </div>
                                    </div>

                                    {# Vuelo #}
                                    <div class="col-md-2 align-center media-middle">

                                        <div class="row">
                                            <div class="col-md-12 airline-data-col">
                                                <img src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ item.airline }}.png" title="{#{{ airlineNames[segment.airline] }}#}" />
                                                <span class="airline-data">{{ item.flight_id }}</span>
                                            </div>
                                        </div>

                                    </div>

                                    {# Llegada #}
                                    <div class="flight-details-container col-md-5 align-center">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="item-label">{{ 'flights.incoming' | trans }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="item-city-code">{{ item.to }}</span>
                                            </div>
                                        </div>
                                        {#<div class="row">
                                            <div class="col-md-12">
                                                <span class="item-location-code">Buenos Aires</span>
                                            </div>
                                        </div>#}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="item-date">{{ item.arrival_datetime | date("D d F Y") }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="item-time">{{ item.arrival_datetime | date("H:i") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 alert alert-warning">
                                        <span style="float: left">{{ 'flights.waiting_time' | trans }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <!-- -->

            <div class="col-lg-6" style="margin-top: 15px">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th width="100">
                            {{ 'flights.reservation_data' | trans }}
                        </th>
                        <td>
                            <ul>
                                <li>{{ 'hotels.reservation_number' | trans }}: {{ reservation.reservationId }}</li>
                                <li>{{ 'hotels.reservation_by' | trans }}:  {{ reservation.email }}, {{ reservation.holderName }}</li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            {#{% if not pdf %}#}
                {#<a href="{{ url('viento_sur_app_booking_hotel_pdf', {'status': 'ok','detail': detail, 'hotel_id': hotelId, 'email': internal.email, 'id': internal.id}) }}">#}
                {#Descargar PDF#}
                {#</a>#}
                {#<a href="{{ url('viento_sur_app_edit_reservation', {'id': reservationId}) }}">#}
                {#Editar reservaci&oacute;n#}
                {#</a>#}
            {#{% endif %}#}
        </div>
    </div>
{% endblock %}