<div class="container bs-docs-container">
    <table class="table">
        <tr>
            <th colspan="2">
                <b>
                    {#<h3>&iexcl;Gracias, {{ internal.holderName }}&#33; Tu reservaci&oacute;n est&aacute; confirmada.</h3>#}
                </b>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <table class="table">
                    <tr>
                        <td>
                            {#<img src="{{ hotelDetails.main_picture.url }}/200x150" class="origin" />#}
                        </td>
                        <td>
                            {#<h3>{{ hotelDetails.name }}</h3>#}
                        </td>
                    </tr>
                </table>
            </th>
        </tr>
        <tr>
            <th width="15%">
               Origen:
            </th>
            <td>
                {#{{ hotelDetails.location.address }}.#}
            </td>
        </tr>
        <tr>
            <th width="15%">
                Destino:
            </th>
            <td>
                {#{{ hotelDetails.location.address }}.#}
            </td>
        </tr>
        <tr>
            <th width="15%">Descripci&oacute;n</th>
            <td class="text-justify">
                {#{{ hotelDetails.information.es }}#}
            </td>
        </tr>
        <tr>
            <th>
                Tel&eacute;fono:
            </th>
            <td>
                No disponible
            </td>
        </tr>
    </table>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th width="20%">
                Tu reserva:
            </th>
            <td>
                {#{{ reservationDetails.night_count }} noche(s). {{ reservationDetails.rooms|length }} Habitacion(es).#}
            </td>
        </tr>
        <tr>
            <th>
                Entrada:
            </th>
            <td>
                {#{{ reservationDetails.checkin_date|date("d/m/Y") }}#}
            </td>
        </tr>
        <tr>
            <th>
                Salida:
            </th>
            <td>
                {#{{ reservationDetails.checkout_date|date("d/m/Y") }}#}
            </td>
        </tr>
        <tr>
            <th>
                N&uacute;mero de reserva:
            </th>
            <td>
                {#{{ reservationDetails.id }}#}
            </td>
        </tr>
        <tr>
            <th>
                Reserva realizada por:
            </th>
            <td>
                {#{{ internal.email }}, {{ internal.holderName }}#}
            </td>
        </tr>
        <tr>
            <th>
                Habitaci&oacute;n(es):
            </th>
            <td>
                {#{% for room in reservationDetails.rooms %}#}
                    {#<li>{% if room.descriptions.es is defined %}{{ room.descriptions.es }}, {% endif %}{{ room.adults }} Adulto(s) {% if room.children > 0 %}{{ room.children }} Niño(s){% endif %}</li>#}
                {#{% endfor %}#}
            </td>
        </tr>
        <tr>
            <th>
                Pol&iacute;tica de cancelaci&oacute;n:
            </th>
            <td>
                <ul>
                    {#{% if reservationDetails.hours_before_checkin_penalty is defined %}<li>Puede cancelar  hasta {{ reservationDetails.hours_before_checkin_penalty }} horas antes del checking.{% endif %}#}
                    {#<li>{% if reservationDetails.penalty.penalty_provider_amount is defined and reservationDetails.penalty.penalty_provider_amount > 0 %} El cargo por cancelar es $ {{ reservationDetails.penalty.penalty_provider_amount }} {% else %} Sin cargos por cancelación.{% endif %}</li>#}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="jumbotron">
        <table class="table table-condensed">
            <tr>
                <td colspan="2">
                    {#{{ reservationDetails.rooms|length }} Habitacio(nes)#}
                </td>
            </tr>
            <tr>
                <th>
                    Precio total:
                </th>
                <td>
                    {#{{ reservationDetails.site_currency.code }} {{ internal.totalPrice }}#}
                </td>
            </tr>
            {% if not pdf %}
                <tr>
                    <td>
                        {#<a href="{{ url('viento_sur_app_booking_hotel_pdf', {'status': 'ok','detail': detail, 'hotel_id': hotelId, 'email': internal.email, 'id': internal.id}) }}">#}
                            {#Descargar PDF#}
                        {#</a>#}
                    </td>
                    <td>
                        {#<a href="{{ url('viento_sur_app_edit_reservation', {'id': reservationId}) }}">#}
                            {#Editar reservaci&oacute;n#}
                        {#</a>#}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>