<div class="container bs-docs-container">
    <table class="table">
        <tr>
            <th colspan="2">
                <b>
                    <h3>{{ 'hotels.thanks_booking' | trans({'%name%': internal.holderName}) }}</h3>
                </b>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <table class="table">
                    <tr>
                        <td>
                            <img src="{{ hotelDetails.main_picture.url }}/200x150" class="origin" />
                        </td>
                        <td>
                            <h3>{{ hotelDetails.name }}</h3>
                        </td>
                    </tr>
                </table>
            </th>
        </tr>
        <tr>
            <th width="15%">
                {{ 'hotels.address' | trans }}:
            </th>
            <td>
                {{ hotelDetails.location.address }}.
            </td>
        </tr>
        <tr>
            <th width="15%">{{ 'hotels.description' | trans }}</th>
            <td class="text-justify">
                {{ hotelDetails.information.es }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'hotels.phone' | trans }}:
            </th>
            <td>
                {{ 'hotels.unavailable' | trans }}
            </td>
        </tr>
    </table>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th width="20%">
                {{ 'hotels.your_reservation' | trans }}:
            </th>
            <td>
                {{ reservationDetails.night_count }} {{ 'hotels.night' | trans }}(s). {{ reservationDetails.rooms|length }} {{ 'index.search.hotel.room' | trans }}(s).
            </td>
        </tr>
        <tr>
            <th>
                {{ 'index.search.hotel.checkin_date' | trans }}:
            </th>
            <td>
                {{ reservationDetails.checkin_date|date("d/m/Y") }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'index.search.hotel.checkout_date' | trans }}:
            </th>
            <td>
                {{ reservationDetails.checkout_date|date("d/m/Y") }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'hotels.reservation_number' | trans }}:
            </th>
            <td>
                {{ reservationDetails.id }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'hotels.reservation_by' | trans }}:
            </th>
            <td>
                {{ internal.email }}, {{ internal.holderName }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'index.search.hotel.room' | trans }}(s):
            </th>
            <td>
                {% for room in reservationDetails.rooms %}
                    <li>{% if room.descriptions.es is defined %}{{ room.descriptions.es }}, {% endif %}{{ room.adults }} {{ 'index.search.hotel.adults' | trans }}(s) {% if room.children > 0 %}{{ room.children }} {{ 'index.search.hotel.childs' | trans }}(s){% endif %}</li>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'hotels.cancellation_policies' | trans }}:
            </th>
            <td>
                <ul>
                    {% if reservationDetails.hours_before_checkin_penalty is defined %}<li>{{ 'hotels.can_cancel_to' | trans }} {{ reservationDetails.hours_before_checkin_penalty }} {{ 'hotels.hours_before' | trans }}.{% endif %}
                    <li>{% if reservationDetails.penalty.penalty_provider_amount is defined and reservationDetails.penalty.penalty_provider_amount > 0 %} {{ 'hotels.cancellation_amount' | trans }} $ {{ reservationDetails.penalty.penalty_provider_amount }} {% else %} {{ 'hotels.whitout_charges' | trans }}.{% endif %}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="jumbotron">
        <table class="table table-condensed">
            <tr>
                <td colspan="2">
                    {{ reservationDetails.rooms|length }} {{ 'index.search.hotel.rooms' | trans }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ 'hotels.total_price' | trans }}:
                </th>
                <td>
                    {{ reservationDetails.site_currency.code }} {{ internal.totalPrice }}
                </td>
            </tr>
            {% if not pdf %}
            <tr>
                <td>
                    <a href="{{ url('viento_sur_app_booking_hotel_pdf', {'status': 'ok','detail': detail, 'hotel_id': hotelId, 'email': internal.email, 'id': internal.id}) }}">
                        {{ 'hotels.download_pdf' | trans }}
                    </a>
                </td>
                <td>
                    <a href="{{ url('viento_sur_app_edit_reservation', {'id': reservationId}) }}">
                        {{ 'hotels.edit_reservation' | trans }}
                    </a>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>