<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vientosur.net | {{ 'index.hotel' | trans }} - {{ 'index.reservation' | trans }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .header-top {
            max-height: 100%;
            padding: 5px 0;
            background: #404040;
        }
        .logo {
            display: block;
        }
        a {
            color: #337ab7;
            text-decoration: none;
        }
        header#main-header {
            border-bottom: 2px solid #ed8323;
        }
        .header-top {
            max-height: 100%;
            padding: 5px 0;
            background: #404040;
        }
    </style>
</head>
<body>
<header id="main-header">
    <div class="header-top">
        <div class="container">
            <div class="col-md-3">
                <a class="logo" href="#">
                    <img src="http://www.vientosur.net/bundles/vientosurappapp/images/vientosur-logo-color.png" alt="Viento Sur" title="">
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container bs-docs-container">
    <table class="table">
        <tr>
            <th colspan="2">
                <b>
                    <h3>{{ 'index.cancellation_proceed' | trans }}.</h3>
                </b>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <table class="table">
                    <tr>
                        <td>
                            <img src="{{ hotelDetails.main_picture.url }}/200x150" />
                        </td>
                        <td>
                            <h3>{{ hotelDetails.name }}</h3>
                        </td>
                    </tr>
                </table>
            </th>
        </tr>
        <tr>
            <th width="15%">
                {{ 'hotels.address' | trans }}:
            </th>
            <td>
                {{ hotelDetails.location.address }}.
            </td>
        </tr>
    </table>

    <table class="table table-bordered">
        <tbody>
        <caption>{{ 'index.cancellation_msg' | trans }}: </caption>
        <tr>
            <th width="20%">
                {{ 'hotels.your_reservation' | trans }}:
            </th>
            <td>
                {{ reservationDetails.night_count }} {{ 'hotels.night' | trans }}(s). {{ reservationDetails.rooms|length }} {{ 'index.search.hotel.room' | trans }}(s).
            </td>
        </tr>
        <tr>
            <th>
                {{ 'hotels.entry' | trans }}:
            </th>
            <td>
                {{ reservationDetails.checkin_date|date("d/m/Y") }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'flights.outgoing' | trans }}:
            </th>
            <td>
                {{ reservationDetails.checkout_date|date("d/m/Y") }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'hotels.reservation_number' | trans }}:
            </th>
            <td>
                {{ reservationDetails.id }}
            </td>
        </tr>
        <tr>
            <th>
                {{ 'index.search.hotel.room' | trans }}(s):
            </th>
            <td>
                <ul>
                    {% for room in reservationDetails.rooms %}
                        <li>{% if room.descriptions.es is defined %}{{ room.descriptions.es }}, {% endif %}{{ room.adults }} {{ 'flights.adult' | trans }}(s) {% if room.children > 0 %}{{ room.children }} {{ 'index.search.hotel.childs' | trans }}(s){% endif %}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>
                {{ 'index.cancellation_number' | trans }}
            </th>
            <td>
                <li>{{ idCancellation }}</li>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
