{% extends 'admin/base.html.twig' %}

{% block body %}
<body {% block body_class %}{% endblock %}>
    <div class="container d-table">
        <div class="d-100vh-va-middle">
            <div class="row">
            {% block content %}
                <div class="col-md-6 offset-md-3">
                    {% include '@VientoSurAppApp/messages/success.html.twig' %}
                    <div class="card-group">
                        <div class="card p-2">
                            <div class="card-block">
                                <h1>Login</h1>
                                <p class="text-muted">{{ 'admin.sign_in_account' | trans }}</p>
                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <div class="input-group mb-1">
                                                    <span class="input-group-addon"><i class="icon-user"></i>
                                                    </span>
                                        <input type="text" id="username" name="_username" required="required" class="form-control" placeholder="{{ 'admin.username' | trans }}">
                                    </div>
                                    <div class="input-group mb-2">
                                                    <span class="input-group-addon"><i class="icon-lock"></i>
                                                    </span>
                                        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'admin.password' | trans }}">
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6" style="width: 30%">
                                            <button type="submit" id="_submit" name="_submit" class="btn btn-primary px-2">{{ 'admin.sign_in' | trans }}</button>
                                        </div>
                                        <div class="col-xs-6" style="width: 30%">
                                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-sucess px-2" style="background-color: #4dbd74;border-color: #4dbd74;color: #ffffff">{{ 'admin.register' | trans }}</a>
                                        </div>
                                        <div class="col-xs-6 text-xs-right" style="width: 30%">
                                            <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-link px-0">{{ 'admin.forgot_password' | trans }}</a>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                {% if error %}
                                    <div class="alert alert-danger" role="alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            </div>
        </div>
    </div>
</body>
{% endblock %}