{% extends ":admin:base.html.twig" %}

{% block body %}
    <body {% block body_class %}{% endblock %}>
    <div class="container d-table">
        <div class="d-100vh-va-middle">
            <div class="row">
                {% block content %}
                    <div class="col-md-6 offset-md-3">
                        <div class="card mx-2">
                            <div class="card-block p-2">
                                <p class="text-muted">{{ 'admin.resetting_password' | trans }}</p>
                                <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
                                    <div class="input-group mb-1">
                                    <span class="input-group-addon"><i class="icon-lock"></i>
                                    </span>
                                        {{ form_widget(form.new.first, { 'attr': { 'class': 'form-control', 'placeholder': 'admin.new_password' | trans }}) }}
                                    </div>
                                    {{ form_errors(form.new.first) }}
                                    <div class="input-group mb-1">
                                    <span class="input-group-addon"><i class="icon-lock"></i>
                                    </span>
                                        {{ form_widget(form.new.second, { 'attr': { 'class': 'form-control', 'placeholder': 'admin.repeat_new_password' | trans}}) }}
                                    </div>
                                    {{ form_errors(form.new.second) }}
                                    {{ form_rest(form) }}
                                    <button type="submit" class="btn btn-block btn-success">{{ 'admin.change_password' | trans }}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}