{% extends "admin/base.html.twig" %}

{% block title %} Nueva Información general de Actividades {% endblock %}

{% block top_content %}
    {% if app.request.attributes.get('_route') == 'activity_agency_new' %}
        {% set title = 'Nueva información general de la actividad' %}
    {% else %}
        {% set title = 'Editar información general de la actividad' %}
    {% endif %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ title | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-header">
                <strong>Información General</strong>
            </div>
            {{ form_start(form, {'attr':{ 'id': 'form', 'class': 'form-horizontal'}}) }}
            <div class="card-block">
                <div class="col-md-12">
                    <fieldset class="fieldset-custom">
                        <label class="label-fieldset">Datos de la Información General</label>
                            <div class="form-group row">
                                <label class="col-md-1 form-control-label" for="first-name">{{ 'admin.name' | trans }}</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.name, { 'attr': { 'class': 'form-control', 'style': 'width: 75%; float: left;'}}) }}
                                    <img class="flags-lg" src="{{ asset('assets/img/flags/Argentina.png') }}" alt="Español" style="margin-top: -7px">
                                </div>
                                <em>{{ form_errors(form.name) }}</em>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-md-1 form-control-label" for="first-name">Nome</label>
                                <div class="col-md-7">
                                    {{ form_widget(form.namePt, translations.pt is not defined ? { 'attr': { 'class': 'form-control', 'style': 'width: 75%; float: left;'}} : { 'attr': { 'class': 'form-control', 'value': translations.pt.name }} ) }}
                                    <img class="flags-lg" src="{{ asset('assets/img/flags/Portugal.png') }}" alt="Português" style="margin-top: -7px">
                                </div>
                                <em>{{ form_errors(form.namePt) }}</em>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-1 form-control-label" for="first-name">
                                    Name
                                </label>
                                <div class="col-md-7">
                                    {{ form_widget(form.nameEn, translations.en is not defined ? { 'attr': { 'class': 'form-control', 'style': 'width: 75%; float: left;'}} : { 'attr': { 'class': 'form-control', 'value': translations.en.name }} ) }}
                                    <img class="flags-lg" src="{{ asset('assets/img/flags/USA.png') }}" alt="English" style="margin-top: -7px">
                                </div>
                                <em>{{ form_errors(form.nameEn) }}</em>
                            </div> 
                    </fieldset>    
                </div>
                {{ form_rest(form) }}    
            </div>
            <div class="card-footer">
                <a href="{{ path('general_information_list') }}" class="btn btn-sm btn-success"><i class="fa fa-mail-reply"></i> {{ 'admin.back' | trans }}</a>
                <button id="send" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ 'admin.send' | trans }}</button>
            </div>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}


{% block extra_css %}
    {{ parent() }}
    
{% endblock %}

{% block extra_js %}
    
{% endblock %}