{% extends ':admin:base.html.twig' %}

{% block title %}{{ 'admin.promotion_section' | trans }}{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ 'admin.promotion_section' | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> {{ 'admin.promotion_section_manager' | trans }}
            </div>
            <div class="card-block">
                <div class="count">
                    <h6>{{ 'admin.total_records' | trans }}: {{ pagination.getTotalItemCount }}</h6>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'admin.period' | trans }}</th>
                        <th>{{ 'admin.title' | trans }}</th>
                        <th>{{ 'admin.subtitle' | trans }}</th>
                        <th>Status</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <th>{{ 'admin.created_by' | trans }}</th>
                        {% endif %}
                        <th>{{ 'admin.actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for entity in pagination %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {% include ':admin/promotionSections:list_content.html.twig' %}
                        {% elseif is_granted('ROLE_HOTELIER') %}
                            {% if entity.createdBy.id == app.user.id %}
                                {% include ':admin/promotionSections:list_content.html.twig' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}