{% extends "admin/base.html.twig" %}

{% block title %}{{ 'admin.hotel_new' | trans }}{% endblock %}

{% block top_content %}
    {% if app.request.attributes.get('_route') == 'hotel_new' %}
        {% set title = 'admin.hotel_new' %}
    {% else %}
        {% set title = 'admin.hotel_edit' %}
    {% endif %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}{{ title | trans }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-header">
                <strong style="text-transform:capitalize;">{{ 'index.hotel' | trans }}</strong>
            </div>
            {{ form_start(form, {'attr':{ 'id': 'form','class': 'form-horizontal'}}) }}
            <div class="card-block">
                <h6 class="label-lg">{{ 'admin.language' | trans }}</h6>
                <img class="flags-lg" src="{{ asset('assets/img/flags/Argentina.png') }}" alt="Español">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="first-name">{{ 'admin.name' | trans }}*</label>
                    <div class="col-md-9">
                        {{ form_widget(form.name, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="first-name">{{ 'hotels.description' | trans }}*</label>
                    <div class="col-md-9">
                        {{ form_widget(form.description, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.description) }}
                </div>

                <h6 class="label-lg">{{ 'admin.language' | trans }}</h6>
                <img class="flags-lg" src="{{ asset('assets/img/flags/Portugal.png') }}" alt="Português">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="first-name">
                        {{ 'admin.name' | trans }}
                    </label>
                    <div class="col-md-9">
                        {{ form_widget(form.namePt, translations.pt is not defined ? { 'attr': { 'class': 'form-control'}} : { 'attr': { 'class': 'form-control', 'value': translations.pt.name }} ) }}
                    </div>
                    {{ form_errors(form.namePt) }}
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="first-name">
                        {{ 'hotels.description' | trans }}
                    </label>
                    <div class="col-md-9">
                        {{ form_widget(form.descriptionPt, translations.pt is not defined ? { 'attr': { 'class': 'form-control'}} : { 'attr': { 'class': 'form-control', 'value': translations.pt.description }} ) }}
                    </div>
                    {{ form_errors(form.descriptionPt) }}
                </div>

                <h6 class="label-lg">{{ 'admin.language' | trans }}</h6>
                <img class="flags-lg" src="{{ asset('assets/img/flags/USA.png') }}" alt="English">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="first-name">
                        {{ 'admin.name' | trans }}
                    </label>
                    <div class="col-md-9">
                        {{ form_widget(form.nameEn, translations.en is not defined ? { 'attr': { 'class': 'form-control'}} : { 'attr': { 'class': 'form-control', 'value': translations.en.name }} ) }}
                    </div>
                    {{ form_errors(form.nameEn) }}
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="first-name">
                        {{ 'hotels.description' | trans }}
                    </label>
                    <div class="col-md-9">
                        {{ form_widget(form.descriptionEn, translations.en is not defined ? { 'attr': { 'class': 'form-control'}} : { 'attr': { 'class': 'form-control', 'value': translations.en.description }} ) }}
                    </div>
                    {{ form_errors(form.descriptionEn) }}
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="stars">{{ 'hotels.stars' | trans }}*</label>
                    <div class="col-md-9">
                        {{ form_widget(form.stars, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.stars) }}
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="email">{{ 'hotels.search_menu.type' | trans }}*</label>
                    <div class="col-md-9">
                        {{ form_widget(form.hotelTypes, { 'attr': { 'class': 'form-control', 'style': 'display:none;'}}) }}
                        <select id="hotelType" class="form-control">
                            {% for key,val in form.hotelTypes.vars.choices %}
                                {% set label = 'admin.hotel_type.'~val.label %}
                                <option value="{{ val.value }}" {{  form.hotelTypes.vars.value == '' and key == 0 ? ' selected ' :(val.value == form.hotelTypes.vars.value ? ' selected ' : '') }}>{{ label | trans }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    {{ form_errors(form.hotelTypes) }}
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="stars">{{ 'admin.profile_trip.label' | trans }}*</label>
                    <div class="col-md-9">
                        {{ form_widget(form.profileTrip, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.profileTrip) }}
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="stars">{{ 'hotels.search_menu.hotel_chain' | trans }}*</label>
                    <div class="col-md-9">
                        {{ form_widget(form.hotelChain, { 'attr': { 'class': 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.hotelChain) }}
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-md-3 form-control-label" for="search-address">{{ 'hotels.address' | trans }}*</label>
                        <span class="help-block">{{ 'admin.pick_address' | trans }}</span>
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(form.address, { 'attr': {'class': 'form-control controls', 'required': 'required'}}) }}
                        {{ form_widget(form.latitude) }}
                        {{ form_widget(form.longitude) }}
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom: 0rem;">
                    <div class="col-md-12">
                        <div id="map-canvas"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-12 form-control-label" for="first-name">{{ 'amenities.label' | trans }}*</label>
                    <div class="col-md-12">
                        {% for amenity in amenities %}
                        <div class="col-md-3 checkbox {% if loop.index > 12 %}amenities-hidden{% endif %}" {% if loop.index > 12 %}style="display: none; height: 50px;"{% endif %}>
                            {% if amenityHotels is not defined %}
                                <input id="amenity" type="checkbox" name="amenity[{{ loop.index }}]" value="{{ amenity.id }}">
                            {% else %}
                                <input id="amenity" type="checkbox" name="amenity[{{ loop.index }}]"
                                   value="{{ amenity.id }}"
                                    {% for amenityHotel in amenityHotels %}
                                       {% if amenity.id == amenityHotel.amenity.id %} checked {% endif %}
                                    {% endfor %}
                                >
                            {% endif %}
                            {% set label = 'amenities.'~amenity.name %}
                            <span>{{ label | trans }}</span>
                        </div>
                        {% endfor %}
                         <div class="col-md-12 checkbox">
                                <label style="color:#008CD1" class="amenities-view-toggle" data-type="amenities">{{ 'hotels.search_menu.view_more' | trans }} <i class="glyphicon glyphicon-chevron-down"></i></label>
                                <label style="color:#008CD1" class="amenities-view-toggle hide" data-type="amenities">{{ 'hotels.search_menu.view_less' | trans }} <i class="glyphicon glyphicon-chevron-up"></i></label>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}
            </div>
            <div class="card-footer">
                <a href="{{ path('hotel_list') }}" class="btn btn-sm btn-success"><i class="fa fa-mail-reply"></i> {{ 'admin.back' | trans }}</a>
                <button id="send" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{ 'admin.send' | trans }}</button>
            </div>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    {{ parent() }}
    <style>
        .hide {
            display: none !important;
        }
        #map-canvas {
            height: 400px;
            width: 100%;
        }
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
        #appbundle_hotel_address {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;
        }
        #appbundle_hotel_address:focus {
            border-color: #4d90fe;
        }
        .flags-lg{
            margin-left: 10px;
            width: 20px;
        }
        .label-lg{
            display: inline-block;
        }
    </style>
{% endblock %}

{% block extra_js %}
    {% if entity is defined %}
        {% set lat = entity.latitude %}
        {% set long = entity.longitude %}
    {% else %}
        {% set lat = 0 %}
        {% set long = 0 %}
    {% endif %}
    <script>
        function initialize() {
            var map = new google.maps.Map(document.getElementById("map-canvas"), {
                center: {lat: {{ lat }}, lng: {{ long }} },
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            // Create the search box and link it to the UI element.
            var input = document.getElementById("appbundle_hotel_address");
            var myLatLng = new google.maps.LatLng({{ lat }}, {{ long }});
            marker = new google.maps.Marker( {position: myLatLng, map: map, draggable: true } );
            google.maps.event.addListener(marker, 'dragend', function (event) {
                document.getElementById("appbundle_hotel_latitude").value = this.getPosition().lat();
                document.getElementById("appbundle_hotel_longitude").value = this.getPosition().lng();
                console.log("lat->",this.getPosition().lat());
                console.log("long->",this.getPosition().lng());
            });
            marker.setMap( map );

            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // [START region_getplaces]
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();
                console.log(places[0].geometry);
                document.getElementById("appbundle_hotel_latitude").value = places[0].geometry.viewport.f.b;
                document.getElementById("appbundle_hotel_longitude").value = places[0].geometry.viewport.b.b;
                console.log("auto complete lat->",places[0].geometry.viewport.f.b);
                console.log("auto complete long->",places[0].geometry.viewport.b.b);
                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function(marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    var marker = new google.maps.Marker({
                        map: map,
                        title: place.name,
                        position: place.geometry.location,
                        draggable: true,
                    });
                    // Create a marker for each place.
                    markers.push(marker);

                    google.maps.event.addListener(marker, 'dragend', function (event) {
                        document.getElementById("appbundle_hotel_latitude").value = this.getPosition().lat();
                        document.getElementById("appbundle_hotel_longitude").value = this.getPosition().lng();
                        console.log("lat->",this.getPosition().lat());
                        console.log("long->",this.getPosition().lng());
                    });

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
            // [END region_getplaces]
        }

        $(document).ready(function(){
             $('.amenities-view-toggle').on('click', function () {
                var type = $(this).data('type');
                var selector = '.' + type + '-hidden';

                $(selector).slideToggle();
                $('.' + type + '-view-toggle').toggleClass('hide')
            });

            var checkbox_required = $('input[type="checkbox"]');

            checkbox_required.prop('required', true);

            checkbox_required.on('click', function(){
                if (checkbox_required.is(':checked')) {
                    checkbox_required.prop('required', false);
                } else {
                    checkbox_required.prop('required', true);
                }
            });

            $('#hotelType').change(function(){
                var id = $( this ).val();
                $('#appbundle_hotel_hotelTypes').val(id)
            })

            $('#send').click(function(e){
                var nameEn = $('#appbundle_hotel_nameEn').val();
                var descriptionEn = $('#appbundle_hotel_descriptionEn').val();
                var namePt = $('#appbundle_hotel_namePt').val();
                var descriptionPt = $('#appbundle_hotel_descriptionPt').val();

                if(nameEn == '' || namePt == '' || descriptionEn == '' || descriptionPt == ''){
                    e.preventDefault();
                    $('#confirm').modal('show');
                }
            });

            $('#modal-submit').click(function(){
                $('#form').submit();
                $('#confirm').modal('hide');
            });

            $('#appbundle_hotel_descriptionPt').val($("#appbundle_hotel_descriptionPt").attr("value"));
            $('#appbundle_hotel_descriptionEn').val($("#appbundle_hotel_descriptionEn").attr("value"));

        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt1dtSkxqSIbtWoF-DfeUTZb906mihfh4&libraries=places&callback=initialize"></script>
{% endblock %}