<tr>
    <td>{{ entity.id }}</td>
    <td>{{ entity.name }}</td>
    <td>{{ entity.address }}</td>
    <td>{{ entity.stars }}</td>
    <td>
        {% if entity.hotelTypes %}
            {% set label = 'admin.hotel_type.'~entity.hotelTypes.name %}
            {{ label | trans  }}
        {% endif %}
    </td>
    <td>
        {% if images[loop.index0] is not null and images[loop.index0].hotel.id == entity.id %}
        <a class="thumbnail fancybox" rel="ligthbox" href="{{ asset('uploads/gallery_image/') }}{{ images[loop.index0].imageName }}">
            <img class="img-responsive" src="{{ asset('uploads/gallery_image/') }}{{ images[loop.index0].imageName }}" style="width: 100px;height: 100px;">
        </a>
        {% else %}
            <img src="{{ asset('uploads/gallery_image/320x320.png') }}" style="width: 100px; height: 100px;">
        {% endif %}
    </td>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <td>{{ entity.percentageGain }}</td>
    <td>
        {% if entity.createdBy %}
            {{ entity.createdBy.username }}
        {% endif %}
    </td>
    {% endif %}
    <td>
        <a data-target="#delete-modal" data-toggle="modal" data-whatever="{{ path('hotel_delete', {id: entity.id}) }}" data-toggle="tooltip" title="delete"><i class="fa fa-trash"></i></a>
        <a href="{{ path('hotel_edit', {id: entity.id}) }}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
        <a href="{{ path('hotel_picture_list', {id: entity.id}) }}" data-toggle="tooltip" title="Gallery"><i class="fa fa-picture-o"></i></a>
    </td>
</tr>