{% if items.message is defined %}
    <li class="mfont">{{ 'flights.not_found' | trans }}</li>
{% elseif items.items|length > 0 %}
    {% for item in items.items %}
        <li>
            <form target="_blank" name="flight-form-{{ loop.index }}" id="flight-form-{{ loop.index }}" action="{{ path('viento_sur_send_flight_booking') }}" method="post">
                <div id="thumbsFlights">
                    <div class="row">
                        {% for routes in item.routes %}
                            <div class="col-xs-12 col-sm-10">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-2">
                                                <h3>{{ 'index.search.flight.stretch' | trans }} {{ loop.index }}</h3>
                                            </div>
                                            <div class="col-xs-4 col-sm-5 noPadding">
                                                <h6>{{ routes.segments[0].from }}<span>{{ airportNames[routes.segments[0].from] }}</span></h6>
                                                <h6 class="no-margin-top"><span class="no-margin-left">{{ routes.segments[0].departure_datetime|date("D d F Y") }}</span></h6>
                                            </div>
                                            <div class="col-xs-4 col-sm-5 noPadding">
                                                {% set last = routes.segments|last %}
                                                <h6>{{ last.to }} <span>{{ airportNames[last.to] }}</span></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapse" class="panel-collapse">
                                        <div class="panel-body">
                                            <div class="col-xs-2">
                                                <div class="radioButton">
                                                    <span>
                                                        {% set airlines = [] %}
                                                        {% for segment in routes.segments %}
                                                            {% if segment.airline not in airlines %}
                                                                <img src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ segment.airline }}.png" title="{{ airlineNames[segment.airline] }}" data-loop="{{ loop.length }}"/>
                                                                {% set airlines = airlines|merge([segment.airline]) %}
                                                                {% if loop.length == 1 %}
                                                                    {#{{ airlineNames[segment.airline] }}#}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <p>
                                                    <!-- Salida -->
                                                    {{ routes.segments[0].departure_datetime|date("H:i") }} &nbsp;
                                                    <!-- Escalas -->
                                                    {% set totalSeg = routes.segments|length - 1 %}
                                                    {% if totalSeg == 0 %}
                                                        {{ 'flights.direct' | trans }} &nbsp;
                                                    {% elseif totalSeg == 1 %}
                                                        {{ totalSeg }} {{ 'flights.scale' | trans }} &nbsp;
                                                    {% else %}
                                                        {{ totalSeg }} {{ 'flights.scales' | trans }} &nbsp;
                                                    {% endif %}
                                                    <!-- Llegada -->
                                                    {% set lastSeg = routes.segments|last %}
                                                    {{ lastSeg.arrival_datetime|date("H:i") }} &nbsp;
                                                    <!-- Duracion -->
                                                    {{ routes.duration|split(':')[0] }}h {{ routes.duration|split(':')[1] }}m &nbsp;
                                                </p>
                                            </div>
                                            <div class="col-xs-4 center" style="margin-bottom: 5px">
                                                <span class="btn btn-primary btn-detail" data-toggle="collapse" data-target="#detail-out-{{ loop.parent.loop.index }}-{{ loop.index }}">{{ 'flights.detail' | trans }}</span>
                                            </div>
                                            <div id="detail-out-{{ loop.parent.loop.index }}-{{ loop.index }}" class="collapse col-xs-12">
                                                <div class="table-responsive" style=" overflow-x: visible;">
                                                    <table class="table table-condensed">
                                                        <tr class="active">
                                                            <td>
                                                                <div class="col-xs-12 col-sm-6 noPadding" style="color: #003580;">
                                                                    {% if app.session.get('multipledestinations') is defined %}
                                                                        {{  app.session.get('multipledestinations')[loop.index0].fromFlight|split(',')[0] }}-
                                                                        {{  app.session.get('multipledestinations')[loop.index0].toFlight|split(',')[0] }}
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 text-right duration-time noPadding"  style=" color: #003580;">
                                                                    {{ 'flights.total_duration' | trans }}: {{ routes.duration|split(':')[0] }}h {{ routes.duration|split(':')[1] }}m
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    {% for segment in routes.segments %}
                                                        <div class="inline-detail-airline">
                                                            <div class="inline-detail-airline-wrapper">
                                                        <span class="inline-detail-airline-logo">
                                                            <img src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ segment.airline }}.png" />
                                                        </span>
                                                                <span class="inline-detail-airline-description review-text">
                                                            <span>
                                                                <b>{{ airlineNames[segment.airline] }}</b>
                                                            </span>
                                                        </span>
                                                            </div>
                                                        </div>

                                                        <div class="inline-detail-data">
                                                <span class="inline-detail-route-data">
                                                    <span class="inline-detail-airport">
                                                        <span class="inline-detail-airport-date">
                                                            <span>
                                                                <span class="inline-detail-airport-date-text">{{ 'flights.departure' | trans }}:</span>
                                                                <span>{{ segment.departure_datetime|date("d/m/Y", false) }}</span>
                                                            </span>
                                                        </span>
                                                        <span class="inline-detail-airport-code-wrapper">
                                                            <span class="inline-detail-airport-code inline-mobile-font">{{ segment.from }}</span>
                                                            <span class="inline-detail-airport-hour inline-mobile-font">{{ segment.departure_datetime|date("H:i", false) }}</span>
                                                            {#<span class="night-flight ux-common-icon-night" tooltip="" tooltip-content="Vuelo nocturno" tooltip-id="night-flight-tooltip"></span>#}
                                                        </span>
                                                        <span class="inline-detail-airport-description">
                                                            {{ airportCities[segment.from] }} - {{ airportNames[segment.from] }}
                                                        </span>
                                                    </span>

                                                    <span class="inline-detail-airport-separator">
                                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    </span>

                                                    <span class="inline-detail-airport">
                                                        <span class="inline-detail-airport-date">
                                                            <span>
                                                                <span class="inline-detail-airport-date-text">{{ 'flights.arrival' | trans }}:</span>
                                                                <span class="inline-detail-airport-date-text">{{ segment.arrival_datetime|date("d/m/Y", false) }}</span>
                                                            </span>
                                                        </span>
                                                        <span class="inline-detail-airport-code-wrapper">
                                                            <span class="inline-detail-airport-code">{{ segment.to }}</span>
                                                            <span class="inline-detail-airport-hour">{{ segment.arrival_datetime|date("H:i", false) }}</span>
                                                        </span>
                                                        <span class="inline-detail-airport-description">
                                                            {{ airportCities[segment.to] }} - {{ airportNames[segment.to] }}
                                                        </span>
                                                    </span>
                                                </span>

                                                            <span class="inline-detail-flight">
                                                    <span>
                                                        <span class="inline-detail-flight-data">
                                                            <span>
                                                                <span class="inline-detail-flight-data-title">{{ 'flights.duration' | trans }}</span>
                                                                <span class="inline-detail-flight-data-description">{{ segment.duration|split(':')[0] }}h {{ segment.duration|split(':')[1] }}m</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="inline-detail-flight-data">
                                                        <span>
                                                            <span class="inline-detail-flight-data-title">{{ 'flights.flight' | trans }} N°</span>
                                                            <span class="inline-detail-flight-data-description">{{ segment.flight_id }}</span>
                                                        </span>
                                                    </span>
                                                    <span class="inline-detail-flight-data inline-detail-flight-cabinType">
                                                        <span class="inline-detail-flight-data-title">{{ 'flights.class' | trans }}</span>
                                                        <span class="inline-detail-flight-data-description">{{ segment.cabin_type }}</span>
                                                    </span>
                                                                <!--<span class="inline-detail-flight-airline">
                                                                    <span class="airplane-name">
                                                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                                                        Aeronave
                                                                    </span>
                                                                </span>-->
                                                </span>
                                                        </div>
                                                        <!--
                                                        <span>
                                                            <span class="time detail-time">
                                                                <span class="detail-time-wrapper">
                                                                    <span class="connection">
                                                                        <span class="text">
                                                                            <span class="ux-common-icon-last-buy"></span>
                                                                            Espera de <b>1h 35m</b>&nbsp;en  (PUJ)
                                                                        </span>
                                                                        <span class="connection-type">
                                                                            <span>
                                                                                <span class="icons">
                                                                                    <span class="main-sprite icon-detail-plane icon"></span>
                                                                                </span>
                                                                                (Mismo avión)
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        -->
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="paymentFlight col-xs-12 col-sm-2">
                                <p>{{ 'flights.final_total_price' | trans }}</p>
                                <h5>{% if item.price_detail.total is defined %}
                                        {#$ {{ item.price_detail.total|round|number_format(0, '.', '.') }}#}
                                        {{ symbol }} {{ item.price_detail.total|round| currency_convert_format(targetCurrency,decimal,false)| number_format(0, ',', '.') }}
                                    {% endif %}</h5>
                                <button>{{ 'hotels.buy' | trans }}</button>
                                <input type="hidden" name="item_id" value="{{ item.id }}" />
                                <input type="hidden" name="item_multiple" value="true" />
                                <input type="hidden" name="option_id" value="{{ loop.index }}" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            <span class="booking-item"> <!--cursor-pointer-->
                <div class="row">
                    <div class="col-md-9">
                        {#<ul class="list-group">
                            {% for routes in item.routes %}
                                <div class="flight-data">
                                    <span class="table-data-row">
                                        <span class="flight-type table-data-cell">
                                            <span class="flight-bound">{{ 'index.search.flight.stretch' | trans }} {{ loop.index }}</span>
                                            <span class="flight-bound-text">{{ routes.segments[0].departure_datetime|date("D d F Y") }}</span>
                                        </span>

                                        <span class="departure-location table-data-cell">
                                            <span class="departure-from">{{ routes.segments[0].from }}</span>
                                            <span class="departure-text">{{ airportNames[routes.segments[0].from] }}</span>
                                        </span>
                                        <span class="arrival-location table-data-cell">
                                            {% set last = routes.segments|last %}
                                            <span class="arrival-from">{{ last.to }}</span>
                                            <span class="arrival-text">{{ airportNames[last.to] }}</span>
                                        </span>
                                    </span>
                                </div>
                                <li class="list-group-item">
                                    <div class="flight-list">
                                        <div class="table-data-row">
                                            <span class="table-data-cell">
                                                #}{#<input type="radio" name="optionsRadiosOut{{ loop.parent.loop.index }}" id="optionsRadios{{ loop.parent.loop.index }}-{{ loop.index }}" value="{{ routes.choice }}" {% if loop.index == 1 %}checked{% endif %} />#}{#
                                            </span>
                                            <span class="airline-logo table-data-cell">
                                                {% set airlines = [] %}
                                                {% for segment in routes.segments %}
                                                    {% if segment.airline not in airlines %}
                                                        <img src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ segment.airline }}.png" title="{{ airlineNames[segment.airline] }}" data-loop="{{ loop.length }}"/>
                                                        {% set airlines = airlines|merge([segment.airline]) %}
                                                        {% if loop.length == 1 %}
                                                            {{ airlineNames[segment.airline] }}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                            <span class="departure-time table-data-cell">
                                                {{ routes.segments[0].departure_datetime|date("H:i") }}
                                            </span>
                                            <span class="scales table-data-cell">
                                                {% set totalSeg = routes.segments|length - 1 %}
                                                {% if totalSeg == 0 %}
                                                    {{ 'flights.direct' | trans }}
                                                {% elseif totalSeg == 1 %}
                                                    {{ totalSeg }} {{ 'flights.scale' | trans }}
                                                {% else %}
                                                    {{ totalSeg }} {{ 'flights.scales' | trans }}
                                                {% endif %}
                                            </span>
                                            <span class="arrival-time table-data-cell">
                                                {% set lastSeg = routes.segments|last %}
                                                {{ lastSeg.arrival_datetime|date("H:i") }}
                                                <!--falta diferencia en días desde la partida-->
                                            </span>
                                            <span class="duration table-data-cell">
                                                {{ routes.duration|split(':')[0] }}h {{ routes.duration|split(':')[1] }}m
                                            </span>
                                            <span class="table-data-cell">
                                                <span class="btn btn-primary" data-toggle="collapse" data-target="#detail-out-{{ loop.parent.loop.index }}-{{ loop.index }}" style="float: right">{{ 'flights.detail' | trans }}</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="gap-small"></div>
                                </li>
                            {% endfor %}
                        </ul>#}

                        {% if item.inbound_choices is defined  and item.inbound_choices is not empty %}
                            <div class="flight-data">
                            <span class="table-data-row">
                                <span class="flight-type table-data-cell">
                                    <span class="flight-bound">{{ 'flights.return' | trans }}</span>
                                    <span class="flight-bound-text">{{ item.inbound_choices[0].segments[0].departure_datetime|date("D d F Y") }}</span>
                                </span>
                                <span class="departure-location table-data-cell">
                                    <span class="departure-from">{{ item.inbound_choices[0].segments[0].from }}</span>
                                    <span class="departure-text">{{ airportNames[item.inbound_choices[0].segments[0].from] }}</span>
                                </span>
                                <span class="arrival-location table-data-cell">
                                    {% set last = item.inbound_choices[0].segments|last %}
                                    <span class="arrival-from">{{ last.to }}</span>
                                    <span class="arrival-text">{{ airportNames[last.to] }}</span>
                                </span>
                            </span>
                            </div>

                            <ul class="list-group">
                                {% for inbound in item.inbound_choices %}
                                    <li class="list-group-item">
                                        <div class="flight-list">
                                            <div class="table-data-row">
                                            <span class="table-data-cell">
                                                <input type="radio" name="optionsRadiosIn{{ loop.parent.loop.index }}" id="optionsRadios{{ loop.parent.loop.index }}-{{ loop.index }}" value="{{ inbound.choice }}" {% if loop.index == 1 %}checked{% endif %} />
                                            </span>
                                            <span class="airline-logo table-data-cell">
                                                {% set airlines = [] %}
                                                {% for segment in inbound.segments %}
                                                    {% if segment.airline not in airlines %}
                                                        <img src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ segment.airline }}.png" title="{{ airlineNames[segment.airline] }}" data-loop="{{ loop.length }}"/>
                                                        {% set airlines = airlines|merge([segment.airline]) %}
                                                        {% if loop.length == 1 %}
                                                            {{ airlineNames[segment.airline] }}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                            <span class="departure-time table-data-cell">
                                                {{ inbound.segments[0].departure_datetime|date("H:i") }}
                                            </span>
                                            <span class="scales table-data-cell">
                                                {% set totalSeg = inbound.segments|length - 1 %}
                                                {% if totalSeg == 0 %}
                                                    Directo
                                                {% elseif totalSeg == 1 %}
                                                    {{ totalSeg }} escala
                                                {% else %}
                                                    {{ totalSeg }} escalas
                                                {% endif %}
                                            </span>
                                            <span class="arrival-time table-data-cell">
                                                {% set lastSeg = inbound.segments|last %}
                                                {{ lastSeg.arrival_datetime|date("H:i") }}
                                                <!--falta diferencia en días desde la partida-->
                                            </span>
                                            <span class="duration table-data-cell">
                                                {{ inbound.duration|split(':')[0] }}h {{ inbound.duration|split(':')[1] }}m
                                            </span>
                                            <span class="table-data-cell">
                                                <span class="btn btn-primary" data-toggle="collapse" data-target="#detail-in-{{ loop.parent.loop.index }}-{{ loop.index }}" style="float: right">{{ 'flights.detail' | trans }}</span>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="gap-small"></div>
                                        <div id="detail-in-{{ loop.parent.loop.index }}-{{ loop.index }}" class="collapse">
                                            <div class="table-responsive">
                                                <table class="table table-condensed">
                                                    <tr class="active">
                                                        <td>
                                                            <div style="width: 50%; float: left; color: #003580;">
                                                                {% if app.session.get('origin_flight').text is defined %}{{ app.session.get('origin_flight').text|split(',')[0] }}{% endif %} -
                                                                {% if app.session.get('destination_flight').text is defined %}{{ app.session.get('destination_flight').text|split(',')[0] }}{% endif %}
                                                            </div>
                                                            <div class="text-right" style="width: 50%; float: right; color: #003580;">
                                                                {{ 'flights.total_duration' | trans }}: {{ inbound.duration|split(':')[0] }}h {{ inbound.duration|split(':')[1] }}m
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                                {% for segment in inbound.segments %}
                                                    <div class="inline-detail-airline">
                                                        <div class="inline-detail-airline-wrapper">
                                                        <span class="inline-detail-airline-logo">
                                                            <img src="http://ar.staticontent.com/flights-images/2.1.12/dist/common/airlines/25x25/{{ segment.airline }}.png" />
                                                        </span>
                                                        <span class="inline-detail-airline-description review-text">
                                                            <span>
                                                                <b>{{ airlineNames[segment.airline] }}</b>
                                                            </span>
                                                        </span>
                                                        </div>
                                                    </div>

                                                    <div class="inline-detail-data">
                                                <span class="inline-detail-route-data">
                                                    <span class="inline-detail-airport">
                                                        <span class="inline-detail-airport-date">
                                                            <span>
                                                                <span class="inline-detail-airport-date-text">{{ 'flights.departure' | trans }}:</span>
                                                                <span>{{ segment.departure_datetime|date("d/m/Y", false) }}</span>
                                                            </span>
                                                        </span>
                                                        <span class="inline-detail-airport-code-wrapper">
                                                            <span class="inline-detail-airport-code">{{ segment.from }}</span>
                                                            <span class="inline-detail-airport-hour">{{ segment.departure_datetime|date("H:i", false) }}</span>
                                                            {#<span class="night-flight ux-common-icon-night" tooltip="" tooltip-content="Vuelo nocturno" tooltip-id="night-flight-tooltip"></span>#}
                                                        </span>
                                                        <span class="inline-detail-airport-description">
                                                            {{ airportCities[segment.from] }} - {{ airportNames[segment.from] }}
                                                        </span>
                                                    </span>

                                                    <span class="inline-detail-airport-separator">
                                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    </span>

                                                    <span class="inline-detail-airport">
                                                        <span class="inline-detail-airport-date">
                                                            <span>
                                                                <span class="inline-detail-airport-date-text">{{ 'flights.arrival' | trans }}:</span>
                                                                <span>{{ segment.arrival_datetime|date("d/m/Y", false) }}</span>
                                                            </span>
                                                        </span>
                                                        <span class="inline-detail-airport-code-wrapper">
                                                            <span class="inline-detail-airport-code">{{ segment.to }}</span>
                                                            <span class="inline-detail-airport-hour">{{ segment.arrival_datetime|date("H:i", false) }}</span>
                                                        </span>
                                                        <span class="inline-detail-airport-description">
                                                            {{ airportCities[segment.to] }} - {{ airportNames[segment.to] }}
                                                        </span>
                                                    </span>
                                                </span>

                                                <span class="inline-detail-flight">
                                                    <span>
                                                        <span class="inline-detail-flight-data">
                                                            <span>
                                                                <span class="inline-detail-flight-data-title">{{ 'flights.duration' | trans }}</span>
                                                                <span class="inline-detail-flight-data-description">{{ segment.duration|split(':')[0] }}h {{ segment.duration|split(':')[1] }}m</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="inline-detail-flight-data">
                                                        <span>
                                                            <span class="inline-detail-flight-data-title">{{ 'flights.flight' | trans }} N°</span>
                                                            <span class="inline-detail-flight-data-description">{{ segment.flight_id }}</span>
                                                        </span>
                                                    </span>
                                                    <span class="inline-detail-flight-data inline-detail-flight-cabinType">
                                                        <span class="inline-detail-flight-data-title">{{ 'flights.class' | trans }}</span>
                                                        <span class="inline-detail-flight-data-description">{{ segment.cabin_type }}</span>
                                                    </span>
                                                </span>
                                                    </div>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {#{{ dump(item) }}#}

                    </div>
                    {#<div class="col-md-3 booking-prices align-center cursor-pointer" data-item="{{ loop.index }}">
                        <div class="booking-align-vertical"> <span class="booking-item-price-night">{{ 'flights.final_total_price' | trans }}</span>
                            <span class="booking-item-price">
                                {% if item.price_detail.total is defined %}
                                    #}{#$ {{ item.price_detail.total|round|number_format(0, '.', '.') }}#}{#
                                    {{ symbol }} {{ item.price_detail.total|round| currency_convert_format(targetCurrency,decimal,false)| number_format(0, ',', '.') }}
                                {% endif %}
                            </span>
                            <span class="btn btn-primary">{{ 'hotels.buy' | trans }}</span>
                        </div>
                        <input type="hidden" name="item_id" value="{{ item.id }}" />
                        <input type="hidden" name="item_multiple" value="true" />

                        <input type="hidden" name="option_id" value="{{ loop.index }}" />
                    </div>#}
                </div>
            </span>
            </form>
        </li>
    {%endfor%}
{% else %}
    <li class="mfont">{{ 'flights.not_found' | trans }}</li>
{% endif %}