{% extends 'VientoSurAppAppBundle::layoutHotel.html.twig' %}
{% block title %}Búsqueda de Actividades{% endblock %}

{% block banner %}
    {% include '@VientoSurAppApp/_partial/banner.html.twig' %}
{% endblock %}

{#{% block switch_service %}
    {% include '@VientoSurAppApp/_partial/navBar.html.twig' %}
{% endblock %}#}

{% block breadcrumb %}
    {% embed '@VientoSurAppApp/_partial/breadcrumb.html.twig' %}
        {% block section %}Actividades{% endblock %}
        {% block sub_section %}Detalle de actividades{% endblock %}
    {% endembed %}
{% endblock %}
{% block content %}
    {{ parent() }}  
    <div class="container" style="max-width: 1170px;">
        <div class="wrapperSearch">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="message" class="totalHotels">{{ pagination.getTotalItemCount }}  {{ 'activity.activity_availabilities' | trans({'%place%': app.session.get('destination_activity').text|split(',')[0]}) }}</h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-9 col-sm-push-3 " style="padding-left: 5px!important;">
                        <div id="thumbsSearch">
                            {% include '@VientoSurAppApp/Activity/filterSortTop.html.twig' %}
                            {% include '@VientoSurAppApp/Activity/listDetailActivity.html.twig' %}
                            {% include 'VientoSurAppAppBundle:_partial:pagination.html.twig' %}
                        </div>
                    </div>
                    {% include '@VientoSurAppApp/Activity/searchMenuLeft.html.twig' %}
                </div>
            </div>
        </div>
        {% include 'VientoSurAppAppBundle:Activity:activityMapModal.html.twig' %}
    </div>
    <style>
        a.nav-drop-menu-a.mobile {
            color: #1d2d33;
        }
    </style>
{% endblock %}    
{% block javascripts %}
    {{ parent() }}
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>   
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/> 
    <script src="{{ asset('js/activity.js') }}"></script> 
    <script type="text/javascript">
        $(document).ready(function () {
            var latLng;
            var hotelName;
            
            $('.ListHotel').on('click', '.booking-item, .booking-item-address', function (event) {
                event.stopPropagation();
                var element = event.target;
                if ($(element).data('prevent') != 'modal') {
                    window.open(this.dataset.href, '_blank');
                } else {
                    latLng = {lat: $(element).data('latitude'), lng: $(element).data('longitude')};
                    hotelName = $(element).data('name');
                    console.log(latLng);
                    $('#mapModal').modal('show');
                    $('#myModalLabel').text(hotelName);
                }
            });

            $('#mapModal').on('shown.bs.modal', function (e) {
                L.mapquest.key = 'vcdIMmp9OiCGm1lsGE4Z1QRz5AVABDyG';

                // 'map' refers to a <div> element with the ID map
                var map = L.mapquest.map('mapHotel', {
                  center: latLng,
                  layers: L.mapquest.tileLayer('map'),
                  zoom: 12
                });
                
                L.mapquest.textMarker(latLng, {
                    text: hotelName,
                    position: 'right',
                    type: 'marker',
                    icon: {
                      primaryColor: '#333333',
                      secondaryColor: '#333333',
                      size: 'sm'
                    }
                  }).addTo(map);
                
            });
        });
    </script>    
{% endblock %}    
