{% if not pagination | length  %}
    <li>No se encontraron Actividades disponibles</li>
{% else %}
    {% set targetCurrency = app.session.get('targetCurrency') %}
    {% if targetCurrency == 'USD' %}
        {% set symbol = 'US$' %}
    {% elseif targetCurrency == 'ARS' %}
        {% set symbol = 'AR$' %}
    {% endif %}
    {% set decimal =false %}
    <div class="ListHotel">

        {% for item in pagination %}
        <span class="booking-item cursor-pointer" data-href="{#{{ path('viento_sur_app_app_homepage_show_hotel_id',{'_locale': app.request.locale, 'idHotel': item.id, 'checkin_date': reservation.checkin_date, 'checkout_date': reservation.checkout_date, 'distribution': reservation.distribution, 'latitude': item.hotel.location.latitude, 'longitude':item.hotel.location.longitude})}}#}">
                <div id="thumbHotel">

                    <div class="imgHotel col-xs-4">
                        <img src="" width="200" height="150"
                             alt="{{ item.name }}">
                    </div>
                    <div class="infoHotel col-xs-12 col-sm-6 noPadding">
                        <h4 title="{{ item.name }} - {{ 'activity.activity_in' | trans }} {{ app.session.get('destination_activity').text }} - VientoSur.net">
                                {{ item.name }}
                        </h4>
                        <div class="row">
                            <div class="col-sm-6 star-div">
                                {# {{ item.getFirstDay() }} #}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="modalMap" style="font-size: 12px">
                                    <i class="fa fa-map-marker fa-lg input-icon"  style="font-size: 15px"></i>&nbsp;
                                    <a class="booking-item-address" data-prevent="modal"
                                       data-latitude="{{ item.latitude }}"
                                       data-longitude="{{ item.longitude }}"
                                       data-name="{{ item.name }}">
                                        {{ app.session.get('destination_activity')['text'] }} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-2 textRight priceRoom">
                        <p> Precio final por adulto </p>
                            <h5>{{ 'flights.since' | trans }} {{ symbol }} {{ item.price|round|currency_convert_format(targetCurrency, decimal, false)|number_format(0, '.', '.') }}</h5>

                            <button>{{ 'hotels.show_rooms' | trans }} <i class="fa fa-angle-right input-icon" style="font-size: 16px; font-weight: bold; text-align: right; margin-left: 4px"></i></button>
                    </div>
                </div>
            {#</a>#}
        </span>
        {% endfor %}
    </div>
{%endif%}