{% extends ':admin:base.html.twig' %}

{% block title %}Lista de Actividades{% endblock %}

{% block top_content %}
    {% embed ':_partial:breadcrumb.html.twig' %}
        {% block breadcrumb %}Lista de Actividades{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Lista de Actividades
            </div>
            <div class="card-block">
                <div class="count">
                    <h6>{{ 'admin.total_records' | trans }}: 2</h6>
                </div>
                <div class="search">
                    <form action="">
                        <input type="text" name="query" class="form-group" value="{{ app.request.get('query') }}" placeholder="{{ 'admin.search' | trans }}">
                        <button class="btn btn-sm btn-success">{{ 'hotels.search_menu.apply' | trans }}</button>
                        {% if app.request.get('query') %}
                            <a href="{{ path('promotion_sections_list') }}" class="btn btn-sm btn-danger">{{ 'admin.delete' | trans }}</a>
                        {% endif %}
                    </form>
                </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'admin.period' | trans }}</th>
                            <th>Actividad</th>
                            <th>Destino</th>
                            <th>Duración</th>
                            <th>Periodo</th>
                            <th>Estado</th>
                            <th>{{ 'admin.actions' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% if is_granted('ROLE_ADMIN') %}
                                {% include ':admin/activity:list_content.html.twig' %}
                            {% endif %}
                        </tbody>
                    </table>            
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    {{ parent() }}
    <style>
        .search {
            display: inline-block;
            float: right;
        }
        .count {
            display: inline-block;
        }
        h6.box-title{
            margin-top: 50px;
        }
    </style>
{% endblock %}